Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update with review changes from Enrico
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Docs/Applications/Orthopedics_and_rehab/femoral-torsion.png
  Docs/Applications/Orthopedics_and_rehab/femoral-torsion_2.png
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
Due: other_tests, Application_tests, test_docs

Update colors and visuals
  Docs/Applications/Orthopedics_and_rehab/femoral-torsion.png
  Docs/Applications/images/FemoralTorsion.jpg
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
Due: other_tests, Application_tests, test_docs

Update changelog entry
  CHANGELOG.md
Due: none

fix
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
Due: test_docs

fix changelog build problems
  CHANGELOG.md
Due: none

Fix _SCALING_XYZ_ and CUSTOM_SCALING, and detailed hand compatability
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Use same femoral torsion value in docs and example
  Application/Examples/FemoralTorsion/StandingModel.Main.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Custom scaling fix (#617)
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Body/AAUHuman/Scaling/ScalingCustom.any
  CHANGELOG.md
Due: other_tests, Application_tests

Fix CI runs when changelog has been modified
  .github/workflows/ammr-doc.yaml
Due: none

Add warning when using femoral torsion tool with other leg models.
  Application/Examples/FemoralTorsion/Model/BodyModelConfiguration.any
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
  Tools/ModelUtilities/FemoralTorsion/Include.any
Due: other_tests, Application_tests, test_docs

Fix function profile bspline & drawing of forces
  Tools/GRFPrediction/ContactSurfaceDistanceAndVelocityDepLinPush.any
Due: other_tests, Application_tests

add changelog entries
  CHANGELOG.md
Due: none

Fix correct use of std mass param for pelvis seg (#616)
  Body/AAUHuman/Trunk/StandardParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

update test trigger helper
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
  Tests/tools.any
Due: other_tests, Application_tests

upd test trigger time
  Tests/Scaling/test_body_stature.any
Due: other_tests, Application_tests

Grid utility macros (#612)
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  CHANGELOG.md
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Rename clavicle mass to shoulder
  Application/Examples/BikeModel/Model/AnyMan.any
  Application/Examples/CrossTrainer/Model/AnyManUniform.any
  Application/Examples/SpineFixationWithForceDepKinematics/Model/AnyManUniform.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyMan.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManExtPercentile.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManExternal.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManUniform.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManXYZ.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyWomanExtPercentile.any
  Application/Validation/GaitVaughan/Model/AnyMan.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStanding/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/AnyManUniform.any
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/Scaling/AnyFamily/AnyMan.any
  Body/AAUHuman/Scaling/AnyFamily/AnyManExtPercentile.any
  Body/AAUHuman/Scaling/AnyFamily/AnyManExternal.any
  Body/AAUHuman/Scaling/AnyFamily/AnyManUniform.any
  Body/AAUHuman/Scaling/AnyFamily/AnyManXYZ.any
  Body/AAUHuman/Scaling/AnyFamily/AnyWomanExtPercentile.any
  Body/AAUHuman/Scaling/ScalingLengthMass.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingLengthMassFatModified.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
  Docs/Scaling/_static/lesson1/AnyManBigFemur.any
  Docs/Scaling/_static/lesson1/AnyManLengthMass.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrect.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrectSmaller.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrectSmaller90kg.any
  Docs/Scaling/_static/lesson1/AnyManUniformCorrect.any
  Docs/Scaling/_static/lesson3/AnyManXYZ.any
  Docs/Scaling/_static/lesson3/AnyManXYZ.final.any
  Docs/Scaling/lesson1.md
  Tools/AnyMocap/ScalingLengthMassFat_TrunkWidthScaling.any
Due: other_tests, Application_tests, test_docs

Update ammr-doc.yaml
  .github/workflows/ammr-doc.yaml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix to ContactSurfaceDistanceAndVelocityDepLinPush (#618)
  CHANGELOG.md
  Tools/GRFPrediction/ContactSurfaceDistanceAndVelocityDepLinPush.any
Due: other_tests, Application_tests

add "not in range" helper func
  Tests/tools.any
Due: other_tests, Application_tests

add bodymass test
  Tests/Scaling/test_bodymass.any
Due: other_tests, Application_tests

Run nighly tests on 7.4_beta
  .github/workflows/nighly-tests.yml
Due: none

Fix syntax in CI file
  .github/workflows/nighly-tests.yml
Due: none

Log the duration of individual nightly tests
  .github/workflows/nighly-tests.yml
Due: none

start symmetry test by comparing masses & lengths
  Tests/Symmetry/test_static_symmetry.any
Due: other_tests, Application_tests

change paths to avoid running into #1601
  Tests/Scaling/test_bodymass.any
Due: other_tests, Application_tests

update documentation
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

add test on individual segment lengths
  Tests/Scaling/test_segment_lengths.any
Due: other_tests, Application_tests

Apply suggestions from code review
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

Update CI, Run both 7.4 beta and 7.3
  .github/workflows/nighly-tests.yml
Due: none

headWidth/headDepth comment fix (#621)
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

Fix wrong syntax for BM_HAND_MODEL
  Tests/BM combinations/test_ruhm.any
Due: other_tests, Application_tests

Only include hand calibration when arm muscles are on
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
Due: other_tests, Application_tests
