Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

refactor linked toes driver to include the measure inside the driver
  Body/AAUHuman/FootGM/JntRigidToeFlex.any
Due: other_tests, Application_tests

Adjust handpositions on the handlebar
  Application/Examples/BikeModel/Model/BikeFrameAndWheels.any
Due: other_tests, Application_tests

Fix image shown in example
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
  Application/Examples/BikeModel/Model/Mannequin.any
  Docs/Applications/Sports/BikeModel.md
Due: other_tests, Application_tests, test_docs

Update neck extension value in Mannequin.any
  Application/Examples/BikeModel/Model/Mannequin.any
Due: other_tests, Application_tests

Use correct line continuation char
  .github/workflows/ammr-doc.yaml
Due: none

Use pixi's new environments (#916)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  Docs/pixi.lock
  Docs/pixi.toml
  pixi.lock
  pixi.toml
Due: test_docs

Specify the environments to cache
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Specify the environments to cache (#918)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

CI: cache key is needed when cache-write key is given
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

CI: cache key is needed when cache-write key is given (#919)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update setup-pixi and remove cache var no longer needed
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update setup-pixi and remove cache var no longer needed (#920)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update the posture of the Bike Model (#917)
  Application/Examples/BikeModel/Model/BikeFrameAndWheels.any
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
  Application/Examples/BikeModel/Model/Mannequin.any
  Docs/Applications/Sports/BikeModel.md
Due: other_tests, Application_tests, test_docs

Add toe flexion drivers through class template in ExtraDrivers.any.
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ExtraDrivers.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Make xopy of bvh xsens model to start bvh xsens model with toe flex
  Application/MocapExamples/BVH_Xsens_ToeFlex/BVH-files/S01_Trial01.bvh
  Application/MocapExamples/BVH_Xsens_ToeFlex/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/CreateVideo.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/Output/.gitkeep
  Application/MocapExamples/BVH_Xsens_ToeFlex/Subjects/S1/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/Subjects/S1/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/libdef.any
Due: other_tests, Application_tests

update xsens bvh protocol to include ref frames for foot segments
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

update create foot nodes class template to include ref frames inside foot segment
  Tools/GRFPrediction/CreateFootNodes.any
Due: other_tests, Application_tests

add new nodes in gm foot model for mocap models.
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

Change ARel of MtPhal joint on Proximal Phalange 1 to orient the movement better
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

Adapt bvh xsens model for toe flexion
  Application/MocapExamples/BVH_Xsens_ToeFlex/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/XsensBVH_ToeTip.any
Due: other_tests, Application_tests

Add thighter kinematic tolerances for test models
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_ArmCurl.any
  Tests/Applications/test_BenchPress.any
  Tests/Applications/test_BergmannGH.any
  Tests/Applications/test_BikeModel-FullBody.any
  Tests/Applications/test_BikeModel-LowerBody.any
  Tests/Applications/test_BikeModel.any
  Tests/Applications/test_BikeModel2D.any
  Tests/Applications/test_CrossTrainer.any
  Tests/Applications/test_FemoralTorsion.any
  Tests/Applications/test_FreePostureFullBodyMove.any
  Tests/Applications/test_FreePostureFullBodyShoulderRhythmMove.any
  Tests/Applications/test_FreePostureFullBodyShoulderRhythmStatic.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/Applications/test_GaitVaughan.any
  Tests/Applications/test_JumpingJack.any
  Tests/Applications/test_KneeForceExample.any
  Tests/Applications/test_LegPressMachine.any
  Tests/Applications/test_MandibleChewingAndClenching.any
  Tests/Applications/test_MaxForceNeckModel.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_PedalDemoConditional.any
  Tests/Applications/test_PushUp.any
  Tests/Applications/test_SeatedHuman.any
  Tests/Applications/test_SeatedHumanFullWithNeck.any
  Tests/Applications/test_ShoulderBag.any
  Tests/Applications/test_Squat.any
  Tests/Applications/test_StandingLift.any
  Tests/Applications/test_StandingLiftFEA.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_THA-KneeBendDemo.any
  Tests/Applications/test_WheelChairRancho.any
  Tests/Applications/test_WheelTurn.any
  Tests/libdef.any
  Tests/tools.any
Due: other_tests, Application_tests

Relax kin tol a bit on some tests to ensure they still run
  Tests/Applications/test_BikeModel-FullBody.any
  Tests/Applications/test_BikeModel-LowerBody.any
  Tests/Applications/test_StandingLift.any
  Tests/Applications/test_StandingLiftFEA.any
  Tests/tools.any
Due: other_tests, Application_tests

Add tighter kinematic tolerances for test models (#922)
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_ArmCurl.any
  Tests/Applications/test_BenchPress.any
  Tests/Applications/test_BergmannGH.any
  Tests/Applications/test_BikeModel-FullBody.any
  Tests/Applications/test_BikeModel-LowerBody.any
  Tests/Applications/test_BikeModel.any
  Tests/Applications/test_BikeModel2D.any
  Tests/Applications/test_CrossTrainer.any
  Tests/Applications/test_FemoralTorsion.any
  Tests/Applications/test_FreePostureFullBodyMove.any
  Tests/Applications/test_FreePostureFullBodyShoulderRhythmMove.any
  Tests/Applications/test_FreePostureFullBodyShoulderRhythmStatic.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/Applications/test_GaitVaughan.any
  Tests/Applications/test_JumpingJack.any
  Tests/Applications/test_KneeForceExample.any
  Tests/Applications/test_LegPressMachine.any
  Tests/Applications/test_MandibleChewingAndClenching.any
  Tests/Applications/test_MaxForceNeckModel.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_PedalDemoConditional.any
  Tests/Applications/test_PushUp.any
  Tests/Applications/test_SeatedHuman.any
  Tests/Applications/test_SeatedHumanFullWithNeck.any
  Tests/Applications/test_ShoulderBag.any
  Tests/Applications/test_Squat.any
  Tests/Applications/test_StandingLift.any
  Tests/Applications/test_StandingLiftFEA.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_THA-KneeBendDemo.any
  Tests/Applications/test_WheelChairRancho.any
  Tests/Applications/test_WheelTurn.any
  Tests/libdef.any
  Tests/tools.any
Due: other_tests, Application_tests

fix debug option in create video class template
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

make new video for tlem2 doc page
  Docs/body/_static/TLEM2_media.any
  Docs/body/_static/TLEM2_rotating_model.mp4
Due: test_docs

auto update from documentation build
  Docs/Applications/Sports/gallery.txt
Due: test_docs

Tlem doc video (#923)
  Docs/Applications/Sports/gallery.txt
  Docs/body/_static/TLEM2_media.any
  Docs/body/_static/TLEM2_rotating_model.mp4
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Add BM statement for foot model ligaments
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Include joint muscles for toes and switch off foot model ligaments
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/FootGM/GM_foot.root.any
  Body/AAUHuman/FootGM/JointMusclesFoot.any
Due: other_tests, Application_tests

Switch off drawing of muscle control seg
  Body/AAUHuman/FootGM/MusControlSeg.any
Due: other_tests, Application_tests

Use AMS 8 beta4
  pixi.lock
  pixi.toml
Due: none

Remove commented out code in test_WheelChairRancho.any
  Tests/Applications/test_WheelChairRancho.any
Due: other_tests, Application_tests

Add error expectation for extrapolations in test_WheelChairRancho.any
  Tests/Applications/test_WheelChairRancho.any
Due: other_tests, Application_tests

Use AMS 8 beta4 (#924)
  Tests/Applications/test_WheelChairRancho.any
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests

Update AMMR docs for release
  AMMR.version.any
  CHANGELOG.md
  Docs/body/thoracic_model.md
  Docs/conf.py
  Docs/getting_started.md
  Docs/index.md
  Docs/migration.md
Due: test_docs

small typo
  Docs/migration.md
Due: test_docs

Fix broken link to download page
  CHANGELOG.md
Due: none

fix broken link in getting_started.md
  Docs/getting_started.md
Due: test_docs

Update AMMR docs for release (#925)
  AMMR.version.any
  CHANGELOG.md
  Docs/body/thoracic_model.md
  Docs/conf.py
  Docs/getting_started.md
  Docs/index.md
  Docs/migration.md
Due: test_docs

Add low kinematic tolerance for FDK optimization
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
Due: other_tests, Application_tests
