Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Move talus seg inside of foot seg.
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Fix ankle joint axis to be the same direction as in original TLEM dataset
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
Due: other_tests, Application_tests

Change name AnkleJointInDefaultConf to AnkleJointInNeutralConf
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Updated malleoli after ankle joint update
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Fix subtalar joint axis to be the same direction as in original TLEM dataset
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
Due: other_tests, Application_tests

update talus compatibility frame for AMMR 2.4
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Assume FDK velocity bug is fixed
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Ignore pytest warnings from nunit
  pytest.ini
Due: none

add changelog for tlem foot fixes
  CHANGELOG.md
Due: none

Add changelog
  Body/AAUHuman/CHANGELOG.md
Due: other_tests, Application_tests

Change use of _LEG_MODEL_TLEM_ to _LEG_MODEL_TLEM2_
  Application/Examples/FreePosture/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDriversConstant.any
  Application/Examples/FreePosture/Model/JointsAndDriversInterpolation.any
  Application/Examples/ShoulderBag/Model/JointsAndDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawExternalMeasures.any
  Application/Examples/StandingModelScalingDisplay/Model/JointsAndDrivers.any
  Application/Examples/StandingPosturePredictionWithLoad/Model/BodyModelConfig.any
  Application/Examples/THA-KneeBendDemo/Model/BodyModelConfiguration.any
  Application/Examples/THA-KneeBendDemo/Model/JointsAndDrivers.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleLeft.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
  Body/AAUHuman/Trunk/PelvisInterfaceMorphing.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Docs/_static/Cool_Guy/cool_guy/Model/LeftFootDrivers.any
  Docs/_static/Cool_Guy/cool_guy/Model/RightFootDrivers.any
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Tests/AnyMocap/Test_ExternalDesVar.any
  Tests/AnyMocap/Test_IndividualMarkerCutoffFrequency.any
  Tests/AnyMocap/Test_MarkerWeightExample.any
  Tests/AnyMocap/Test_gait_cycle_abscissa.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/BM combinations/test_bm_bodypart.any
  Tests/BM combinations/test_bm_bodypart_fullbody.any
  Tests/BM combinations/test_bm_bodypart_lower.any
  Tests/BM combinations/test_bm_leg_muscles.any
  Tests/Symmetry/DynamicTest/Model/JointsAndDriversConstant.any
  Tests/Symmetry/DynamicTest/Model/JointsAndDriversInterpolation.any
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
  Tests/plugins/BodyModelConfiguration.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests, test_docs

Ignore deprecation warnings in tests
  Body/AAUHuman/Trunk/PelvisSeg.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

remove accidental commit
  Body/AAUHuman/CHANGELOG.md
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

fix typos in changelog
  CHANGELOG.md
Due: none

Bug fix anatomical frame orientation. Left foot was incorrect
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Revert "Fix subtalar joint axis to be the same direction as in original TLEM dataset"
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
Due: other_tests, Application_tests

Remove deprecated use of AnyKinPointSurface
  Application/Examples/SpineFixationWithForceDepKinematics/Model/FacetJoints.new/FacetContForces.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/ThoraxScapulaContactPoints.any
Due: other_tests, Application_tests

Remove special test case for 7.5
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Revert "update talus compatibility frame for AMMR 2.4"
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Remove TLEM2 code from Deprecated TLEM1 folder
  Body/AAUHuman/LegTLEM1/Leg.root.any
  Body/AAUHuman/LegTLEM1/LegMuscleNames.any
  Body/AAUHuman/LegTLEM1/Mus.any
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/LegTLEM1/legmuscles_for_output.any
Due: other_tests, Application_tests

Remove TLEM1 guards in deprecated TLEM1 code
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/LegTLEM1/Leg.root.any
  Body/AAUHuman/LegTLEM1/LegMuscleNames.any
  Body/AAUHuman/LegTLEM1/Mus.any
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/LegTLEM1/StandardParameters.any
  Body/AAUHuman/LegTLEM1/TLEM1.2/PreprocDefaults.any
  Body/AAUHuman/LegTLEM1/legmuscles_for_output.any
Due: other_tests, Application_tests

Restore accidental deletion
  Body/AAUHuman/LegTLEM1/Seg.any
Due: other_tests, Application_tests

Update git attributes line ending settings
  .gitattributes
Due: none

Update auto generated doc files
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: test_docs

Update 2.5 docs
  CHANGELOG.md
  Docs/about.md
  Docs/contribute.md
  Docs/environment.yaml
  Docs/index.md
Due: test_docs

Normalize line endings
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

update documentation
  CHANGELOG.md
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Docs/body/leg_tlem2_model.md
  Docs/body/leg_tlem_model.md
  Docs/body/models.md
  Docs/getting_started.md
Due: test_docs

Update ModelJointParameters.any: use normalize instead of vnorm
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
Due: other_tests, Application_tests

Delete slightly lateral comment from heel plantar node
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Second iteration on TLEM 2.2 docs
  Docs/body/leg_tlem2_model.md
Due: test_docs

Tlem foot fixes (#800)
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/talus.anysurf3
  CHANGELOG.md
  Docs/body/leg_tlem2_model.md
  Docs/body/leg_tlem_model.md
  Docs/body/models.md
  Docs/getting_started.md
Due: other_tests, Application_tests, test_docs

Fix typos TLEM2 doc page
  Docs/body/leg_tlem2_model.md
Due: test_docs

Handle broken links
  CHANGELOG.md
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Scaling/intro.md
  Docs/body/cervical_spine_model.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/regensburg_ulm_hand_model.md
  Docs/body/shoulder_arm_model.md
  Docs/conf.py
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
