Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#992)
  Tests/.test_durations
Due: other_tests, Application_tests

Fix: Updated the version check in template libdef (#993)
  Tools/Templates/Human/libdef.any
Due: other_tests, Application_tests

feat(Trunk): Abdomen kinematics (#18)
  Application/Examples/BoxLiftFromGround/JointsAndDrivers.any
  Application/Examples/BoxLiftFromGround/Mannequin.any
  Application/Validation/EvaluateMomentArms/EvaluateMomentArms_IVJs.main.any
  Body/AAUHuman/Arm/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateMomentArmsSequence.any
  Body/AAUHuman/LegTLEM/EvaluateMomentArmsStudy.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
  Body/AAUHuman/LegTLEM1/TLEM1.2/ModelSegmentParameters.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
  Body/AAUHuman/Trunk/AbdomenPassiveReactions.any
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_L1Ribcage.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_PelvicL5.any
  Body/AAUHuman/Trunk/Abdominal/LayerConstraints.any
  Body/AAUHuman/Trunk/Abdominal/Pelvic_Layer.any
  Body/AAUHuman/Trunk/CreateMeshForWrapping.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_AxialRotation.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_Extension.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_LateralBending.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy_IVJs.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Tests/Thoracic/load_pos.any
Due: other_tests, Application_tests

Added TRI(N) and TOTAL_POLYLINE_LENGTH(P) code macros
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  CHANGELOG.md
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Added TRI(N) and TOTAL_POLYLINE_LENGTH(P) code macros (#997)
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  CHANGELOG.md
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

fix: Renamed code macros and templates for spline muscles (#22)
  Body/AAUHuman/BodyModels/GenericBodyModel/Spline.ClassTemplate.any
  Body/AAUHuman/BodyModels/GenericBodyModel/SplineMuscle.ClassTemplate.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
Due: other_tests, Application_tests

feat(Trunk): Documentation update (#20)
  Docs/body/_static/PelvisLeg_PelvisTrunk.jpg
  Docs/body/_static/PelvisLeg_PelvisTrunk.pub
  Docs/body/_static/PelvisMorphed_PelvisTrunk.jpg
  Docs/body/leg_tlem2_model.md
Due: test_docs

fix: Cervical spine axial rotation rhythm coefficient fix (#23)
  Body/AAUHuman/Trunk/JointsCervical.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: Fix latissimus ellipsoid scaling bug (#24)
  Body/AAUHuman/Arm/ThoraxWrappingSurfaces.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

fix: Updated cervical rhythm implmentation (#25)
  Application/Examples/ThoracicModel/Thoracic.main.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Trunk/JointsCervical.any
  Body/AAUHuman/Trunk/JointsThorax.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

add new options for gluteus medius insertion
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Add new insertion points for gluteus medius.
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Updated gluteus medius origin and insertions
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Clean up: remove unnecessary switches and configurations for gluteus medius.
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Updated insertions and origin for Gluteus medius (#999)
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: Longus colli neck muscles (#28)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Body/AAUHuman/Trunk/muscle-models-trunk-simple.any
  Body/AAUHuman/Trunk/muscle-models-trunk.any
Due: other_tests, Application_tests

Ignored link failures to web.archive.org. Currently down due to hacking attacks
  Docs/conf.py
Due: test_docs

Ignored link failures to web.archive.org. Currently down due to hacking attacks (#1000)
  Docs/conf.py
Due: test_docs

Updated changelog and versions in AMMR
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  CHANGELOG.md
  Docs/conf.py
  Docs/creating_model_from_scratch.md
Due: other_tests, Application_tests, test_docs

Updated changelog and versions in AMMR (#1001)
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  CHANGELOG.md
  Docs/conf.py
  Docs/creating_model_from_scratch.md
Due: other_tests, Application_tests, test_docs

feat: Neck_Moment_Arm_Studies (#29)
  Application/Validation/EvaluateMomentArms/EvaluateMomentArms_IVJs.main.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateMomentArmsSequence.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_AxialRotation.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_Extension.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence_IVJs_LateralBending.any
  Body/AAUHuman/Trunk/IncludeArms_In_MomentArmStudy.any
  Docs/conf.py
Due: other_tests, Application_tests, test_docs

test: Updated anybodycon dependency to use new 8.1 beta (build with vs2022)
  pixi.lock
  pixi.toml
Due: none

test: Updated test system to use 8.1 beta (#1002)
  pixi.lock
  pixi.toml
Due: none

Updated dependency and lock file
  pixi.lock
  pixi.toml
Due: none

try to use anybodycon with cmd shim
  pixi.lock
  pixi.toml
Due: none

Updated dependency and lock file (#1003)
  pixi.lock
  pixi.toml
Due: none

feat: OIC_8_extra use its own muscle model (#30)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Body/AAUHuman/Trunk/muscle-models-trunk-simple.any
  Body/AAUHuman/Trunk/muscle-models-trunk.any
Due: other_tests, Application_tests

Fixed paperpile links which have changed format
  Docs/Scaling/intro.md
  Docs/body/leg_tlem_model.md
  Docs/body/shoulder_arm_model.md
Due: test_docs

Fixed paperpile links which have changed format (#1004)
  Docs/Scaling/intro.md
  Docs/body/leg_tlem_model.md
  Docs/body/shoulder_arm_model.md
Due: test_docs

feat: Add y rotation actuator to abdomen layer (#32)
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
Due: other_tests, Application_tests

first part of rhyhm docs work
  Docs/body/spine-rhythm.md
  Docs/body/thoracic_model.md
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests, test_docs

initial commit
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/RadiusMuscleGeometry.any
Due: other_tests, Application_tests

Code cleanup: remove BM statement and unused objects
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/RadiusMuscleGeometry.any
Due: other_tests, Application_tests

update changelog
  CHANGELOG.md
Due: none

fix: Change wrapping surface from cylinder to ellipsoid for muscles at the wrist #33 (#1005)
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/RadiusMuscleGeometry.any
  CHANGELOG.md
Due: other_tests, Application_tests

Fixed typos in BM_TRUNK_DISC_STIFFNESS name
  Body/AAUHuman/bm-parameters.toml
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
