Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

fix: update anybodycon dependency version to 8.1.3
  pixi.lock
  pixi.toml
Due: none

AnyMocap joint-angle-interpolation : Avoid NaNs in intermediate values when files have no data
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

Test fixture : Made one more setting optional by ??=
  Tests/tools.any
Due: other_tests, Application_tests

Add anylink extension to ammr
  Docs/conf.py
  Docs/exts/anylink-npm-path.js
  Docs/exts/anylink.css
  Docs/exts/anylink.js
  Docs/exts/anylink.py
Due: test_docs

test: Two improvements for tests (#1074)
  Tests/tools.any
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

fix: removing ignore errors of penetration and overloaded muscles (#102)
  Tests/Body/Trunk/Abdominal/test_Abdominal.any
Due: other_tests, Application_tests

fix: Fix CAVITY_DISCRETIZATION error, separate nodes (#101)
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/Layer.any
  Body/AAUHuman/Trunk/Abdominal/Pelvic_Layer.any
  Body/AAUHuman/Trunk/CreateMeshForWrapping.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
Due: other_tests, Application_tests

Update contact thresholds to ensure contact with all the nodes in footrest and backrest support
  Application/Examples/LegPressMachine/Model/BackrestSupport.any
  Application/Examples/LegPressMachine/Model/FootrestSupport.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
  Docs/Applications/Sports/LegPressMachine.md
Due: test_docs

fix: Bugfix leg press machine model (#1076)
  Application/Examples/LegPressMachine/Model/BackrestSupport.any
  Application/Examples/LegPressMachine/Model/FootrestSupport.any
  CHANGELOG.md
  Docs/Applications/Sports/LegPressMachine.md
Due: other_tests, Application_tests, test_docs

test: Update tests to use 8.1.4beta2
  pixi.lock
  pixi.toml
Due: none

test: Add echo statement for Python path in AMMR tests
  .github/workflows/test.yml
Due: none

fix: Update echo statement to correctly reference Python path in AMMR tests
  .github/workflows/test.yml
Due: none

fix: Add ANYBODY_PATH_PYTHONHOME environment variable to workflows
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

test: Disable deltoid wrapping temporarily (#107)
  Tests/Body/ShoulderArm/test_deltoid_wrapping.any
Due: other_tests, Application_tests

test: Use 8.1.4beta3 (#108)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
  pixi.lock
  pixi.toml
Due: none

Remove explicit ANYBODY_PATH_PYTHONHOME environment variable as it should be able to find Python autmatically.
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  pixi.lock
  pixi.toml
Due: none

fix: Update workflow to use windows-2025 for test environments
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
Due: none

Update sphinx anylink extension for ammr
  Docs/exts/anylink.py
Due: test_docs

Update application doc files
  Docs/Applications/Daily-activities-and-ergonomics/AirlinePassenger.md
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemo.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemoConditional.md
  Docs/Applications/Daily-activities-and-ergonomics/PosturePredictionModel.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
  Docs/Applications/Daily-activities-and-ergonomics/Squat.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingModel.md
  Docs/Applications/Daily-activities-and-ergonomics/WheelTurn.md
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Mocap/AnyMocapFeatures.md
  Docs/Applications/Mocap/BVH.md
  Docs/Applications/Mocap/BVH_BoxLift.md
  Docs/Applications/Mocap/BVH_OptimizeOrigin.md
  Docs/Applications/Mocap/Plug-in-gait_MultiTrial_StandingRef.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_LowerExtremity.md
Due: test_docs

Update application docs
  Docs/Applications/Daily-activities-and-ergonomics/AirlinePassenger.md
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemo.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemoConditional.md
  Docs/Applications/Daily-activities-and-ergonomics/PosturePredictionModel.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
  Docs/Applications/Daily-activities-and-ergonomics/Squat.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Mocap/BVH.md
  Docs/Applications/Mocap/BVH_BoxLift.md
  Docs/Applications/Mocap/BVH_OptimizeOrigin.md
  Docs/Applications/Mocap/Plug-in-gait_MultiTrial_StandingRef.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_LowerExtremity.md
  Docs/Applications/Orthopedics_and_rehab/FacetJointModel.md
  Docs/Applications/Orthopedics_and_rehab/FemoralTorsionTool.md
  Docs/Applications/Orthopedics_and_rehab/KneeForcesExample.md
  Docs/Applications/Orthopedics_and_rehab/KneeSimulator.md
  Docs/Applications/Orthopedics_and_rehab/SpineFixationWithForceDependentKinematics.md
  Docs/Applications/Orthopedics_and_rehab/THA-KneeBendDemo.md
  Docs/Applications/Orthopedics_and_rehab/WheelChairRancho.md
Due: test_docs

Refactor topmatter retrieval to use a dedicated function in anylink.py
  Docs/exts/anylink.py
Due: test_docs

Update application docs
  Docs/Applications/Other/ExoConceptTrunk_BoxLift.md
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Applications/Other/IndexFingerModel.md
  Docs/Applications/Other/JumpingJack.md
  Docs/Applications/Other/StandingModelScalingDisplay.md
  Docs/Applications/Other/StatisticalScalingPlugin.md
  Docs/Applications/Other/UlmRatHindLimbModel.md
  Docs/Applications/Sports/ArmCurl.md
  Docs/Applications/Sports/BenchPress.md
  Docs/Applications/Sports/BikeModel.md
  Docs/Applications/Sports/BikeModel2D.md
  Docs/Applications/Sports/CrossTrainer.md
  Docs/Applications/Sports/LegPressMachine.md
  Docs/Applications/Sports/PushUp.md
  Docs/Applications/Validation/AalborgMandible.md
  Docs/Applications/Validation/BergmannGH.md
  Docs/Applications/Validation/EvaluateJointStrength.md
  Docs/Applications/Validation/EvaluateMaxLoading.md
  Docs/Applications/Validation/EvaluateMomentArms.md
  Docs/Applications/Validation/GaitVaughan.md
  Docs/Applications/Validation/MandibleModel.md
  Docs/Applications/Validation/WilkeSpinePressure.md
Due: test_docs

Update
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/_static/custom.css
  Docs/conf.py
  Docs/index.md
Due: test_docs

Only open with AnyLink2 handler
  Docs/exts/anylink.js
Due: test_docs

Only add links when build for offline
  Docs/exts/anylink.js
  Docs/exts/anylink.py
Due: test_docs

Fix isssue with link and validation
  Docs/Applications/Mocap/BVH_OptimizeOrigin.md
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Validation/WilkeSpinePressure.md
  Docs/conf.py
  Docs/exts/anylink.py
Due: test_docs

Fix anylink
  Docs/Applications/Validation/WilkeSpinePressure.md
Due: test_docs

fix casing for anylink
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
Due: test_docs

Fix upper case names
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemo.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemoConditional.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingModel.md
  Docs/Applications/Daily-activities-and-ergonomics/WheelTurn.md
  Docs/Applications/Orthopedics_and_rehab/THA-KneeBendDemo.md
  Docs/Applications/Orthopedics_and_rehab/WheelChairRancho.md
  Docs/Applications/Sports/ArmCurl.md
Due: test_docs

Fix case
  Docs/Applications/Other/ExoConcept_BoxLift.md
Due: test_docs

Fix case
  Docs/Applications/Other/UlmRatHindLimbModel.md
Due: test_docs

fix case
  Docs/Applications/Validation/GaitVaughan.md
Due: test_docs

Fix case
  Docs/Applications/Validation/WilkeSpinePressure.md
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
