Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix marker position which were not symmetric
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

Update different version information across the AMMR
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  CHANGELOG.txt
  Docs/conf.py
  Tools/Templates/Human Standing/libdef.any
  Tools/Templates/Human/libdef.any
  Tools/Templates/libdef.any
Due: other_tests, Application_tests, test_docs

Don't complain if documentation folder is not found
  Tools/conditional_paths.any
Due: other_tests, Application_tests

Update BVH marker protocol with PEG's changes
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

Changed the way the detoid wrapping surfaces move relative to humerus.
  Body/AAUHuman/Arm/DeltoidWrap.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Fix shoulder posture in Arm calibration to avoid penetration
  Body/AAUHuman/Arm/Calibration/ShoulderCal.any
  Tests/ShoulderTestModel/JointsAndDrivers.any
Due: other_tests, Application_tests

Fix test failure in LiftFEA example
  Application/Examples/StandingLift/Model/Mannequin.any
Due: other_tests, Application_tests

Adjust standing lift model to more realistic posture
  Application/Examples/StandingLift/Model/Environment.any
  Application/Examples/StandingLift/Model/JointsAndDrivers.any
  Application/Examples/StandingLift/Model/Mannequin.any
Due: other_tests, Application_tests

Improve wrapping for Teres Minor.
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Adjust teres minor scapula wrap surf
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Enable experimental wrapping for all AMMR examples, and add notice that it is enabled.
  Application/Examples/libdef.any
  Application/libdef.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Fix typo
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Update changelog [skip ci]
  CHANGELOG.txt
Due: test_docs

Add define guard to example wrapping code
  Application/libdef.any
Due: other_tests, Application_tests

Update ANSUR plugin to fix exit bug
  Tools/Plugins/ANSUR_Plugin-1.1.0-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.1.1-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.1.1-py3.7-win-amd64.ico
  Tools/Plugins/ANSUR_Plugin.any
Due: other_tests, Application_tests

Improve wrapping for Teres Major.
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Reduce the size of teres minor scapula wrapping.
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

HOTFIX: Update initwrap pos vectors for Teres Major
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Revert "Merge remote-tracking branch 'origin/master' into WrapTest"
  CHANGELOG.txt
  Tools/GRFPrediction/FootPlateConditionalContact.any
  Tools/ModelUtilities/ContactMuscles/Contact.any
  Tools/ModelUtilities/ContactMuscles/ContactLin.any
  Tools/ModelUtilities/ContactMuscles/ContactLinAll.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPull.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPull2.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush2.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush3.any
  Tools/ModelUtilities/ContactMuscles/ContactRot.any
  Tools/ModelUtilities/ContactMuscles/ContactRotPull.any
  Tools/ModelUtilities/ContactMuscles/ContactRotPush.any
  Tools/ModelUtilities/ContactMuscles/ContactX.any
Due: other_tests, Application_tests, test_docs

Update Arm1.2 muscle geometry with changes from master
  Body/AAUHuman/Arm/ArmData1.2/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmData1.2/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/ArmData1.2/UlnaMuscleGeometry.any
Due: other_tests, Application_tests

Move RUHM prototype scaling to model parameters section
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/HandData/RUHM/Plzen-HandModelParameters.any
  Body/AAUHuman/Hand/HandSeg.any
  Body/AAUHuman/Hand/ThumbRUHM.any
  Body/AAUHuman/Scaling/ScalingHandNone.any
  Body/AAUHuman/Scaling/ScalingUniform_HandModel.any
Due: other_tests, Application_tests

Add points to improve D = 0 behavior
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Run docs build on master
  .github/workflows/ammr-doc.yaml
Due: none

Added points to improve wrapping with Solver 3
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Add manual dispatch to docs build
  .github/workflows/ammr-doc.yaml
Due: none

remove bodyweight from foot and talus
  Application/Validation/GaitVaughan/Model/AnyMan.any
Due: other_tests, Application_tests

Add muscle to adl gait model
  Application/MocapExamples/ADL_Gait_[beta]/BodyModelConfig.any
Due: other_tests, Application_tests

Update ADL gait marker protocol to improve shoulder posture
  Application/MocapExamples/ADL_Gait_[beta]/ExtraDrivers.any
  Application/MocapExamples/ADL_Gait_[beta]/LabSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
Due: other_tests, Application_tests

Add option to optimize trunk depth in OptimizeAnthropometricsOnOff.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Add missing trunk muscles
  Application/MocapExamples/ADL_Gait_[beta]/BodyModelConfig.any
Due: other_tests, Application_tests

ADL gait: Add option to exclude Markers based on defines
  Application/MocapExamples/ADL_Gait_[beta]/ExcludeMarkers.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
Due: other_tests, Application_tests

ADL gait. Exclude markers which were missing on subject 2014051
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014051/SubjectSpecificData.any
Due: other_tests, Application_tests

ADL gait: Update batch processing script
  Application/MocapExamples/ADL_Gait_[beta]/.gitignore
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.txt
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
