Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update description for box lift model
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
Due: other_tests, Application_tests

Update for CreateMotionOutput to NodeDefaults.
  Tools/EnvironmentConnection/Connectors/PointsGenerator/EllipticCylinderPointsGrid.any
Due: other_tests, Application_tests

Refactor exo design to read from ModelParameters folder. Add code for video tool.
  Application/Examples/ExoskeletonContactElbow/ChangesForExoModel.any
  Application/Examples/ExoskeletonContactElbow/ExoskeletonContact_Elbow.Main.any
  Application/Examples/ExoskeletonContactElbow/Model/CreateVideo.any
Due: other_tests, Application_tests

Update gallery
  Docs/Applications/Mocap/AnyMocapFeatures.md
  Docs/Applications/Mocap/BVH_BoxLift.md
  Docs/Applications/Mocap/BVH_OptimizeOrigin.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_LowerExtremity.md
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Mocap/index.md
  Docs/Applications/Orthopedics_and_rehab/index.md
  Docs/Applications/Other/ExoConceptTrunk_BoxLift.md
  Docs/Applications/Other/IndexFingerModel.md
  Docs/Applications/Other/JumpingJack.md
  Docs/Applications/Other/StandingModelScalingDisplay.md
  Docs/Applications/Other/StatisticalScalingPlugin.md
  Docs/Applications/Other/index.md
  Docs/Applications/Sports/ArmCurl.md
  Docs/Applications/Sports/BenchPress.md
  Docs/Applications/Sports/BikeModel.md
  Docs/Applications/Sports/BikeModel2D.md
  Docs/Applications/Sports/CrossTrainer.md
  Docs/Applications/Sports/LegPressMachine.md
  Docs/Applications/Sports/PushUp.md
  Docs/Applications/Sports/index.md
  Docs/Applications/Validation/AalborgMandible.md
  Docs/Applications/Validation/BergmannGH.md
  Docs/Applications/Validation/EvaluateJointStrength.md
  Docs/Applications/Validation/EvaluateMomentArms.md
  Docs/Applications/Validation/GaitVaughan.md
  Docs/Applications/Validation/MandibleModel.md
  Docs/Applications/Validation/index.md
  Docs/Applications/index.md
  Docs/exts/gallery.py
Due: test_docs

Fix BVH optimize origin class template when same segment is optimized twice in the same model. Update example model (and test model) with additional demo (Target Seg 7) Update AMMR changelog
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  CHANGELOG.md
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests

Update vertical position of target foot print
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests

Update changelog to include change in position of target foot drawing
  CHANGELOG.md
Due: none

More updates
  Docs/Scaling/intro.md
  Docs/Scaling/lesson1.md
  Docs/Scaling/lesson2.md
  Docs/about.md
  Docs/anymocap/index.md
  Docs/bm_config/index.md
  Docs/body/cervical_spine_model.md
  Docs/body/detailed_hand_model.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/leg_tlem_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/models.md
  Docs/body/regensburg_ulm_hand_model.md
  Docs/body/shoulder_arm_model.md
  Docs/body/thoracic_model.md
  Docs/conf.py
  Docs/contribute.md
  Docs/environment.yaml
  Docs/getting_started.md
  Docs/index.md
Due: test_docs

updates
  CHANGELOG.md
  Docs/Applications/Daily-activities-and-ergonomics/PosturePredictionModel.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
  Docs/Applications/Daily-activities-and-ergonomics/Squat.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingModel.md
  Docs/Applications/Orthopedics_and_rehab/FemoralTorsionTool.md
  Docs/Applications/Orthopedics_and_rehab/KneeForcesExample.md
  Docs/Applications/Orthopedics_and_rehab/KneeSimulator.md
  Docs/Applications/Other/ExoConceptTrunk_BoxLift.md
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Applications/Sports/CrossTrainer.md
  Docs/Applications/Validation/AalborgMandible.md
  Docs/Applications/Validation/EvaluateJointStrength.md
  Docs/Applications/Validation/EvaluateMomentArms.md
  Docs/Applications/Validation/MandibleModel.md
  Docs/Applications/Validation/WilkeSpinePressure.md
  Docs/anymocap/grf-prediction.md
  Docs/body/aalborg_mandible.md
  Docs/body/symmetric_mandible_model.md
Due: test_docs

Add missing any xref method to ammr sphinx extension
  Docs/exts/ammr_directives.py
Due: test_docs

updates
  Body/AAUHuman/BuildTools/bm_constants.md.jinja
  Body/AAUHuman/BuildTools/bm_statements.md.jinja
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Docs/conf.py
  Docs/exts/ammr_directives.py
Due: other_tests, Application_tests, test_docs

Update icon
  Docs/_static/AMMR.svg
  Docs/conf.py
  Docs/environment.yaml
Due: test_docs

Update ammr-doc.yaml
  .github/workflows/ammr-doc.yaml
Due: none

Update environment.yaml
  Docs/environment.yaml
Due: test_docs

Add title to sidebar
  Docs/Applications/Daily-activities-and-ergonomics/AirlinePassenger.md
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemo.md
  Docs/Applications/Daily-activities-and-ergonomics/PedalDemoConditional.md
  Docs/Applications/Daily-activities-and-ergonomics/PosturePredictionModel.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
  Docs/Applications/Daily-activities-and-ergonomics/Squat.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
  Docs/Applications/Daily-activities-and-ergonomics/StandingModel.md
  Docs/Applications/Daily-activities-and-ergonomics/WheelTurn.md
  Docs/Applications/Orthopedics_and_rehab/FacetJointModel.md
  Docs/Applications/Orthopedics_and_rehab/FemoralTorsionTool.md
  Docs/Applications/Orthopedics_and_rehab/KneeForcesExample.md
  Docs/Applications/Orthopedics_and_rehab/KneeSimulator.md
  Docs/Applications/Orthopedics_and_rehab/SpineFixationWithForceDependentKinematics.md
  Docs/Applications/Orthopedics_and_rehab/THA-KneeBendDemo.md
  Docs/Applications/Orthopedics_and_rehab/WheelChairRancho.md
  Docs/Applications/Other/ExoConceptTrunk_BoxLift.md
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Applications/Other/IndexFingerModel.md
  Docs/Applications/Other/JumpingJack.md
  Docs/Applications/Other/StandingModelScalingDisplay.md
  Docs/Applications/Other/StatisticalScalingPlugin.md
  Docs/Applications/Other/UlmRatHindLimbModel.md
  Docs/Applications/Sports/ArmCurl.md
  Docs/Applications/Sports/BenchPress.md
  Docs/Applications/Sports/BikeModel.md
  Docs/Applications/Sports/BikeModel2D.md
  Docs/Applications/Sports/CrossTrainer.md
  Docs/Applications/Sports/LegPressMachine.md
  Docs/Applications/Sports/PushUp.md
  Docs/Applications/Validation/AalborgMandible.md
  Docs/Applications/Validation/BergmannGH.md
  Docs/Applications/Validation/EvaluateJointStrength.md
  Docs/Applications/Validation/EvaluateMomentArms.md
  Docs/Applications/Validation/GaitVaughan.md
  Docs/Applications/Validation/MandibleModel.md
  Docs/Applications/Validation/WilkeSpinePressure.md
Due: test_docs

update
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Mocap/AnyMocapFeatures.md
  Docs/Applications/Mocap/BVH.md
  Docs/Applications/Mocap/BVH_BoxLift.md
  Docs/Applications/Mocap/BVH_OptimizeOrigin.md
  Docs/Applications/Mocap/Plug-in-gait_MultiTrial_StandingRef.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/Applications/Mocap/Plug-in-gait_Simple_LowerExtremity.md
Due: test_docs

Fix file case errors
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/index.md
  Docs/anymocap/index.md
  Docs/bm_config/bm_plugin.md
  Docs/conf.py
Due: test_docs

Remove remainders from old gallery
  Docs/Applications/Validation/AalborgMandible.md
  Docs/Applications/Validation/MandibleModel.md
Due: test_docs

Fix error in EllipticCylinderPointsGrid.any for case when ncols == 1 and EndAngle - StartAngle != 2pi.
  Tools/Environment/Connection/Generic/PointsGenerator/EllipticCylinderPointsGrid.any
Due: other_tests, Application_tests

Comments in rectangular grid class template. Rename nSteps_S* to nPoints_S* as nSteps can be confused with nSteps from the study. Update demo model to use nPoints_S*
  Tools/Environment/ClassDemos/Demo_RectangularPointsGrid.main.any
  Tools/Environment/Connection/Generic/PointsGenerator/EllipticCylinderPointsGrid.any
  Tools/Environment/Connection/Generic/PointsGenerator/RectangularPointsGrid.any
  Tools/Environment/IncludeConnectors.any
Due: other_tests, Application_tests

Ensure gallery is sorted case insensitive
  Docs/conf.py
Due: test_docs

Add code for the case only a single node is generated using the class template
  Tools/Environment/Connection/Generic/PointsGenerator/RectangularPointsGrid.any
Due: other_tests, Application_tests

Update Simple demo contact class for changes in elliptic cylinder points grid class template and AMMR structure .
  Tools/Environment/ClassDemos/Demo_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Patch optimize bvh origin (#683)
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  CHANGELOG.md
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests

Update description for box lift model (#682)
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
Due: other_tests, Application_tests

Change exo elbow contact example model to consider changes in points generator class template and restructure of AMMR Environment folder
  Application/Examples/ExoskeletonContactElbow/ChangesForExoModel.any
  Application/Examples/ExoskeletonContactElbow/ExoskeletonContact_Elbow.Main.any
Due: other_tests, Application_tests

Add linkcheck to CI tests
  .github/workflows/ammr-doc.yaml
Due: none

Fix broken and redirected links in AMMR
  CHANGELOG.md
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Orthopedics_and_rehab/KneeSimulator.md
  Docs/Applications/Orthopedics_and_rehab/THA-KneeBendDemo.md
  Docs/README.md
  Docs/about.md
  Docs/anymocap/index.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/glasgow_maastricht_foot_model.rst_
  Docs/body/leg_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/leg_tlem_model.md
  Docs/body/regensburg_ulm_hand_model.md
  Docs/body/shoulder_arm_model.md
  Docs/conf.py
  Docs/index.md
Due: test_docs

Add Test for rectangular points grid class template. Changes for AMMR restructure
  Tests/EnvironmentConnection/test_Demo_EllipticCylinderPointsGridClass_load_only.any
  Tests/Tools/Environment/Output/.gitkeep
  Tests/Tools/Environment/test_Demo_CondContactMultiPoints.any
  Tests/Tools/Environment/test_Demo_EllipticCylinderPointsGridClass_load_only.any
  Tests/Tools/Environment/test_Demo_RectangularPointsGridClass_load_only.any
Due: other_tests, Application_tests

Restructure sidebar
  Docs/body/models.md
  Docs/conf.py
  Docs/getting_started.md
  Docs/index.md
Due: test_docs

Adjust gallery
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/Applications/images/gallery.txt
  Docs/conf.py
  Docs/index.md
Due: test_docs

Change calculation of pelvis width to use sRel of reference nodes on the same segment. Delete bvh file of Trial 07 from box lift example.
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T07.bvh
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CalculateSegmentDimensionsFromBVH.any
Due: other_tests, Application_tests

Update changelog entry (only for change in calculation of pelvis width).
  CHANGELOG.md
Due: none

Implement rhythm with new templates class
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Body/AAUHuman/HumanModel.defs.any
  Body/AAUHuman/Trunk/JointsCervical.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests

Minor fix scaling from bvh (#685)
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T07.bvh
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CalculateSegmentDimensionsFromBVH.any
  CHANGELOG.md
Due: other_tests, Application_tests

Fix issue where MeasureOrganizer is not set
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests

add latissimus dorsi 6-11 and pec major thoracic 6-10 for moment arm evaluation
  Body/AAUHuman/Arm/armmuscles_for_output.any
Due: other_tests, Application_tests

Add tests and fix bug in lumbar rhythm
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Tests/ModelUtilities/test_rhythmclass.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests
