Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix syntax error in nightly test
  .github/workflows/nighly-tests.yml
Due: none

small tests
  .github/workflows/create-compare-reference-linux.yml
Due: none

test
  .github/workflows/create-compare-reference-linux.yml
Due: none

update
  .github/workflows/create-compare-reference-linux.yml
Due: none

Update Compare test CI (#610)
  .github/workflows/create-compare-reference-linux.yml
Due: none

Ensure different compare runs don't cancel each other
  .github/workflows/create-compare-reference-linux.yml
Due: none

Update and improve origin of the hamstring muscles
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Improve muscles for trunk rotation (#584)
  Application/Examples/LegPressMachine/Model/HumanRefNodes.any
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleLeft.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
  Body/AAUHuman/Trunk/ObliquusExternusLeft.any
  Body/AAUHuman/Trunk/ObliquusExternusRight.any
  Body/AAUHuman/Trunk/ObliquusInternusLeft.any
  Body/AAUHuman/Trunk/ObliquusInternusRight.any
  Body/AAUHuman/Trunk/PelvisMuscleAttactmentNodes.any
  Body/AAUHuman/Trunk/RectusAbdominis.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  CHANGELOG.md
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs

Fix nightly test error due to debug values left in code
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
Due: other_tests, Application_tests

Add macro utility functions to create 3d grid arrays
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Ensure meshgrid macro follows the same indexing scheme as numpy/matlab
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Fix build warnings and errors
  Docs/conf.py
  Docs/creating_model_from_scratch.md
Due: test_docs

Deprecate wrong spelling for _LEG_MODEL_LEG_ BM constant
  Application/Examples/AirlinePassenger/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDriversConstant.any
  Application/Examples/FreePosture/Model/JointsAndDriversInterpolation.any
  Application/Examples/PedalDemo/Model/JointsAndDrivers.any
  Application/Examples/PedalDemoConditional/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
  Application/Examples/SeatedHumanFullWithNeck/Model/BodyModelConfiguration.any
  Application/Examples/ShoulderBag/Model/JointsAndDrivers.any
  Application/Examples/StandingLift/Model/JointsAndDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawExternalMeasures.any
  Application/Examples/StandingModelScalingDisplay/Model/JointsAndDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/JointsAndDrivers.any
  Application/Validation/GaitVaughan/Model/BodyModelConfiguration.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateMomentArmsSequence.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/StandardParameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/BM combinations/test_bm_bodypart.any
  Tests/BM combinations/test_bm_bodypart_fullbody.any
  Tests/BM combinations/test_bm_bodypart_lower.any
  Tests/BM combinations/test_bm_leg_muscles.any
  Tests/Symmetry/DynamicTest/Model/JointsAndDriversConstant.any
Due: other_tests, Application_tests, test_docs

Update bm config files
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/bm_constants.py
  Docs/bm_config/bm_constants.md
Due: other_tests, Application_tests, test_docs

Fix doc build warnings (#614)
  Application/Examples/AirlinePassenger/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDriversConstant.any
  Application/Examples/FreePosture/Model/JointsAndDriversInterpolation.any
  Application/Examples/PedalDemo/Model/JointsAndDrivers.any
  Application/Examples/PedalDemoConditional/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
  Application/Examples/SeatedHumanFullWithNeck/Model/BodyModelConfiguration.any
  Application/Examples/ShoulderBag/Model/JointsAndDrivers.any
  Application/Examples/StandingLift/Model/JointsAndDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawExternalMeasures.any
  Application/Examples/StandingModelScalingDisplay/Model/JointsAndDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/JointsAndDrivers.any
  Application/Validation/GaitVaughan/Model/BodyModelConfiguration.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateMomentArmsSequence.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/StandardParameters.any
  Body/AAUHuman/bm-parameters.toml
  CHANGELOG.md
  Docs/bm_config/bm_constants.md
  Docs/conf.py
  Docs/creating_model_from_scratch.md
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/BM combinations/test_bm_bodypart.any
  Tests/BM combinations/test_bm_bodypart_fullbody.any
  Tests/BM combinations/test_bm_bodypart_lower.any
  Tests/BM combinations/test_bm_leg_muscles.any
  Tests/Symmetry/DynamicTest/Model/JointsAndDriversConstant.any
Due: other_tests, Application_tests, test_docs

Add new femoral torsion example
  Application/Examples/FemoralTorsion/Input/.gitkeep
  Application/Examples/FemoralTorsion/Model/BodyModelConfiguration.any
  Application/Examples/FemoralTorsion/Model/DrawSettings.any
  Application/Examples/FemoralTorsion/Model/Environment.any
  Application/Examples/FemoralTorsion/Model/GRFPrediction.any
  Application/Examples/FemoralTorsion/Model/JointsAndDrivers.any
  Application/Examples/FemoralTorsion/Model/LeftFootDrivers.any
  Application/Examples/FemoralTorsion/Model/Mannequin.any
  Application/Examples/FemoralTorsion/Model/RightFootDrivers.any
  Application/Examples/FemoralTorsion/Model/RunAppSequence.any
  Application/Examples/FemoralTorsion/Model/VideoCamera.any
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Application/Examples/FemoralTorsion/libdef.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsionInclude.any
Due: other_tests, Application_tests

Ensure we use the default scaling law instead of creating a scale matrix manually.
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsionInclude.any
Due: other_tests, Application_tests

Update FemoralTorsionInclude.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsionInclude.any
Due: other_tests, Application_tests

Update documenation and add tests for femoral torsion example
  Application/Examples/FemoralTorsion/Model/BodyModelConfiguration.any
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Docs/Applications/Orthopedics_and_rehab/femoral-torsion.png
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
  Docs/Applications/images/FemoralTorsion.jpg
  Tests/Applications/test_FemoralTorsion.any
Due: other_tests, Application_tests, test_docs

Rewrite the femoral torsion code
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsionInclude.any
Due: other_tests, Application_tests

Rename some parameters
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsionInclude.any
Due: other_tests, Application_tests

Rename file
  Application/Examples/FemoralTorsion/StandingModel.Main.any
  Tools/ModelUtilities/FemoralTorsion/Include.any
Due: other_tests, Application_tests

More renames
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
  Tools/ModelUtilities/FemoralTorsion/Include.any
Due: other_tests, Application_tests

A bit more cleanup
  Tools/ModelUtilities/FemoralTorsion/Include.any
Due: other_tests, Application_tests

Add tests with different BM_Scaling settings
  Application/Examples/FemoralTorsion/Model/BodyModelConfiguration.any
  Tests/Applications/test_FemoralTorsion.any
Due: other_tests, Application_tests

Use 20 deg torsion in example
  Application/Examples/FemoralTorsion/StandingModel.Main.any
Due: other_tests, Application_tests

Fix correct use of std mass param for pelvis seg
  Body/AAUHuman/Trunk/StandardParameters.any
Due: other_tests, Application_tests

fix helper class to allow for relative trigger path
  Tests/tools.any
Due: other_tests, Application_tests

add test on body stature
  Tests/Scaling/test_body_stature.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
