Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Handle broken links (#805)
  CHANGELOG.md
  Docs/Applications/Mocap/ADL_Gait.md
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Scaling/intro.md
  Docs/body/cervical_spine_model.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/regensburg_ulm_hand_model.md
  Docs/body/shoulder_arm_model.md
  Docs/conf.py
Due: test_docs

Minor update of text about versions and release time in TLEM2 doc page.
  Docs/body/leg_tlem2_model.md
Due: test_docs

Add Achilles tendon wrapping surface entry in TLEM 2 doc page
  CHANGELOG.md
  Docs/body/leg_tlem2_model.md
Due: test_docs

club together all TLEM related changes in Changelog.
  CHANGELOG.md
Due: none

fix some typos in changelog
  CHANGELOG.md
Due: none

Delete AMMR 2.4.4 duplicate entry from Beta changelog.
  CHANGELOG.md
Due: none

Update ammr-doc.yaml
  .github/workflows/ammr-doc.yaml
Due: none

Fix broken link
  Docs/body/glasgow_maastricht_foot_model.md
Due: test_docs

Fix typos etc in documentation (#806)
  .github/workflows/ammr-doc.yaml
  CHANGELOG.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
Due: test_docs

update tlem2.1 to tlem 2.2 in code
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Format changelog margin
  CHANGELOG.md
Due: none

Add AMMR name in sphinx version admonitions
  Docs/conf.py
Due: test_docs

clean up
  Docs/conf.py
Due: test_docs

black formatting
  Docs/conf.py
Due: test_docs

fix build warning from deprecated function name
  Docs/conf.py
Due: test_docs

Documention formatting (#808)
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

Add git info section to HumanModel
  .gitattributes
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Only include GitInfo if python is available
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
Due: other_tests, Application_tests

Update readme
  Docs/README.md
Due: test_docs

Add git info section in AMMR (#809)
  .gitattributes
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
  Docs/README.md
Due: other_tests, Application_tests, test_docs

update picked points and add option for _SCALING_NONE_
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

fix interface morphing: remove reverse transformation and update talus ankle joint arel
  Body/AAUHuman/FootGM/Scaling.any
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

Fixed definition of macros for constructing Anatomical frame. ARel is now constructed from scaled points
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

update changelog for Anatomical frame fix
  CHANGELOG.md
Due: none

Tlem foot fixes2 (#810)
  Body/AAUHuman/LegTLEM/Seg.any
  CHANGELOG.md
Due: other_tests, Application_tests

fix symmetry issue with TalusCompatibilityFrame
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

fix symmetry issue with TalusCompatibilityFrame (#811)
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Small update from rehazenter model
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014009/2014009_C4_02/TrialSpecificData.any
Due: other_tests, Application_tests

Fix issue if ORIG_HEAD file is missing
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Fix issue if ORIG_HEAD file is missing (#812)
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Add missing UseC3DWeightResiduals to trunk markers
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
Due: other_tests, Application_tests

Use new env variable to suppress deprecation messages
  .github/workflows/nighly-tests.yml
Due: none

Use new env variable to suppress deprecation messages (#814)
  .github/workflows/nighly-tests.yml
Due: none

Update custom scaling deprecation message
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Update custom scaling deprecation message (#815)
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

update
  Docs/index.md
  Docs/migration.md
Due: test_docs
