Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

chore: mark pixi.lock as binary and generated
  .gitattributes
Due: none

chore: mark pixi.lock as binary and generated (#1088)
  .gitattributes
Due: none

docs: Add section on how to open models with anylink
  Docs/Applications/index.md
  Docs/_static/anylink-unpack-dialog.png
Due: test_docs

Update Docs/Applications/index.md
  Docs/Applications/index.md
Due: test_docs

docs(anylink): Add section to gallery on how to open with AnyLink (#1087)
  Docs/Applications/index.md
  Docs/_static/anylink-unpack-dialog.png
Due: test_docs

hotfix: change link to scaling tutorial
  Docs/Applications/Orthopedics_and_rehab/FemoralTorsionTool.md
Due: test_docs

Removed SmallStepAssumptionOnOff set to On in InitialCondition analysis
  Tools/AnyMocap/KinematicStudyForParameterIdentificationSettings.any
Due: other_tests, Application_tests

Removed SmallStepAssumptionOnOff set to On in InitialCondition analysis (#1089)
  Tools/AnyMocap/KinematicStudyForParameterIdentificationSettings.any
Due: other_tests, Application_tests

feat: Add code to set Pos0 for AnyKinRotational
  Body/AAUHuman/BodyModels/GenericBodyModel/RotationMeasuresInitialPos.any
  Body/AAUHuman/HumanModel.any
Due: other_tests, Application_tests

Test with AMS 8.2 beta5
  pixi.lock
  pixi.toml
Due: none

chore: Remove deprecated BM configurations (#113)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/BodyModel.config_info.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.constants.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.defaults.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.parameters.any.jinja
  Body/AAUHuman/BuildTools/Ifdef_BM_param.any.jinja
  Body/AAUHuman/BuildTools/bm_constants.py.jinja
  Body/AAUHuman/BuildTools/bm_statements.md.jinja
  Body/AAUHuman/BuildTools/create_BM_lists.py
  Body/AAUHuman/BuildTools/render_templates.py
  Body/AAUHuman/BuildTools/undef_BM_params.any.jinja
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/bm-parameters.toml
  CHANGELOG.md
  Docs/bm_config/ArmTable.csv
  Docs/bm_config/MannequinTable.csv
  Docs/bm_config/ScalingTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  pixi.toml
Due: other_tests, Application_tests, test_docs

Fix name in doc string
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Fix name in doc string (#1091)
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

fix: Fix thorax muscle penetration (#118)
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ThoraxWrappingSurfaces.any
  Tests/Applications/test_PushUp.any
Due: other_tests, Application_tests

feat: Add nodes for vertebra spinous process (#119)
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
Due: other_tests, Application_tests

feat: Update marker class interface to handle scaling marker offsets (#121)
  Application/Beta/Plug-in-gait_Simple_DetailedFoot_GM/Setup/MarkerProtocolFoot.any
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/MarkerProtocol.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_ST.anyset
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/MarkerProtocol_FlexibleThorax.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S2/S2_StandingRef/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Application/MocapExamples/SpecialFeatures/IndividualMarkerCutoffFrequency.main.any
  Application/MocapExamples/SpecialFeatures/MarkerWeightsExample.main.any
  Body/AAUHuman/Arm/HandSeg.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/FootGM/SegNodes.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/RibSegments.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsRibCage.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/SegmentsThoraxIndividual.any
  Body/AAUHuman/Trunk/SkullSeg.any
  Body/AAUHuman/Trunk/sharedSegmentalAttributes.any
  Docs/exts/anylink.py
  Docs/migration3to4.md
  Tests/AnyMocap/Output/LowerExtremityToeFlex_GaitNormal_1.anyset
  Tools/AnyMocap/CreateMarkerDriverClass.any
  Tools/AnyMocap/ExampleFiles/MarkerProtocol_PlugInGait.any
  Tools/AnyMocap/Protocols/XsensBVH.any
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests, test_docs

🤖 Update test durations (#124)
  Tests/.test_durations
Due: other_tests, Application_tests

feat: Sub talar joint refinement (#116)
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/SegNodes.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: Add code to set Pos0 for AnyKinRotational (#1084)
  Body/AAUHuman/BodyModels/GenericBodyModel/RotationMeasuresInitialPos.any
  Body/AAUHuman/HumanModel.any
Due: other_tests, Application_tests

hotfix: fix merge problems
  Body/AAUHuman/BodyModels/GenericBodyModel/RotationMeasuresInitialPos.any
Due: other_tests, Application_tests

fix: Delete unused files in examples. (#125)
  Application/Examples/FemoralTorsion/Model/LeftFootDrivers.any
  Application/Examples/FemoralTorsion/Model/RightFootDrivers.any
  Application/Examples/StandingModel/Model/LeftFootDrivers.any
  Application/Examples/StandingModel/Model/RightFootDrivers.any
  Tools/Templates/Human Standing/Model/LeftFootDrivers.any
  Tools/Templates/Human Standing/Model/RightFootDrivers.any
Due: other_tests, Application_tests

docs: fix tutorials links (#126)
  Docs/anymocap/index.md
  Docs/creating_model_from_scratch.md
Due: test_docs

feat(anymocap): Allow overwriting parameter optimization convergence tolerance
  Tools/AnyMocap/KinematicStudyForParameterIdentification.any
Due: other_tests, Application_tests

feat(anymocap): Allow overwriting parameter optimization convergence tolerance (#1093)
  Tools/AnyMocap/KinematicStudyForParameterIdentification.any
Due: other_tests, Application_tests

fix: Correct spelling of 'EvaluateJointStrength' in multiple files
  Application/Validation/EvaluateJointStrength/EvaluateJointStrength.main.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

fix: spelling of 'EvaluateJointStrength' in multiple files (#1094)
  Application/Validation/EvaluateJointStrength/EvaluateJointStrength.main.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  CHANGELOG.md
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

fix: correct spelling of 'EvaluateJointStrength' in multiple files
  Tests/Body/Trunk/Abdominal/test_Abdominal.any
Due: other_tests, Application_tests

chore: Update deprecated name in pixi.toml
  pixi.toml
Due: none

chore: Update deprecated name in pixi.toml (#1096)
  pixi.toml
Due: none

fix: Thorax clavicular measure (#129)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_GRFPrediction.any
  Body/AAUHuman/Arm/Interface.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
  Tools/AnyMocap/InterpolateJointAngleData.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
  Tools/AnyMocap/TrialSpecificData_Defaults.any
Due: other_tests, Application_tests

fix: Foot model migration tips (#130)
  Docs/migration3to4.md
Due: test_docs

🤖 Update test durations (#133)
  Tests/.test_durations
Due: other_tests, Application_tests

Fix links to tutorials
  Docs/anymocap/index.md
  Docs/creating_model_from_scratch.md
Due: test_docs

Fix links to tutorials (#1098)
  Docs/anymocap/index.md
  Docs/creating_model_from_scratch.md
Due: test_docs

feat: Optimize string mesh implementaion to speed up wrapping algorithm
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/Trunk/PsoasMajorLeft.any
  Body/AAUHuman/Trunk/PsoasMajorRight.any
Due: other_tests, Application_tests

Add change log entry
  CHANGELOG.md
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
