Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

fix case
  Docs/Applications/Validation/WilkeSpinePressure.md
Due: test_docs

Add AnyLink Icon
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/_static/AnyLinkLoad.svg
  Docs/conf.py
Due: test_docs

Update icon
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/_static/AnyLinkLoad.svg
Due: test_docs

Add button like effect to icon
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/exts/anylink.css
  Docs/exts/anylink.py
Due: test_docs

fix(eval joint strength): Improve muscle recruitment stability by using MinMaxAux
  Body/AAUHuman/Arm/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM2.1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Prepare release and update version
  AMMR.version.any
  CHANGELOG.md
Due: none

test: Update tests to use 8.1.4beta3 (#1077)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  pixi.lock
  pixi.toml
Due: none

fix(joint strenth eval): Improve robustness of joint strength eval models (#1078)
  Body/AAUHuman/Arm/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM2.1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  CHANGELOG.md
Due: other_tests, Application_tests

fix: Updated the subscapularis insertion (#1066)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

fix(changelog): Improve formatting and clarity of fixed entries
  CHANGELOG.md
Due: none

fix: Update Zenodo DOI link for unreleased version
  Docs/conf.py
Due: test_docs

chore: Prepare release for AMMR 3.1.4 (#1079)
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

fix: Foot model minor updates (#105)
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/MarkerProtocol.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/MarkerProtocol_FlexibleThorax.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  CHANGELOG.md
  Docs/migration3to4.md
Due: other_tests, Application_tests, test_docs

Only show anylinks when building sphinx with "-t anylink"
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/exts/anylink.css
  Docs/exts/anylink.py
Due: test_docs

Only show anylinks when building sphinx with "-t anylink" (#1080)
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/exts/anylink.css
  Docs/exts/anylink.py
Due: test_docs

Update background colors for gallery images
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/exts/anylink.py
Due: test_docs

feat: More robust check for if Python is available
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

Fix link type
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
Due: test_docs

feat: Refactor libdef system. Move content into HumanModelDef, and allow human model to be include directly
  AMMR.version.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/HumanModel.defs.any
  libdef.any
Due: other_tests, Application_tests

feat: More robust check for if Python is available (#1081)
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

fix: Add libdef guard for compatibility with older AMS versions
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

docs: fix a few anylink issues (#1083)
  Docs/Applications/Daily-activities-and-ergonomics/StandingLift.md
  Docs/Applications/Daily-activities-and-ergonomics/gallery.txt
  Docs/Applications/Mocap/gallery.txt
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/Applications/Other/gallery.txt
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/Validation/gallery.txt
  Docs/Applications/gallery.txt.jinja2
  Docs/exts/anylink.py
Due: test_docs

Remove ANYBODY_PATH_BODY_GENERICBODYMODEL define
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/HumanModel.any
Due: other_tests, Application_tests

feat: Add code to set Pos0 for AnyKinRotational
  Body/AAUHuman/BodyModels/GenericBodyModel/RotationMeasuresInitialPos.any
  Body/AAUHuman/HumanModel.any
Due: other_tests, Application_tests

fix: update search string for leg moments in selected outputs (#109)
  Body/AAUHuman/LegTLEM/LegMoments.any
Due: other_tests, Application_tests

ci(test): Reduce run time of tests (#111)
  .github/workflows/nightly-tests.yml
  Tests/.test_durations
  Tests/AnyMocap/Output/LowerExtremityToeFlex_GaitNormal_1.anyset
  Tests/AnyMocap/Output/LowerExtremity_BareFootWalk.anyset
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ToeFlex_GM.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody_DetailedFoot_GM_paramid.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody_ToeFlex_GM.any
Due: other_tests, Application_tests

test: ensure model output doesn't overwrite other models
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

feat: icon
  Docs/_static/AnyLinkLoad.svg
Due: test_docs

feat: icon (#1085)
  Docs/_static/AnyLinkLoad.svg
Due: test_docs

test: Run tests with AMS 8.2.0beta5 (#106)
  pixi.lock
  pixi.toml
Due: none

ci: test with newest AnyBody 8.1.4
  pixi.lock
  pixi.toml
Due: none

ci: test with newest AnyBody 8.1.4 (#1086)
  pixi.lock
  pixi.toml
Due: none

feat: Refactor libdef system, to more easily include the Human Model (#1082)
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/HumanModel.defs.any
  libdef.any
Due: other_tests, Application_tests
