Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Run test model with determinate solver (#632)
  Tests/ShoulderTestModel/Main.any
Due: other_tests, Application_tests

In some cases use small pertubation to GlenohumeralAbduction
  Body/AAUHuman/Arm/InitialPositions.any
Due: other_tests, Application_tests

Ensure that calibration is also run when 3E muscles are only on the arms
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Avoid start guess for abduction/flexion which are zero
  Application/Examples/ArmCurl/Model/Mannequin.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial02/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_LowerExtremity.any
  Application/Validation/BergmannGH/Model/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Mannequin.ClassTemplates.any
  Tools/AnyMocap/AutomaticInitialPositionOfBody.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

NeutralPositionOnPelvis should not be ref frame
  Body/AAUHuman/Arm/Seg.any
Due: other_tests, Application_tests

Add temporary test model to re-calculate neutral scapula posture
  Scapula_posture.main.any
Due: none

Add test for evel moment arms with shoulder rhythm
  Tests/Applications/test_EvaluateMomentArms.any
Due: other_tests, Application_tests

Fix eval moment arms with shoulder rhythm
  Body/AAUHuman/Arm/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
Due: other_tests, Application_tests

Fix wrong naming
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
Due: other_tests, Application_tests

Fix "Eval Moment arm studies" when shoulder rhythm is enabled. (#634)
  Body/AAUHuman/Arm/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
  CHANGELOG.md
  Tests/Applications/test_EvaluateMomentArms.any
Due: other_tests, Application_tests

Update range of motion for Shoulder moment arm studies
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
Due: other_tests, Application_tests

Fix syntax error in test header
  Tests/Applications/test_EvaluateMomentArms.any
Due: other_tests, Application_tests

Fix shoulder range-of-motion in Evaluate Moment arms studies (#635)
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
  Tests/Applications/test_EvaluateMomentArms.any
Due: other_tests, Application_tests

Restructure trunk muscles folders.
  Body/AAUHuman/Trunk/MusclesSpineLeft.any
  Body/AAUHuman/Trunk/MusclesSpineRight.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
Due: other_tests, Application_tests

Fix ROM in moment arm study for left side
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
Due: other_tests, Application_tests

Fix wrong ROM on left side in Moment arm studies (#636)
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Trunk/MusclesSpineLeft.any
  Body/AAUHuman/Trunk/MusclesSpineRight.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
Due: other_tests, Application_tests

Hot fix for Muscle trunk restructure
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftPsoas.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightPsoas.any
Due: other_tests, Application_tests

Delete unused file
  Body/AAUHuman/Trunk/NodesSegmentsThorax.any
Due: other_tests, Application_tests

Update the neutral Scapula position and scapula sliding
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/ScapulaConoideumDriver.any
  Body/AAUHuman/Arm/Seg.any
  Scapula_posture.main.any
Due: other_tests, Application_tests

Remove temporary file.
  Scapula_posture.main.any
Due: none

Update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Minor tweak to LatissimusDorsi wrapping to prevent wrapping issues.
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Fix problem with Shoulder Rhythm and some initial humerus postures (#633)
  Application/Examples/ArmCurl/Model/Mannequin.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial02/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_LowerExtremity.any
  Application/Validation/BergmannGH/Model/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Body/AAUHuman/Arm/InitialPositions.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Mannequin.ClassTemplates.any
  CHANGELOG.md
  Tools/AnyMocap/AutomaticInitialPositionOfBody.any
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Update AI scapula sliding point
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/Seg.any
Due: other_tests, Application_tests

Remove debug node drawing
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
Due: other_tests, Application_tests

Remove debug node drawings (#638)
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
Due: other_tests, Application_tests

More tweaks to scapula elipsoid
  Body/AAUHuman/Arm/AddOnOutsideBlockForKinematics.any
  Body/AAUHuman/Arm/Seg.any
Due: other_tests, Application_tests

Fix missing arm muscle visualization in joint strength trunk studies
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Increase the thresshold for arm symmetry errors slightly
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Adjust start guess in flexed lift model.
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/Mannequin.any
Due: other_tests, Application_tests

Neutral scapula posture (#637)
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/Mannequin.any
  Body/AAUHuman/Arm/AddOnOutsideBlockForKinematics.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaConoideumDriver.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  CHANGELOG.md
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Update arm joint-moment measures
  Body/AAUHuman/Arm/ArmMoments.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

Deprecate BM_MANNEQUIN_DRIVER_ANKLE_EVERSION
  Application/MocapExamples/Plug-in-gait_Simple/Setup/ExtraDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Remove use of deprecated _CONST_* swtiches
  Application/Examples/Squat/Input/Parameters.any
  Application/Examples/Squat/Model/BodyModelConfiguration.any
  Application/Examples/StandingPosturePredictionWithLoad/Model/BodyModelConfig.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/JointsAndDrivers.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller90kgLMF_media.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller90kg_media.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller_media.any
  Docs/Scaling/_static/lesson1/AppliedForces_media.any
  Docs/Scaling/_static/lesson1/ScalingLengthMassCorrect_media.any
  Docs/Scaling/_static/lesson1/ScalingLengthMass_media.any
  Docs/Scaling/lesson1.md
  Docs/Scaling/lesson2.md
  Docs/_static/Cool_Guy/cool_guy/Model/JointsAndDrivers.any
  Docs/_static/Cool_Guy/cool_guy/Model/LeftFootDrivers.any
  Docs/_static/Cool_Guy/cool_guy/Model/RightFootDrivers.any
Due: other_tests, Application_tests, test_docs

Backport the SternalBody Segment reference
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
Due: other_tests, Application_tests
