Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

allow the user to define a path to include custom LegTLEM muscle calibration
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
Due: other_tests, Application_tests

Add BM option for Custom calibration
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Docs/bm_config/bm_constants.rst
  Docs/bm_config/bm_statements.rst
Due: other_tests, Application_tests, test_docs

Simplify calibration implementation
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
Due: other_tests, Application_tests

Add BM_CALIBRATION_CUSTOM to code
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
Due: other_tests, Application_tests

Let _CALIBRATION_TYPE_CUSTOM_ == OFF
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/bm_constants.py
  Docs/bm_config/bm_constants.rst
Due: other_tests, Application_tests, test_docs

Add changelog entry
  CHANGELOG.txt
Due: test_docs

fix typo
  CHANGELOG.txt
Due: test_docs

Add example on how to use custom calibraiton
  CHANGELOG.txt
Due: test_docs

Hide ref frames accidentally made visible
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
Due: other_tests, Application_tests

Fixed occasional kinematics problems with FullBody MoCap models
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-trunk-full.txt
  CHANGELOG.txt
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests, test_docs

Update Body/AAUHuman/Trunk/Disc.any, CHANGELOG.txt files
  Body/AAUHuman/Trunk/Disc.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Add new RotVector based measures for the shoulder-arm
  Body/AAUHuman/Arm/Interface.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftFolder.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightFolder.any
Due: other_tests, Application_tests

Use RotVector based measures for temporary joint angle files
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Update MoCap joint angle intermediate files
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-trunk-full.txt
Due: other_tests, Application_tests

Update and clean up temporary joint angle files in MoCap examples
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-left_arm_shoulder.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-left_leg_tlem.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-right_arm_shoulder.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-right_leg_tlem.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_1-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_2-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_2-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_2-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_2-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/FlywheelSquat_2-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-left_arm.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-left_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-leftlegtd.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-right_arm.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-right_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-rightlegtd.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_FlywheelSquat-euler-trunk.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-left_arm.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-left_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-leftlegtd.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-right_arm.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-right_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-rightlegtd.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_FlywheelSquat-euler-trunk.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/StandingRef_1-euler-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/StandingRef_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/StandingRef_1-euler-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/StandingRef_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/StandingRef_1-euler-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
Due: other_tests, Application_tests

Change arm jont angle filename output filename
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Add compare test functionality
  .gitignore
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Tests/AnyMocap/Test_LowerExtremity-Plug-in-gait.any
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_ArmCurl.any
  Tests/Applications/test_BenchPress.any
  Tests/Applications/test_BergmannGH.any
  Tests/Applications/test_BikeModel-FullBody.any
  Tests/Applications/test_BikeModel.any
  Tests/Applications/test_BikeModel2D.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_FreePostureFullBodyMove.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_PedalDemoConditional.any
  Tests/Applications/test_ShoulderBag.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_StandingModelScalingDisplay.any
  Tests/Applications/test_StandingPosturePredictionModel.any
  Tests/Applications/test_WheelTurn.any
  Tests/BM combinations/test_bm_leg_muscles.any
  Tests/run-comparison-test.bat
  Tests/save-anytest-ouput.bat
  Tests/test_compare.py
  Tests/test_example.any
Due: other_tests, Application_tests

Updates to compare framework
  Tests/run-comparison-test.bat
  Tests/test_compare.py
Due: other_tests, Application_tests

Add all tests from old compare engine
  Tests/test_compare.py
Due: other_tests, Application_tests

Add compare tests
  .gitignore
  Tests/AnyMocap/Test_LowerExtremity-Plug-in-gait.any
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_ArmCurl.any
  Tests/Applications/test_BenchPress.any
  Tests/Applications/test_BergmannGH.any
  Tests/Applications/test_BikeModel-FullBody.any
  Tests/Applications/test_BikeModel.any
  Tests/Applications/test_BikeModel2D.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_FreePostureFullBodyMove.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_PedalDemoConditional.any
  Tests/Applications/test_ShoulderBag.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_StandingModelScalingDisplay.any
  Tests/Applications/test_StandingPosturePredictionModel.any
  Tests/Applications/test_WheelTurn.any
  Tests/run-comparison-test.bat
  Tests/save-anytest-ouput.bat
  Tests/test_compare.py
Due: other_tests, Application_tests

Init pos correction and removal of 1 wrapping surface
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Improve pectoralis_major_thoracic 4 and 5 init pos
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Extensor_Digitorum init pos update
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Extensor_Digitorum__Digit5 and 3 step 2
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Remove test specification with wrong type
  Tests/Applications/test_AalborgMandibleValidation.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_StandingModelScalingDisplay.any
Due: other_tests, Application_tests

Add more compare tests targets
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/Applications/test_AalborgMandibleValidation.any
  Tests/Applications/test_BikeModel-LowerBody.any
  Tests/Applications/test_CrossTrainer.any
  Tests/Applications/test_FacetJointModel.any
  Tests/Applications/test_FreePostureFullBodyShoulderRhythmMove.any
  Tests/Applications/test_FreePostureFullBodyStatic.any
  Tests/Applications/test_GaitVaughan.any
  Tests/Applications/test_JumpingJack.any
  Tests/Applications/test_LegPressMachine.any
  Tests/Applications/test_MandibleChewingAndClenching.any
  Tests/Applications/test_MaxForceNeckModel.any
  Tests/Applications/test_PushUp.any
  Tests/Applications/test_SeatedHuman.any
  Tests/Applications/test_SeatedHumanFullWithNeck.any
  Tests/Applications/test_SpineFixationWithForceDependentKinematics.any
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_Squat.any
  Tests/Applications/test_THA-KneeBendDemo.any
  Tests/Applications/test_WheelChairRancho.any
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_TrunkDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Add handbreadth tib-torsion parameters
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Enable HeadWidth/HeadDepth/NeckLength optimization in OptimizeAnthropometricsOnOff.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Ensure TibialRotation optimization is saved in AnyMoCap parameter opt.
  Tools/AnyMocap/SaveLoadParameters.any
Due: other_tests, Application_tests

New init pos values for pectoralis_major_thoracic and Extensor_Digitorum
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Corrected the location of via points of Flexor_Digitorum_Superficialis_Digit2 to avoid wrapping surface collisions in certain hand positions.
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs
