Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix colors scale for type 3 force platforms
  CHANGELOG.txt
  Tools/AnyMocap/ForcePlates/ForcePlateTypes.any
Due: other_tests, Application_tests, test_docs

Use new anyset "Save design" class operation in AnyMocap
  CHANGELOG.txt
  Tools/AnyMocap/SaveLoadParameters.any
Due: other_tests, Application_tests, test_docs

Add ANSUR plugin example
  Application/Examples/StatisticalScalingPlugin/AnyMan_ANSUR.any
  Application/Examples/StatisticalScalingPlugin/BodyModelConfiguration.any
  Application/Examples/StatisticalScalingPlugin/Main.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  Tools/Plugins/ANSUR_Plugin-1.0.1-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.0.1-py3.7-win-amd64.ico
  Tools/Plugins/ANSUR_Plugin.any
Due: other_tests, Application_tests

Add changelog info
  CHANGELOG.txt
Due: test_docs

Rename doc filename
  CHANGELOG.txt
  Docs/Applications/Other/plot_PosturePredictionModel.py
Due: test_docs

Add doc entry on statistical scaling plugin
  CHANGELOG.txt
  Docs/Applications/Other/StatisticalScalingPlugin1.png
  Docs/Applications/Other/plot_StatisticalScalingPlugin.py
  Docs/Applications/images/StatisticalScalingPlugin.jpg
Due: test_docs

Update redundent job cancelation
  .github/workflows/ammr-doc.yaml
  .github/workflows/cancel-jobs.yml
  .github/workflows/test.yml
Due: none

tmp commit
  Application/MocapExamples/HandProtocol/Setup/LabSpecificData.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BM_Plugin.any
  Body/AAUHuman/Hand/HandData/RUHM/Plzen-HandModelParameters.any
  Body/AAUHuman/Hand/HandSeg.any
  Body/AAUHuman/Scaling/ScalingHandNone.any
  ruhm_test.main.any
Due: other_tests, Application_tests

Fix problem with BM_plugin guard
  Body/AAUHuman/BodyModels/GenericBodyModel/BM_Plugin.any
Due: other_tests, Application_tests

Fix bone size and inverted vertices for some RUHM hand bones
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx1.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase3.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase4.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase5.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx4.anysurf3
Due: other_tests, Application_tests

Make sure models run with new wrapping solver
  Application/MocapExamples/HandProtocol/Setup/LabSpecificData.any
Due: other_tests, Application_tests

Reorder sections in changelog
  CHANGELOG.txt
Due: test_docs

Update changelog
  CHANGELOG.txt
Due: test_docs

Fix links to refman which can't work in AMMR doc
  CHANGELOG.txt
Due: test_docs

Add just PeroneusLongus and PeroneusBrevis via points
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix missing logo on Jumping Jack model.
  Application/Examples/JumpingJack/JumpingJack.main.any
Due: other_tests, Application_tests

Update FootPlateConditionalContact.any
  Tools/GRFPrediction/FootPlateConditionalContact.any
Due: other_tests, Application_tests

Triggered tests should run PR branch
  .github/workflows/nighly-tests.yml
Due: none

Adjust Serratus Anterior 1's origin so it aligns with the bone geometry.
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
Due: other_tests, Application_tests

Split Pectoralis Major in 10
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmMuscleNames.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Small adjustment to PectoralisMajor
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
Due: other_tests, Application_tests

Modified 3E_Hill muscles to work with Pec.Major 6-10
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Update plot_StatisticalScalingPlugin.py
  Docs/Applications/Other/plot_StatisticalScalingPlugin.py
Due: test_docs

Fix test failure due to pectoralis wrap surf collision
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
Due: other_tests, Application_tests

Fix version numbers [skip ci]
  AMMR.version.any
  CHANGELOG.txt
Due: test_docs

Marker node orientation correction
  CHANGELOG.txt
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests, test_docs

Update ANSUR plugin with Christine warnings
  Tools/Plugins/ANSUR_Plugin-1.0.1-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.1.0-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.1.0-py3.7-win-amd64.ico
  Tools/Plugins/ANSUR_Plugin.any
Due: other_tests, Application_tests

Add warning/error when using BVH older BVH models with AMMR 2.3
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
  Tools/AnyMocap/CheckAnyMocapPostConfiguration.any
  Tools/AnyMocap/ModelSetup.any
  Tools/AnyMocap/Protocols/XsensBVH.any
  libdef.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.txt
Due: test_docs

Remove ANYMOCAP_PATH from test libdef
  Tests/libdef.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
