Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Updated autogenerated BM files
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Add change log entries
  CHANGELOG.md
Due: none

Add deprecation warnings
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: removed typo in BM_TRUNK_*_DISC_STIFNESS parameters (#1006)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  CHANGELOG.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

correct typo in disc stiffness bm statement
  Body/AAUHuman/Trunk/DiscStiffness.any
Due: other_tests, Application_tests

correct typo in disc stiffness bm statement (#1007)
  Body/AAUHuman/Trunk/DiscStiffness.any
Due: other_tests, Application_tests

Update the pixi lock file
  pixi.lock
Due: none

feat: Trunk cervical stiffness (#34)
  Body/AAUHuman/Trunk/CervicalDiscStiffness.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
  CHANGELOG.md
Due: other_tests, Application_tests

chore: update dependencies in pixi.toml
  pixi.lock
  pixi.toml
Due: none

chore: update dependencies in pixi.toml (#1008)
  pixi.lock
  pixi.toml
Due: none

fix: Exclude hdf5 save from tests
  Body/AAUHuman/Arm/EvaluateMomentArmsStudy.any
  Body/AAUHuman/LegTLEM/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
Due: other_tests, Application_tests

feat: Add TrajectoryTracer template and examples
  Application/MocapExamples/SpecialFeatures/DrawTrajectories.main.any
  Tools/AnyMocap/ModelViews.any
  Tools/ModelUtilities/Draw/TrajectoryTracer.any
Due: other_tests, Application_tests

Only call python if it is available
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Added more logic to check if python is available
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

Remove unused hash directory code
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Adjuested tolerance for symmetry test
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Adjuested tolerance for symmetry test (#1010)
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

fix: increase kinetic tolerance in LegDynamicSymmetryCheck test
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

fix: Only call python if it is available (#1009)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
  Body/AAUHuman/HumanModel.defs.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: FixBug_GleuteusMaximusInferior_WrappingSeg (#36)
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

remove test link from documentation index page
  Docs/index.md
Due: test_docs

remove test link from documentation index page (#1011)
  Docs/index.md
Due: test_docs

feat: add conditional compilation for Python availability and user notification
  Body/AAUHuman/BodyModels/GenericBodyModel/BM_Plugin.any
  Body/AAUHuman/HumanModel.defs.any
  Tools/Plugins/ANSUR_Plugin.any
Due: other_tests, Application_tests

Update lock files and pixi config
  pixi.lock
  pixi.toml
Due: none

Update pixi.toml
  pixi.toml
Due: none

remove designvar as muscle activity will not be ready for evaluation till outputvar
  Tools/ModelUtilities/Validation/EvaluateMaxExternalLoad.any
Due: other_tests, Application_tests

Moved user notification for missing Python installation
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

feat: add EvalMaxLoad test configuration for load-only evaluation
  Tests/Applications/test_EvalMaxLoad_loadonly.any
Due: other_tests, Application_tests

fix: remove designvar for muscle activity output in EvaluateMaxLoad class template (#1013)
  Tests/Applications/test_EvalMaxLoad_loadonly.any
  Tools/ModelUtilities/Validation/EvaluateMaxExternalLoad.any
Due: other_tests, Application_tests

feat: Only load plugins if builtin python is available. (#1012)
  Body/AAUHuman/BodyModels/GenericBodyModel/BM_Plugin.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/HumanModel.defs.any
  Tools/Plugins/ANSUR_Plugin.any
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests

feat: Iliocostalis cervicis (#37)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Body/AAUHuman/Trunk/muscle-models-trunk-simple.any
  Body/AAUHuman/Trunk/muscle-models-trunk.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: BM_TRUNK_EXPERIMENTAL_INTER_LAYER_L5PELVIC, default is OFF (#38)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

fix: Refactor ammr 3.0 muscle compatibility structure for leg muscles. (#40)
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/ammr_3.0_compatibility_structure.any
Due: other_tests, Application_tests

feat: Add new reference nodes on shank (#41)
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

fix: Remove extra muscles and add missing muscles when rigid thorax (#43)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
Due: other_tests, Application_tests

Update link to thesis
  Docs/body/cervical_spine_model.md
Due: test_docs
