Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  script:
  - mkdir Documentation
  - pytest "--ignore=Tests/Applications" -n 4 --anybody_debug_mode=1
  tags:
  - ams

Application_tests:
  stage: test
  script:
  - mkdir Documentation
  - pytest Tests/Applications -n 4 --timeout=1700 --anybody_debug_mode=1
  tags:
  - ams

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q "sphinx<2.0" make
  ...

Add changelog entry
  CHANGELOG.txt
Due: test_docs

-adjusted Knee simulator to either (1) use FDK or (0) not. PF and TF FDK choices are eliminated -fixed test_KneeSimulator.any to run rest with/without FDK
  Application/Examples/KneeSimulator/Model/Contacts.any
  Application/Examples/KneeSimulator/Model/Joints.any
  Application/Examples/KneeSimulator/Model/Measures.any
  Application/Examples/KneeSimulator/Model/Outputs.any
  Application/Examples/KneeSimulator/UserDefinedSettings.any
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Update MoCap AnySet files
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Tests/AnyMocap/Output/Test_S1_StandingRef.anyset
Due: other_tests, Application_tests

Update MoCap Tests
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel_load-only.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandigRef.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody_load-only.any
Due: other_tests, Application_tests

Fix wrong header in MoCap test
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
Due: other_tests, Application_tests

Fix test error
  Application/MocapExamples/Plug-in-gait_Simple/Setup/BodyModelConfigFullBody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody_load-only.any
Due: other_tests, Application_tests

Update PreMainIncludes.any
  Application/Examples/KneeSimulator/Model/PreMainIncludes.any
Due: other_tests, Application_tests

Update test_KneeSimulator_load_only.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Update plot_KneeSimulator.py
  Docs/Applications/Orthopedics_and_rehab/plot_KneeSimulator.py
Due: test_docs

fix typos
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Add warnings about read only main and modified human model
  .gitlab-ci.yml
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
  Tests/test_human_model_hash.any
Due: other_tests, Application_tests, test_docs

ci: add tag for running hash on AMS enabled runners
  .gitlab-ci.yml
Due: test_docs

ci: print hash value
  .gitlab-ci.yml
Due: test_docs

Update models.rst
  Docs/body/models.rst
Due: test_docs

Fix admonitions with sphinx 2
  Docs/conf.py
Due: test_docs

Fix favicon.ico
  Docs/_static/favicon.ico
  Docs/_static/favicon71.ico
Due: test_docs

Fix sphinx 2 problems
  .gitlab-ci.yml
  Docs/_static/custom.css
  Docs/conf.py
Due: test_docs

Fix path when resolving local docs folder
  Tools/conditional_paths.any
Due: other_tests, Application_tests

Ensure Obturator muscles are only included in a single calibration study
  Body/AAUHuman/LegTLEM/Calibration/LegCal5.any
Due: other_tests, Application_tests

Ensure LegCal1 only calibrates muscle not included in the subsequent calibrations
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceLeft.any
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceRight.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal1.any
Due: other_tests, Application_tests

Clean up syntax
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceLeft.any
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceRight.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal1.any
Due: other_tests, Application_tests

Update changed files warning
  .gitignore
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
  Tests/test_human_model_hash.any
Due: other_tests, Application_tests

Update version and AMMR body hash
  AMMR.version.any
Due: none

Fix small typo in GRFPrediction.any
  Application/Examples/StandingModel/Model/GRFPrediction.any
Due: other_tests, Application_tests

Update arm muscle parameters with new values generate from spreed sheet
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder2.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder_old.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/SubjectMusPar.any
  Body/AAUHuman/Arm/sternocleidomastoid.any
  Body/AAUHuman/BodyModels/GenericBodyModel/MuscleModelParameter.ClassTemplate.any
Due: other_tests, Application_tests

Add working test for writeablility
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
Due: other_tests, Application_tests

fixed Anc. bellylength to match 3e length
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Corrected distribuiton of latisimus dorsi pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Fix Pron_quadr2 wrong force
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple pectoralis mus PCSA to match 3E pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple deltoid pcsa to match 3E mus (holzbauer 2005 data)
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

fix simple mus teres_major pcsa to match 3E mdl
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple supscapularis mus pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Removed redundant pcsa factors
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix 3E coracobrach. pennation angle to match simple mdl.
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Add change log entry
  CHANGELOG.txt
Due: test_docs

fix typo in latissimus pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
