Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Backport the SternalBody Segment reference (#641)
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
Due: other_tests, Application_tests

update micromamba ci package to 22
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Use internally hosted micromamba
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Addapt to new micromamba interface
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Update compare reference CI
  .github/workflows/create-compare-reference.yml
Due: none

Move trunk modelparameters to invidual folders
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/NodesSegmentsThoraxIndividual.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Fix references for lumbar ligaments
  Body/AAUHuman/Trunk/LumbarLigamentNodes.any
Due: other_tests, Application_tests

Update camera class template and AMMR examples
  Application/Examples/ArmCurl/ArmCurl.Main.any
  Application/Examples/ArmCurl/Model/BodyModelConfiguration.any
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/ArmCurl/Model/Mannequin.any
  Application/Examples/BikeModel/BikeModel-FullBody.main.any
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Application/Examples/KneeSimulator/Model/ClassTemplates.any
  Application/Examples/PushUp/PushUp.main.any
  Application/Examples/SeatedHuman/SeatedHuman.main.any
  Application/Examples/Squat/Input/Parameters.any
  Application/Examples/Squat/Model/Mannequin.any
  Application/Examples/Squat/Model/TrunkDrivers.any
  Application/Examples/Squat/Squat.main.any
  Application/Examples/StandingLift/StandingLift.main.any
  Application/Examples/StandingModel/StandingModel.Main.any
  Application/Examples/WheelTurn/Model/BodyModelConfiguration.any
  Application/Examples/WheelTurn/Model/InputParameters.any
  Application/Examples/WheelTurn/Model/JointsAndDrivers.any
  Application/Examples/WheelTurn/Model/Mannequin.any
  Application/Examples/WheelTurn/WheelTurn.Main.any
  Application/MocapExamples/ADL_Gait_[beta]/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Ensure CType can be overriden in default mannequin drivers
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
Due: other_tests, Application_tests

Add changelog entry [Skip ci]
  CHANGELOG.md
Due: none

Update changelog and fix small bug
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  CHANGELOG.md
Due: other_tests, Application_tests

Add more CreateVideo files
  Application/Examples/ArmCurl/Model/CreateVideo.any
  Application/Examples/BikeModel/Model/CreateVideo.any
  Application/Examples/KneeSimulator/Model/CreateVideo.any
  Application/Examples/PushUp/Model/CreateVideo.any
  Application/Examples/SeatedHuman/Model/CreateVideo.any
  Application/Examples/Squat/Model/CreateVideo.any
  Application/Examples/StandingLift/Model/CreateVideo.any
  Application/Examples/StandingModel/Model/CreateVideo.any
  Application/Examples/WheelTurn/Model/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
Due: other_tests, Application_tests

Simplify default driver template structure
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
Due: other_tests, Application_tests

Ensure the VideoInputFrameRate is always valid
  Application/MocapExamples/BVH_Xsens/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Don't use variables named 'r'
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

Update changelog
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
  CHANGELOG.md
Due: other_tests, Application_tests

tmp
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
Due: other_tests, Application_tests

Add example of text based forceplate data
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/TextForcePlateData.any
Due: other_tests, Application_tests

add OpenGraph html tags for link previews
  Docs/conf.py
  Docs/environment.yaml
Due: test_docs

Update Docs/environment.yaml
  Docs/environment.yaml
Due: test_docs

fix squat model loading error
  Application/Examples/Squat/Model/LeftArmDrivers.any
Due: other_tests, Application_tests

Add example of a python hook for testing C3D files
  Application/MocapExamples/Plug-in-gait_Simple/LowerExtremity.main.any
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
Due: other_tests, Application_tests

Update example
  Application/MocapExamples/Plug-in-gait_Simple/LowerExtremity.main.any
  Tools/AnyMocap/c3d_marker_check.py
Due: other_tests, Application_tests

add bvh box lift model example
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T01.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T02.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T03.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T04.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T05.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T06.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T07.bvh
  Application/MocapExamples/BVH_BoxLift/Model/BVHSettings.any
  Application/MocapExamples/BVH_BoxLift/Model/BodyModelConfig.any
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_BoxLift/Model/ExtraDrivers.any
  Application/MocapExamples/BVH_BoxLift/Model/ForcePlates.any
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Model/MarkerProtocol.any
  Application/MocapExamples/BVH_BoxLift/Model/box.any
  Application/MocapExamples/BVH_BoxLift/Model/box.anysurf3
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T01/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T01/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T02/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T02/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T03/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T03/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T04/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T04/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T06/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T06/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/SubjectSpecificData.any
  Application/MocapExamples/BVH_BoxLift/libdef.any
Due: other_tests, Application_tests

Fix typo in define statement
  Tests/AnyMocap/Test_ExternalDesVar.any
Due: other_tests, Application_tests

update box description
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Model/box.any
Due: other_tests, Application_tests

fix .anyset missing file error
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T01/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T02/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T03/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T04/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T06/TrialSpecificData.any
Due: other_tests, Application_tests

add test of model
  Tests/AnyMocap/Test_BVH_BoxLift.any
Due: other_tests, Application_tests

define target points on floor and square wave fun test. Switch off muscles in bodymodel.
  Application/MocapExamples/BVH_Xsens/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens/Changes.any
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
Due: other_tests, Application_tests

fix ignoring of gitkeep files
  .gitignore
  Application/MocapExamples/BVH_BoxLift/Output/.gitkeep
Due: other_tests, Application_tests

Fix typos in comments
  Application/MocapExamples/BVH_BoxLift/Model/box.any
Due: other_tests, Application_tests

Substitute depth by length. Depth and height have similar meaning for description of box dimensions.
  Application/MocapExamples/BVH_BoxLift/Model/box.any
Due: other_tests, Application_tests

Add Elbow Exoskeleton contact example in Application folder. Create new EnvironmentConnection folder in AMMR to store environment related-class templates and demo of classes.
  Application/Examples/ExoskeletonElbowContact/ChangesForExoModel.any
  Application/Examples/ExoskeletonElbowContact/ExoskeletonElbowContact.main.any
  Application/Examples/ExoskeletonElbowContact/Model/BodyModelConfiguration.any
  Application/Examples/ExoskeletonElbowContact/Model/DrawSettings.any
  Application/Examples/ExoskeletonElbowContact/Model/Environment.any
  Application/Examples/ExoskeletonElbowContact/Model/GRFPrediction.any
  Application/Examples/ExoskeletonElbowContact/Model/JointsAndDrivers.any
  Application/Examples/ExoskeletonElbowContact/Model/LeftFootDrivers.any
  Application/Examples/ExoskeletonElbowContact/Model/Mannequin.any
  Application/Examples/ExoskeletonElbowContact/Model/RightFootDrivers.any
  Application/Examples/ExoskeletonElbowContact/Model/RunAppSequence.any
  Docs/Applications/Exoskeletons/plot_HumanExoContact.py
  Docs/Applications/images/HumanExoskeletonContact.jpg
  Tests/Applications/test_ExoskeletonElbowContact.any
  Tools/EnvironmentConnection/ClassDemos/Demo_CondContactMultiPoints.main.any
  Tools/EnvironmentConnection/ClassDemos/Demo_EllipticCylinderPointsGrid.main.any
  Tools/EnvironmentConnection/ClassDemos/libdef.any
  Tools/EnvironmentConnection/Connectors/ConditionalContact/ConditionalContactDistanceAndVelocityDepClass.any
  Tools/EnvironmentConnection/Connectors/ConditionalContact/ConditionalContactMultiPoints.any
  Tools/EnvironmentConnection/Connectors/ConditionalContact/ConditionalForceMomentMeasure2.any
  Tools/EnvironmentConnection/Connectors/ConditionalContact/ContactSurfaceDistanceAndVelocityDepLinPush.any
  Tools/EnvironmentConnection/Connectors/PointsGenerator/EllipticCylinderPointsGrid.any
  Tools/EnvironmentConnection/IncludeConnectors.any
Due: other_tests, Application_tests, test_docs

Bvh-box-model (#651)
  .gitignore
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T01.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T02.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T03.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T04.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T05.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T06.bvh
  Application/MocapExamples/BVH_BoxLift/BVH-files/S01_T07.bvh
  Application/MocapExamples/BVH_BoxLift/Model/BVHSettings.any
  Application/MocapExamples/BVH_BoxLift/Model/BodyModelConfig.any
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_BoxLift/Model/ExtraDrivers.any
  Application/MocapExamples/BVH_BoxLift/Model/ForcePlates.any
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Model/MarkerProtocol.any
  Application/MocapExamples/BVH_BoxLift/Model/box.any
  Application/MocapExamples/BVH_BoxLift/Model/box.anysurf3
  Application/MocapExamples/BVH_BoxLift/Output/.gitkeep
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T01/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T01/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T02/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T02/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T03/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T03/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T04/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T04/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T06/Main.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T06/TrialSpecificData.any
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/SubjectSpecificData.any
  Application/MocapExamples/BVH_BoxLift/libdef.any
  Tests/AnyMocap/Test_BVH_BoxLift.any
Due: other_tests, Application_tests

Update
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/c3d_marker_check.py
Due: other_tests, Application_tests

add missing documentation for boxlift example
  Docs/Applications/Mocap/plot_BVH_BoxLift.py
  Docs/Applications/images/BVH_BoxLift.jpg
  Tests/AnyMocap/Test_BVH_BoxLift.any
Due: other_tests, Application_tests, test_docs

fix typo
  Docs/Applications/Mocap/plot_BVH.py
Due: test_docs

Fixed a lack of robustness with the `buckle support`.
  Body/AAUHuman/Trunk/BuckleSupport.any
  CHANGELOG.md
Due: other_tests, Application_tests
