Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

add ammr zip step as pixi command
  Docs/make.bat
  pixi.toml
Due: test_docs

fix broken SLA link + bump copywright year
  LICENSE
Due: none

fix broken SLA link + bump copywright year (#1130)
  LICENSE
Due: none

add ammr zip step as pixi command (#1128)
  Docs/make.bat
  pixi.toml
Due: test_docs

AnyMoCap : Removed unnecessary and deprecated members from C3D settings
  Application/MocapExamples/ADL_Gait_[beta]/C3DSettings.any
  Application/MocapExamples/BVH_Xsens/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/C3DSettings.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/C3DSettings.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/C3DSettings.any
  Application/Validation/AalborgMandibleValidation/BaseModel/ModelSetup.any
  Tests/AnyMocap/Test_ForcePlateAutoDetection.any
  Tools/AnyMocap/C3DSettings.any
Due: other_tests, Application_tests

AnyMoCap : Removed unnecessary and deprecated members from C3D settings
  Application/MocapExamples/Plug-in-gait_Simple/Setup/C3DSettings.any
Due: other_tests, Application_tests

AnyMoCap/Marker-class: Applied better access to the new time arrays that AnyBody 8.2 makes available.
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

AMMR version update for AMS 8.2.0 for testing purposes
  AMMR.version.any
  CHANGELOG.md
Due: none

fix linkcheck user agent and increase timeout for slow pages
  Docs/conf.py
Due: test_docs

fix linkcheck user agent and increase timeout for slow pages (#1132)
  Docs/conf.py
Due: test_docs

AnyMoCap: Fixed spelling mistake in a test-file's name
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandingRef.any
Due: other_tests, Application_tests

AnyMocap: Fixed that trial-specific data defaults could give filter warnings
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/LabSpecificData_Defaults.any
  Tools/AnyMocap/TrialSpecificData_Defaults.any
Due: other_tests, Application_tests

prepare new release
  .github/instructions/release.instructions.md
  AMMR.version.any
  CHANGELOG.md
Due: none

docs(changelog): complete AMMR 3.2.0 release notes
  CHANGELOG.md
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

update instructions and point to new anybodycon
  .github/instructions/release.instructions.md
  pixi.toml
  public-pixi.toml
Due: none

Add options for creating markers for C3D files with rotations
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Add documentation comments in create marker driver class template
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

AnyMoCap : Fixed use of the deprecated AnyInputC3D::*FilterIndex that was missed in previous preparation for v3.2.0
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
Due: other_tests, Application_tests

CHANGELOG updated, incl. partial prep. for v. 3.2.1
  CHANGELOG.md
Due: none

update lock file
  pixi.lock
Due: none

Suggestion for AMMR 3.2.0->3.2.1 ChnageLog fixes
  CHANGELOG.md
Due: none

ChangeLog update with new Zeonodo info for 3.2.1
  CHANGELOG.md
Due: none

add updated changelog for 320
  CHANGELOG.md
Due: none

Squashed commit of the following:
  CHANGELOG.md
Due: none

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#1136)
  Tests/.test_durations
Due: other_tests, Application_tests

bump version
  AMMR.version.any
Due: none

update GH actions windows image for pipelines
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
Due: none

update GH actions windows image for pipelines (#1139)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
Due: none

bump version (#1138)
  AMMR.version.any
Due: none
