Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

iter
  .github/workflows/create-compare-reference-linux.yml
Due: none

Fix upload script
  .github/workflows/create-compare-reference-linux.yml
Due: none

Use an action to upload to azure
  .github/workflows/create-compare-reference-linux.yml
Due: none

update
  .github/workflows/create-compare-reference-linux.yml
Due: none

Run all tests
  .github/workflows/create-compare-reference-linux.yml
Due: none

Run the slow tests
  .github/workflows/create-compare-reference-linux.yml
Due: none

Don't save h5 file in normal tests
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Run Nightly tests on linux as well
  .github/workflows/nighly-tests.yml
Due: none

Clean up file
  .github/workflows/create-compare-reference-linux.yml
Due: none

Update
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test-container.yml
Due: none

Update
  .github/workflows/create-compare-reference-linux.yml
Due: none

update final
  .github/workflows/create-compare-reference-linux.yml
Due: none

Compare reference (#606)
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test-container.yml
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Fix error in nightly CI script
  .github/workflows/nighly-tests.yml
Due: none

Add option to specify which contiainer linux tests run in
  .github/workflows/nighly-tests.yml
Due: none

Normal test should not cancel nightly tests
  .github/workflows/nighly-tests.yml
Due: none

Run linux test with newest AnyPyTools
  .github/workflows/nighly-tests.yml
Due: none

Don't require sphinx 3
  Docs/environment.yaml
Due: test_docs

Fix different issues from porting docs to myst
  Docs/anymocap/index.md
  Docs/body/leg_tlem2_model.md
  Docs/body/symmetric_mandible_model.md
  Docs/creating_model_from_scratch.md
  Docs/index.md
Due: test_docs

Simplify test on linux to run tests
  .github/workflows/nighly-tests.yml
  Tests/test_pyutils.any
Due: other_tests, Application_tests

Fix docs issue due to MyST markdown migration (#607)
  Docs/anymocap/index.md
  Docs/body/leg_tlem2_model.md
  Docs/body/symmetric_mandible_model.md
  Docs/creating_model_from_scratch.md
  Docs/environment.yaml
  Docs/index.md
Due: test_docs

Add more configuration to CI for compare test
  .github/workflows/create-compare-reference-linux.yml
Due: none

Run fewer concurrent CI processes in tests
  .github/workflows/create-compare-reference-linux.yml
Due: none

Fix switch for bony landmark joint types
  Body/AAUHuman/LegTLEM/Jnt.any
  Tests/BM combinations/test_bm_bodypart_joint_type.any
Due: other_tests, Application_tests

small syntax change in tests
  .github/workflows/create-compare-reference-linux.yml
Due: none

Update nighly-tests.yml
  .github/workflows/nighly-tests.yml
Due: none

Update create-compare-reference.yml
  .github/workflows/create-compare-reference.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Update CI test with new micromamba (#609)
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Merge remote-tracking branch 'origin/HEAD'
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

fix typo in compare-ref
  .github/workflows/create-compare-reference-linux.yml
Due: none

Fix Switch for Bony landmark joint types (#608)
  .github/workflows/create-compare-reference-linux.yml
  Body/AAUHuman/LegTLEM/Jnt.any
  Tests/BM combinations/test_bm_bodypart_joint_type.any
Due: other_tests, Application_tests

Use az-cli when uploading compare data from ci pipeline
  .github/workflows/create-compare-reference-linux.yml
Due: none

Update nightly tests CI file
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/nighly-tests.yml
Due: none
