Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Drop old deploy method (#867)
  .github/workflows/ammr-doc.yaml
Due: none

Remove unused doc files
  Docs/tools/class-templates/Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Video.VideoLookAtCamera.md
  Docs/tools/class-templates/class_templates_TOC.txt
  Docs/tools/overview.md
Due: test_docs

Update docs build command
  .github/workflows/ammr-doc.yaml
  Docs/about.md
Due: test_docs

add silent command
  .github/workflows/ammr-doc.yaml
Due: none

Build setup for docs generation (#868)
  .github/workflows/ammr-doc.yaml
  Docs/about.md
  Docs/tools/class-templates/Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Video.VideoLookAtCamera.md
  Docs/tools/class-templates/class_templates_TOC.txt
  Docs/tools/overview.md
Due: test_docs

Ensure ammr-directive sphinx ext can run in parallel
  Docs/exts/ammr_directives.py
Due: test_docs

Declare AMMR sphinx directive safe for parallel reading and writing (#869)
  Docs/exts/ammr_directives.py
Due: test_docs

Run tests after merge to master
  .github/workflows/test.yml
Due: none

use explicit sphinx commands
  .github/workflows/ammr-doc.yaml
Due: none

Allow inline highlighter to run in shinx parallel mode
  Docs/exts/inline_highlight.py
Due: test_docs

More parallel sphinx commands (#870)
  .github/workflows/ammr-doc.yaml
  .github/workflows/test.yml
  Docs/exts/inline_highlight.py
Due: test_docs

Do not build documentation on internal forks
  .github/workflows/ammr-doc.yaml
Due: none

don't use parallel sphinx builds
  .github/workflows/ammr-doc.yaml
Due: none

Do not build documentation on internal forks (#871)
  .github/workflows/ammr-doc.yaml
Due: none

Update test badge on README.md
  Docs/README.md
Due: test_docs

Update test badge on README.md (#872)
  Docs/README.md
Due: test_docs

exclude the new oriented lumbar jrf nodes from sRel and r values comparison test
  Tests/Thoracic/test_trunk_load_pos.any
Due: other_tests, Application_tests

Spine jrf selected outputs (#866)
  Body/AAUHuman/Trunk/JointsLumbar.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  CHANGELOG.md
  Tests/Thoracic/test_trunk_load_pos.any
Due: other_tests, Application_tests

Fix all links to previous ammr-doc links (#873)
  CHANGELOG.md
  Docs/README.md
  Docs/conf.py
Due: test_docs

Update render template
  Body/AAUHuman/BuildTools/render_templates.py
Due: other_tests, Application_tests

Add bm parameter for screw-home knee
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
Due: other_tests, Application_tests, test_docs

Simplify joint type definitions in leg
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/JointTypeDefinitions.any
  Body/AAUHuman/LegTLEM/Leg.root.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Rename local joint type defines
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/JointTypeDefinitions.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM1/Seg.any
Due: other_tests, Application_tests

fix syntax typo
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Add screw-home knee rhythm
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/Leg.root.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Add nodes on the right and left points on lumbar bones surfaces. Update ARel of RotNode in jntnodes to use the right and left points
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

Implement CoM measure with search function
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
Due: other_tests, Application_tests

Link Muscle visible setting to DrawSettings file
  Body/AAUHuman/DrawSettings/MusDrawSettings.any
Due: other_tests, Application_tests

Link drawnodes visibility to segments bone drawing
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SkullSeg.any
Due: other_tests, Application_tests

Allow overridding bone opacity
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Add furier driver to toolbox
  Tools/ModelUtilities/Drivers/Fourier.any
Due: other_tests, Application_tests

Create seperate screw-home switch
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/LegTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Add screw-home mechanism and example
  Application/Beta/ScrewHomeKnee/BodyModelConfiguration.any
  Application/Beta/ScrewHomeKnee/ScrewHome.main.any
  Application/Beta/ScrewHomeKnee/VisualSettings.any
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

More robust calculation of knee moment
  Body/AAUHuman/LegTLEM/LegMoments.any
Due: other_tests, Application_tests
