Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update link to thesis (#1014)
  Docs/body/cervical_spine_model.md
Due: test_docs

feat: Back-port small change from other projects. (#45)
  Body/AAUHuman/LegTLEM/GluteusMaximumsWrappingSurfaces.any
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

Update tests to use AMS 8.1-beta2
  pixi.lock
  pixi.toml
Due: none

Update video template to support transparent videos
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Update tests to use AMS 8.1-beta2 (#1015)
  pixi.lock
  pixi.toml
Due: none

Remove the deprecated VideoCodec member
  Application/Examples/ArmCurl/Model/CreateVideo.any
  Application/Examples/BenchPress/Model/CreateVideo.any
  Application/Examples/BikeModel/Model/CreateVideo.any
  Application/Examples/KneeSimulator/Model/CreateVideo.any
  Application/Examples/PushUp/Model/CreateVideo.any
  Application/Examples/SeatedHuman/Model/CreateVideo.any
  Application/Examples/Squat/Model/CreateVideo.any
  Application/Examples/StandingModel/Model/CreateVideo.any
  Application/Examples/WheelChairRancho/Model/CreateVideo.any
  Application/Examples/WheelTurn/Model/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
  Docs/FullHuman_media.any
  Docs/body/_static/CervicalSpine_media.any
  Docs/body/_static/DetailedHand_media.any
  Docs/body/_static/Leg_media.any
  Docs/body/_static/LumbarSpine_media.any
  Docs/body/_static/ShoulderArm_media.any
  Docs/body/_static/TLEM1_media.any
  Docs/body/_static/TLEM22_TLEM21_comparison.any
  Tests/Cameras.any
Due: other_tests, Application_tests, test_docs

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#1017)
  Tests/.test_durations
Due: other_tests, Application_tests

feat: Added MusclesSharedCode for Obliq muscles StringRadius of 1e-5 (#46)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/MusclesSharedCode.any
  Body/AAUHuman/Trunk/MusclesSharedCode_SPLine.any
Due: other_tests, Application_tests

Only trigger deprecation warning if users have set VIdeoCodec to something different than the default
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

feat: Ab layer improvement (#47)
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_L1Ribcage.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_PelvicL5.any
  Body/AAUHuman/Trunk/Abdominal/Layer.any
  Body/AAUHuman/Trunk/Abdominal/LayerConstraints.any
  Body/AAUHuman/Trunk/Abdominal/LayerConstraintsPelvic.any
  Body/AAUHuman/Trunk/Abdominal/Pelvic_Layer.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

chore: update nightly tests container to version 8.1.0beta2
  .github/workflows/nightly-tests.yml
Due: none

chore: update nightly tests container to version 8.1.0beta2 (#1018)
  .github/workflows/nightly-tests.yml
Due: none

Update model to fix processing problems
  Application/MocapExamples/ADL_Gait_[beta]/ExtraDrivers.any
  Application/MocapExamples/ADL_Gait_[beta]/LabSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
Due: other_tests, Application_tests

KneeSimulator : Updated test's ignore_errors to fit AnyBody.8.1 better and to be more flexible for minor changes
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

KneeSimulator: Made more FDK options optional with ??= operator.
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
Due: other_tests, Application_tests

test: Test of knee simulator with better/new ignore_errors (#1019)
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Add exception to specific trials
  Application/MocapExamples/ADL_Gait_[beta]/CreateVideo.any
  Application/MocapExamples/ADL_Gait_[beta]/LabSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/MarkerProtocol.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014029/2014029_C4_02/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014029/2014029_C4_05/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014029/2014029_C5_03/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014040/2014040_C5_02/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014053/2014053_C3_04/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2015015/2015015_C4_05/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2015042/2015042_ST/TrialSpecificData.any
Due: other_tests, Application_tests

fix: Fix pelvis volume (#48)
  Body/AAUHuman/BodyModels/GenericBodyModel/PointGenerator.ClassTemplate.any
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/Layer.any
  Body/AAUHuman/Trunk/Abdominal/Pelvic_Layer.any
  Body/AAUHuman/Trunk/Abdominal/PointToLineDist.any
  Body/AAUHuman/Trunk/Abdominal/VolumesAndPressureMuscles.any
  Body/AAUHuman/Trunk/TrunkData1.1/AbdominalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

fix: r0 BaseSegPosterior bugfix (#49)
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/Layer.any
Due: other_tests, Application_tests

Uncomment SetView assignment in InverseDynamicSettings
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Add extra Hand MoCap Example with virtual joint markers
  Application/MocapExamples/HandProtocol2/HandMocap.main.any
  Application/MocapExamples/HandProtocol2/Input/ExampleC3D.c3d
  Application/MocapExamples/HandProtocol2/Setup/BodyModelConfig.any
  Application/MocapExamples/HandProtocol2/Setup/C3DSettings.any
  Application/MocapExamples/HandProtocol2/Setup/CreateVideo.any
  Application/MocapExamples/HandProtocol2/Setup/ExcludeTrunkAndArm.any
  Application/MocapExamples/HandProtocol2/Setup/ExtraDrivers.any
  Application/MocapExamples/HandProtocol2/Setup/ForcePlates.any
  Application/MocapExamples/HandProtocol2/Setup/LabSpecificData.any
  Application/MocapExamples/HandProtocol2/Setup/MarkerProtocol.any
  Application/MocapExamples/HandProtocol2/Setup/SubjectSpecificData.any
  Application/MocapExamples/HandProtocol2/Setup/TrialSpecificData.any
  Application/MocapExamples/HandProtocol2/Setup/VideoLookAtCamera.any
  Application/MocapExamples/HandProtocol2/libdef.any
Due: other_tests, Application_tests

Cut c3d file
  Application/MocapExamples/HandProtocol2/Input/ExampleC3D.c3d
Due: other_tests, Application_tests

Use muscle wrapping solver version 3, to avoid glitches due to penetration removal
  Body/AAUHuman/Arm/HandMuscles_HAND_MODEL_RUHM.any
  Body/AAUHuman/Arm/ThumbMuscles_HAND_MODEL_RUHM.any
Due: other_tests, Application_tests

Remove commented-out code related to hand model issues in LabSpecificData setup
  Application/MocapExamples/HandProtocol2/Setup/LabSpecificData.any
Due: other_tests, Application_tests

Create a bug example of the wrapping bug
  Application/MocapExamples/HandProtocol2/Output/ExampleC3D-euler-right_detailed_hand.txt
  Application/MocapExamples/HandProtocol2/Output/ExampleC3D-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/HandProtocol2/Output/ExampleC3D-rotvec-trunk-full.txt
  Application/MocapExamples/HandProtocol2/Output/ExampleC3D.anyset
  Application/MocapExamples/HandProtocol2/Setup/ExcludeTrunkAndArm.any
  Application/MocapExamples/HandProtocol2/Setup/MarkerProtocol.any
  Application/MocapExamples/HandProtocol2/test_wrapping-bug.any
  Body/AAUHuman/Arm/HandMuscles_HAND_MODEL_RUHM.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/ThumbMuscles_HAND_MODEL_RUHM.any
Due: other_tests, Application_tests

chore(deps): update Python and pin pydata-theme dependencies in pixi.toml
  pixi.lock
  pixi.toml
Due: none

chore(deps): update Python and pin pydata-theme dependencies in pixi.toml (#1021)
  pixi.lock
  pixi.toml
Due: none

Remove debug code from standing model
  Application/Examples/StandingModel/StandingModel.Main.any
Due: other_tests, Application_tests

test: New trunk ROM test (kinematic_inverse and flexible_rigid thorax) (#51)
  Application/Examples/ThoracicModel/Thoracic.main.any
  Tests/Body/Trunk/Thoracic/RangeOfMotion.any
  Tests/Body/Trunk/Thoracic/test_ROM_thoracic_abdominal_unscaled.any
  Tests/Body/Trunk/Thoracic/test_thoracic_abdominal.any
Due: other_tests, Application_tests

docs: add allowed redirects for DOI links in linkcheck configuration (#54)
  Docs/conf.py
Due: test_docs

docs: update linkcheck configuration to allow YouTube redirects
  Docs/conf.py
Due: test_docs

Updates of AMMR some guides/tutorials. New video of rotating human model.
  Docs/FullHuman_media.any
  Docs/_static/HumanModel.png
  Docs/_static/Human_rotating_model.mp4
  Docs/_static/Human_rotating_model.webm
  Docs/_static/Installation-anybodyassistent.png
  Docs/_static/Installation-demo-repo.png
  Docs/ammr_installation.md
  Docs/creating_model_from_scratch.md
  Docs/getting_started.md
  Docs/index.md
Due: test_docs

fix: update video encoder to 'libvpx-vp9' and improve codec handling
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

fix: deprecate VideoCodec variable in VideoLookAtCamera and recommend VIDEO_ENCODER
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

fix: update VIDEO_ENCODER to 'libx264' in multiple media files
  Docs/FullHuman_media.any
  Docs/body/_static/CervicalSpine_media.any
  Docs/body/_static/DetailedHand_media.any
  Docs/body/_static/Leg_media.any
  Docs/body/_static/LumbarSpine_media.any
  Docs/body/_static/ShoulderArm_media.any
  Docs/body/_static/TLEM1_media.any
  Docs/body/_static/TLEM22_TLEM21_comparison.any
  Tests/Cameras.any
Due: other_tests, Application_tests, test_docs
