Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

move illiolumbar ligaments
  Body/AAUHuman/Trunk/L5SacrumLigaments.any
  Body/AAUHuman/Trunk/SILigaments.any
Due: other_tests, Application_tests

added sacral interosseum lig
  Body/AAUHuman/Trunk/LumbarLigamentNodes.any
  Body/AAUHuman/Trunk/SILigaments.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

testing containers
  .github/workflows/test-container.yml
Due: none

run on PR
  .github/workflows/test-container.yml
Due: none

Add runs-on
  .github/workflows/test-container.yml
Due: none

Use correct secret
  .github/workflows/test-container.yml
Due: none

add beam element to toolbox
  Tools/ModelUtilities/BeamElement/BeamElement.any
  Tools/ModelUtilities/BeamElement/Calc1.any
  Tools/ModelUtilities/BeamElement/cube.anysurf3
  Tools/ModelUtilities/BeamElement/sphere.anysurf3
Due: other_tests, Application_tests

upd changelog
  CHANGELOG.md
Due: none

fixed Anc. bellylength to match 3e length
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Corrected distribuiton of latisimus dorsi pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Fix Pron_quadr2 wrong force
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple pectoralis mus PCSA to match 3E pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple deltoid pcsa to match 3E mus (holzbauer 2005 data)
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

fix simple mus teres_major pcsa to match 3E mdl
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix simple supscapularis mus pcsa
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Removed redundant pcsa factors
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Fix 3E coracobrach. pennation angle to match simple mdl.
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

set correct ligament color
  Body/AAUHuman/Trunk/L5SacrumLigaments.any
  Body/AAUHuman/Trunk/SILigaments.any
Due: other_tests, Application_tests

remove beam and sacrum joint switch
  Body/AAUHuman/Trunk/Calibration/LumbarLigCal0.any
  Body/AAUHuman/Trunk/Calibration/SILigCal.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Body/AAUHuman/Trunk/SRMatrixes.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
  Tools/ModelUtilities/BeamElement/BeamElement.any
  Tools/ModelUtilities/BeamElement/Calc1.any
  Tools/ModelUtilities/BeamElement/cube.anysurf3
  Tools/ModelUtilities/BeamElement/sphere.anysurf3
Due: other_tests, Application_tests

clean for merge
  Body/AAUHuman/Trunk/Calibration/LumbarLigCal0.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Body/AAUHuman/Trunk/SRMatrixes.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

Update arm muscle parameters with new values generate from spreed sheet
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder2.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder_old.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/SubjectMusPar.any
  Body/AAUHuman/BodyModels/GenericBodyModel/MuscleModelParameter.ClassTemplate.any
Due: other_tests, Application_tests

Implemented new approach to distribute PCSA and calculate Vol0
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/LegTLEM/MusMdl3E_1.any
  Body/AAUHuman/LegTLEM/MusMdl3E_2.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_1.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_2.any
Due: other_tests, Application_tests

Add SI ligaments (#601)
  Body/AAUHuman/Trunk/Calibration/CalibrationSequence.any
  Body/AAUHuman/Trunk/Calibration/LumbarLigCal0.any
  Body/AAUHuman/Trunk/Calibration/SILigCal.any
  Body/AAUHuman/Trunk/L5SacrumLigaments.any
  Body/AAUHuman/Trunk/LigamentsLumbar.any
  Body/AAUHuman/Trunk/LumbarLigamentNodes.any
  Body/AAUHuman/Trunk/SILigaments.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  CHANGELOG.md
Due: other_tests, Application_tests

REBASE LATER. Add files for generating arm paramters to branch
  temp-arm-param/ArmModelMuscleParameters.jinja.any
  temp-arm-param/Muscle-parameters-shoulder-simple.jinja.any
  temp-arm-param/Muscle-parameters-shoulder.jinja.any
  temp-arm-param/SubjectMusPar.jinja.any
  temp-arm-param/arm-muscle-parameter.xlsx
  temp-arm-param/generate_arm_muscle_parameters.py
Due: none

Update old muscle parameter files with newest AMMR changes
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder_old.any
Due: other_tests, Application_tests

Update values from excel sheet
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/SubjectMusPar.any
Due: other_tests, Application_tests

Fix warnings when calibration overrides tendon and fiber length
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  temp-arm-param/ArmModelMuscleParameters.jinja.any
  temp-arm-param/generate_arm_muscle_parameters.py
Due: other_tests, Application_tests

Fix warnings when calibration overrides tendon and fiber length
  Body/AAUHuman/LegTLEM/TLEM1.2/ModelMuscleParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelMuscleParameters.any
Due: other_tests, Application_tests

New method for distributing muscle volume in LegTLEM
  Body/AAUHuman/LegTLEM/MusMdl3E_1.any
  Body/AAUHuman/LegTLEM/MusMdl3E_2.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_1.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_2.any
Due: other_tests, Application_tests

Update documentation comment in files
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  temp-arm-param/Muscle-parameters-shoulder-simple.jinja.any
  temp-arm-param/Muscle-parameters-shoulder.jinja.any
Due: other_tests, Application_tests

Update tests to ignore warnings due to Lf0 broken dependencies
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Fix typo
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Reduce number of warnings when running leg calibration (#603)
  Body/AAUHuman/LegTLEM/TLEM1.2/ModelMuscleParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelMuscleParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

Improve implementation of internal/external obliques and latissimus dorsi muscles.
  Application/Examples/LegPressMachine/Model/HumanRefNodes.any
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleLeft.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
  Body/AAUHuman/Trunk/ObliquusExternusLeft.any
  Body/AAUHuman/Trunk/ObliquusExternusRight.any
  Body/AAUHuman/Trunk/ObliquusInternusLeft.any
  Body/AAUHuman/Trunk/ObliquusInternusRight.any
  Body/AAUHuman/Trunk/PelvisMuscleAttactmentNodes.any
  Body/AAUHuman/Trunk/RectusAbdominis.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs
