Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Add new helper functions for matrix operations (#881)
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

pin python
  Tests/test-environment.yml
Due: other_tests, Application_tests

revert accidental commit
  Application/Examples/FreePosture/FreePostureFullBodyStatic.Main.any
  Application/Examples/FreePosture/Model/BodyModelConfiguration.any
  Application/Examples/FreePosture/Model/ConstantDrivers/TrunkDrivers.any
  Application/Examples/FreePosture/Model/Environment.any
  Application/Examples/FreePosture/Model/Mannequin.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
Due: other_tests, Application_tests

update ankle joint and ankle joint axis for shank and talus using Montefiori 2019. Update talus neutral position using Stolle 2022.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/talus.anysurf3
Due: other_tests, Application_tests

Update malleoli coordinates in foot using new talus alignment and ankle joint parameters.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Reduce Footrest distance to compensate for shorter length of the leg.
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
Due: other_tests, Application_tests

Update .gitattributes
  .gitattributes
Due: none

Add new file extensions to .gitignore and update pixi.toml
  .gitignore
  pixi.toml
Due: none

Remove unnecessary code and comment out unused code
  Tests/recreate_mocap_intermediate_files.py
Due: other_tests, Application_tests

Update intermediate files for MoCap models
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
Due: other_tests, Application_tests

Enable motion output for wrapping surface
  Body/AAUHuman/Trunk/PelvisMuscleAttachementNodes.any
Due: other_tests, Application_tests

minor bug fix in talus neutral position and consequently ankle joint, axis, and malleoli in foot updates.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/talus.anysurf3
Due: other_tests, Application_tests

Move ankle joint to malleoli midpoint projected on ankle axis
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Update version to AMMR 3.0 beta (#894)
  AMMR.version.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Docs/body/leg_tlem2_model.md
  Docs/body/thoracic_model.md
  Docs/migration.md
Due: other_tests, Application_tests, test_docs

Link shank length with foot height
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
Due: other_tests, Application_tests

Adjust foot markers after joint complex update
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
Due: other_tests, Application_tests

Update intermediate joint angle mocap files
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
Due: other_tests, Application_tests

Update viewJoint parameters in LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/Jnt.any
Due: other_tests, Application_tests

Update FootWidth in DefaultAnthropometrics_xyz.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
Due: other_tests, Application_tests

Update AnyBody version to 8.0
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  AMMR.version.any
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  CHANGELOG.md
  Docs/Applications/images/get_application_images.py
  Docs/creating_model_from_scratch.md
  Tests/recreate_mocap_intermediate_files.py
  Tools/Templates/libdef.any
  pixi.toml
Due: other_tests, Application_tests, test_docs

Update anybodycon dependency version to 7.5.0Beta
  pixi.toml
Due: none

Update Talus sCoM. Use CoM estimated from surface instead of midpoint of subtalar and ankle joints.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
Due: other_tests, Application_tests

Reduce foot width in DefaultAnthropometrics_xyz.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
Due: other_tests, Application_tests

Update AnyBody version to 8.0 (#896)
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  AMMR.version.any
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  CHANGELOG.md
  Docs/Applications/images/get_application_images.py
  Docs/creating_model_from_scratch.md
  Tests/recreate_mocap_intermediate_files.py
  Tools/Templates/libdef.any
  pixi.toml
Due: other_tests, Application_tests, test_docs

Update viewJoint parameters in LegTLEM/Jnt.any (#895)
  Body/AAUHuman/LegTLEM/Jnt.any
Due: other_tests, Application_tests

Hide Foot/Talus.malleoli drawing and code clean up.
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Tlem foot fixes3 (#883)
  .gitignore
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/JointTypeDefinitions.any
  Body/AAUHuman/LegTLEM/Leg.root.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/talus.anysurf3
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/LegTLEM1/TLEM1.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM2.1/TLEM2.1/ModelJointParameters.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
  Body/AAUHuman/bm-parameters.toml
  Tests/recreate_mocap_intermediate_files.py
  pixi.toml
Due: other_tests, Application_tests

Revert "Tlem foot fixes3 (#883)"
  .gitignore
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/JointTypeDefinitions.any
  Body/AAUHuman/LegTLEM/Leg.root.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/talus.anysurf3
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/LegTLEM1/TLEM1.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM2.1/TLEM2.1/ModelJointParameters.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
  Body/AAUHuman/bm-parameters.toml
  Tests/recreate_mocap_intermediate_files.py
  pixi.toml
Due: other_tests, Application_tests

Remove unnecessary code for KneeJointMedial
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Add dependabot configuration file
  .github/dependabot.yml
Due: none

Add dependabot configuration file (#898)
  .github/dependabot.yml
Due: none

Fix old AMMR tests
  Application/Examples/JumpingJack/JumpingJack.main.any
Due: other_tests, Application_tests

fix old ammr test
  Application/Examples/JumpingJack/JumpingJack.main.any
Due: other_tests, Application_tests

Fix old ammr test
  Application/Examples/JumpingJack/JumpingJack.main.any
Due: other_tests, Application_tests

Remove achilles tendon wrapping which have sneak back to this branch
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Update muscle initialization positions in LegTLEM model
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Update muscle initialization positions in LegTLEM model (#900)
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Fix hardcoded BVH_OBJECT
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
