Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Add strength scaling factors to toe flexion joint actuator strength.
  Body/AAUHuman/FootGM/JointMusclesFoot.any
Due: other_tests, Application_tests

fix: Add switch for excluding thoracic support in full body bike model (#973)
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
  CHANGELOG.md
  Docs/Applications/Sports/BikeModel.md
Due: other_tests, Application_tests, test_docs

Create heel plantar, metatarsal 1,2,5 plantar nodes from existing standard parameters.
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

fix: mocap markers updates when running Param identification
  Tools/AnyMocap/CreateMarkerDriverClass.any
  Tools/AnyMocap/DrawVector.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

fix external desvar example due to arrows refactor
  Application/MocapExamples/SpecialFeatures/ExternalDesVars.main.any
Due: other_tests, Application_tests

fix: Fixed MoCap marker coordinate arrows not updatng in parameter id (#974)
  Application/MocapExamples/SpecialFeatures/ExternalDesVars.main.any
  CHANGELOG.md
  Tools/AnyMocap/CreateMarkerDriverClass.any
  Tools/AnyMocap/DrawVector.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.md
Due: none

Remove unused inline highlighter
  Docs/conf.py
  Docs/exts/inline_highlight.py
Due: test_docs

Fix warning sphinx compiler
  Docs/Scaling/lesson2.md
Due: test_docs

Update python dependencies
  pixi.lock
  pixi.toml
Due: none

Remove unused feature in pixi file
  pixi.toml
Due: none

Update intermediate gait files
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
Due: other_tests, Application_tests

Update script to update mocap files
  Tests/recreate_mocap_intermediate_files.py
Due: other_tests, Application_tests

Ignore unreleased link
  Docs/conf.py
Due: test_docs

fix typo
  Application/MocapExamples/SpecialFeatures/ExternalDesVars.main.any
Due: other_tests, Application_tests

Extend selected outputs of leg model to include outputs also when foot model is GM detailed or GM toe flexion
  Body/AAUHuman/LegTLEM/LeftLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/LegMoments.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
Due: other_tests, Application_tests

chore: Prepare 3.0.4 release (#975)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/SpecialFeatures/ExternalDesVars.main.any
  CHANGELOG.md
  Docs/Scaling/lesson2.md
  Docs/conf.py
  Docs/exts/inline_highlight.py
  Tests/recreate_mocap_intermediate_files.py
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests, test_docs

ci(test): Combine MoCap model tests in single run
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
Due: other_tests, Application_tests

ci(test): Combine MoCap model tests in single run (#976)
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
Due: other_tests, Application_tests

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#977)
  Tests/.test_durations
Due: other_tests, Application_tests

ci(test): Ensured that the new combined MoCap tests are included in the compare tests system
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

ci(test): Ensured combined MoCap tests are used by Compare tests (#978)
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

chore: update version numbers for 3.0.4 release
  AMMR.version.any
  CHANGELOG.md
Due: none

chore: update version numbers for 3.0.4 release (#979)
  AMMR.version.any
  CHANGELOG.md
Due: none

chore: Update mocap macro execution in recreate_mocap_intermediate_files.py
  Tests/recreate_mocap_intermediate_files.py
Due: other_tests, Application_tests

Update itermediate joint angle mocap files
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
Due: other_tests, Application_tests

Update pixi lock file
  pixi.lock
Due: none

chore: update dependencies and clean up support code (#980)
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Tests/recreate_mocap_intermediate_files.py
  pixi.lock
Due: other_tests, Application_tests

feat: Implemented HumanGround residuals with rotvector/AngVel=On rotational measure
  Tools/AnyMocap/HumanGroundResiduals.any
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

feat: Exclude force plates from parameter identification study
  CHANGELOG.md
  Tools/AnyMocap/KinematicStudyForParameterIdentification.any
Due: other_tests, Application_tests

Run fewer time steps in Param ID test.
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
Due: other_tests, Application_tests

feat: Implemented HumanGround residuals with rotvector/AngVel=On (#981)
  CHANGELOG.md
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
  Tools/AnyMocap/HumanGroundResiduals.any
  Tools/AnyMocap/KinematicStudyForParameterIdentification.any
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

Add big toe node in model parameter
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
Due: other_tests, Application_tests

Update search string for marker arrow drawing objects int modelsetup.views
  Tools/AnyMocap/ModelViews.any
Due: other_tests, Application_tests

Remove #ifdef _MOCAP_HIDE_MARKER_ARROWS_ for marker arrow drawing as it doesn't work in the include file and breaks manually switching off the arrow drawing. Default is now set to On.
  Tools/AnyMocap/DrawVector.any
Due: other_tests, Application_tests

Add switch for using infinite plane in RotationPenetrationCombiDriver_template
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
