Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Fix default mannequin drivers mirror of hand CMC hand pos
  Body/AAUHuman/BodyModels/GenericBodyModel/Mannequin.ClassTemplates.any
Due: other_tests, Application_tests

Change Mannequin values for standing lift example
  Application/Examples/StandingLift/Model/Mannequin.any
Due: other_tests, Application_tests

update changelog
  CHANGELOG.txt
Due: test_docs

Add video creation script to AMMR example
  Application/MocapExamples/BVH_Xsens/CreateVideo.any
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Add camera to bvh model
  Application/MocapExamples/ADL_Gait_[beta]/CreateVideo.any
  Application/MocapExamples/ADL_Gait_[beta]/LabSpecificData.any
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Make it easier to reuse InterpolateJointAngleData.any outside of AnyMocap
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

Add points to get angle below 20 degrees
  Application/Examples/KneeSimulator/Model/Ligaments.any
Due: other_tests, Application_tests

Enable joint strength studies for trunk
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
Due: other_tests, Application_tests

Add tests for trunk joint strength study
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Fix typo
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

update change log and versions
  CHANGELOG.txt
  Docs/conf.py
Due: test_docs

Update AMMR.version.any
  AMMR.version.any
Due: none

first iteration on updating bm parameter scripts
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/BodyModel.config_info.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.constants.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.defaults.any.jinja
  Body/AAUHuman/BuildTools/BodyModel.parameters.any.jinja
  Body/AAUHuman/BuildTools/Ifdef_BM_param.any.jinja
  Body/AAUHuman/BuildTools/bm_constants.md.jinja
  Body/AAUHuman/BuildTools/bm_constants.py.jinja
  Body/AAUHuman/BuildTools/bm_statements.md.jinja
  Body/AAUHuman/BuildTools/bmtable.csv.jinja
  Body/AAUHuman/BuildTools/render_templates.py
  Body/AAUHuman/BuildTools/undef_BM_params.any.jinja
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/ArmTable.csv
  Docs/bm_config/JointTypeTable.csv
  Docs/bm_config/LegTable.csv
  Docs/bm_config/MannequinTable.csv
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/ScalingTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Docs/conf.py
  Docs/environment.yaml
Due: other_tests, Application_tests, test_docs

Update all in bm-config
  Docs/bm_config/ArmTable.txt
  Docs/bm_config/JointTypeTable.txt
  Docs/bm_config/LegTable.txt
  Docs/bm_config/MannequinTable.txt
  Docs/bm_config/OtherTable.txt
  Docs/bm_config/ScalingTable.txt
  Docs/bm_config/Substitutions.txt
  Docs/bm_config/TrunkTable.txt
  Docs/bm_config/arm.md
  Docs/bm_config/arm.rst
  Docs/bm_config/bm_constants.rst
  Docs/bm_config/bm_plugin.md
  Docs/bm_config/bm_plugin.rst
  Docs/bm_config/bm_statements.rst
  Docs/bm_config/index.md
  Docs/bm_config/index.rst
  Docs/bm_config/joint_type.md
  Docs/bm_config/joint_type.rst
  Docs/bm_config/leg.md
  Docs/bm_config/leg.rst
  Docs/bm_config/mannequin.md
  Docs/bm_config/mannequin.rst
  Docs/bm_config/other.md
  Docs/bm_config/other.rst
  Docs/bm_config/scaling.md
  Docs/bm_config/scaling.rst
  Docs/bm_config/trunk.md
  Docs/bm_config/trunk.rst
  Docs/conf.py
Due: test_docs

Update zenodo shields on changelog
  CHANGELOG.md
Due: none

Remove BM_LEG_MORPHOLOGY from public interface
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/render_templates.py
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/LegTable.csv
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Remove old xml bm config file
  Body/AAUHuman/BodyModel.define.xml
Due: other_tests, Application_tests

Update bm list script
  Body/AAUHuman/BuildTools/create_BM_lists.py
Due: other_tests, Application_tests

Update conda system. Now using micro mamba
  .github/workflows/ammr-doc.yaml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
  Tests/test-environment.yml
Due: other_tests, Application_tests

Update check for existing environment
  .github/workflows/ammr-doc.yaml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

fix bug in nightly test
  .github/workflows/nighly-tests.yml
Due: none

add Semimembranosus & Semitendinosus to KneeFlexor grp
  Body/AAUHuman/LegTLEM/LeftLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
Due: other_tests, Application_tests

changelog entry
  CHANGELOG.md
Due: none

Fix github actios ci script
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Fix syntax error in test ci script
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

test
  .github/workflows/test2.yml
Due: none

renamed tubernodes to Seat_contact
  Application/Examples/AirlinePassenger/Model/JointsAndDrivers.any
  Application/Examples/AirlinePassenger/Model/SeatSupport.any
  Application/Examples/BikeModel/Model/SeatSupport.any
  Application/Examples/LegPressMachine/Model/HumanRefNodes.any
  Application/Examples/LegPressMachine/Model/LowerBodySupport.any
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/SeatSupport.any
  Application/Examples/SeatedHumanFullWithNeck/Model/JointsAndDrivers.any
  Application/Examples/SeatedHumanFullWithNeck/Model/SeatSupport.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SeatSupport.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/SeatSupport.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/SeatSupport.any
  Body/AAUHuman/Trunk/ContactPoints.any
  Body/AAUHuman/Trunk/Interface.any
  Body/AAUHuman/Trunk/PelvisMuscleAttactmentNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/DumpLumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

add switch to change si jnt type
  Body/AAUHuman/Trunk/Calibration/LumbarLigCal0.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Body/AAUHuman/Trunk/SRMatrixes.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

add SI ligaments
  Body/AAUHuman/Trunk/LigamentsLumbar.any
  Body/AAUHuman/Trunk/LumbarLigamentNodes.any
  Body/AAUHuman/Trunk/SILigaments.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

add SI lig calibration
  Body/AAUHuman/Trunk/Calibration/CalibrationSequence.any
  Body/AAUHuman/Trunk/Calibration/SILigCal.any
Due: other_tests, Application_tests

rename SI lig folder to follow existing ligs
  Body/AAUHuman/Trunk/Calibration/SILigCal.any
  Body/AAUHuman/Trunk/LigamentsLumbar.any
Due: other_tests, Application_tests

split strain into number of ligament branches
  Body/AAUHuman/Trunk/SILigaments.any
Due: other_tests, Application_tests
