Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

update talus stl
  Body/AAUHuman/LegTLEM/TLEM2.2/talus.anysurf3
Due: other_tests, Application_tests

Add read-only parameter to check if Leg Model is a variant of TLEM model
  Body/AAUHuman/bm-parameters.toml
Due: other_tests, Application_tests

Fix leg model parameter and related drivers
  Application/Examples/FreePosture/Model/JointsAndDrivers.any
  Application/Examples/FreePosture/Model/JointsAndDriversConstant.any
  Application/Examples/FreePosture/Model/JointsAndDriversInterpolation.any
  Application/Examples/ShoulderBag/Model/JointsAndDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawExternalMeasures.any
  Application/Examples/StandingModelScalingDisplay/Model/JointsAndDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/JointsAndDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.StandardParameters.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/CalibrationSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateJointStrengthSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/EvaluateMomentArmsSequence.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/LegTLEM2.1/Seg.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleLeft.any
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
  Body/AAUHuman/Trunk/PelvisInterfaceMorphing.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Docs/bm_config/LegTable.csv
  Docs/bm_config/bm_statements.md
  Tests/Symmetry/DynamicTest/Model/JointsAndDriversInterpolation.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests, test_docs

Update tests
  Tests/BM combinations/test_bm_bodypart_fullbody.any
  Tests/BM combinations/test_bm_bodypart_lower.any
  Tests/BM combinations/test_bm_leg_muscles.any
Due: other_tests, Application_tests

Update LegTLEM2.1 Seg and TLEM2.1 STL files
  Body/AAUHuman/LegTLEM2.1/Seg.any
  Body/AAUHuman/LegTLEM2.1/TLEM2.1/STL.any
  Body/AAUHuman/LegTLEM2.1/TLEM2.1/talus.anysurf3
Due: other_tests, Application_tests

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#880)
  Tests/.test_durations
Due: other_tests, Application_tests

Add new helper functions for matrix operations
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Update Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
Due: other_tests, Application_tests

Remove unused BM_LEG_TIBIA_KNEE_AXIS constant
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/LegTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Remove screwhome knee, and rotate tibia permenant
  Application/Beta/ScrewHomeKnee/BodyModelConfiguration.any
  Body/AAUHuman/LegTLEM/Jnt.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Remove the screw-home knee example
  Application/Beta/ScrewHomeKnee/BodyModelConfiguration.any
  Application/Beta/ScrewHomeKnee/CreateVideo.any
  Application/Beta/ScrewHomeKnee/ScrewHome.main.any
  Application/Beta/ScrewHomeKnee/ThighCut.anysurf3
  Application/Beta/ScrewHomeKnee/VisualSettings.any
Due: other_tests, Application_tests

Update muscle behavior parameter for left leg
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/LegTable.csv
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Update ankle joint and ankle joint axes on shank and talus. Update malleoli on shank to match the surface. Update malleoli on talus to counter change in ankle joint.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

Update devcontainer.json
  .devcontainer/devcontainer.json
Due: none

remove unused init parameters
  .devcontainer/devcontainer.json
Due: none

Use newest micromamba
  .github/actions/setup-micromamba/action.yml
Due: none

Use pixi for docs environment
  .github/workflows/ammr-doc.yaml
  Docs/.gitattributes
  Docs/.gitignore
  Docs/conf.py
  Docs/environment.yaml
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

Add pixi to test and environments
  .gitattributes
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  .gitignore
  pixi.lock
  pixi.toml
Due: none

Add environment name
  .github/workflows/ammr-doc.yaml
Due: none

remove unused init parameters (#885)
  .devcontainer/devcontainer.json
Due: none

Update doc build scripts
  .github/workflows/ammr-doc.yaml
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

test whole pipeline
  .github/workflows/ammr-doc.yaml
Due: none

Add build documentation workflow
  .github/workflows/ammr-doc.yaml
Due: none

Fix link check and update dependencies
  .github/workflows/ammr-doc.yaml
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

Pin pydata-sphinx-theme to 0.13
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

Just use newest version of pixi
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Revert "test whole pipeline"
  .github/workflows/ammr-doc.yaml
Due: none

Use the pixi package manager (#884)
  .gitattributes
  .github/actions/setup-micromamba/action.yml
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
  .gitignore
  Docs/.gitattributes
  Docs/.gitignore
  Docs/conf.py
  Docs/environment.yaml
  Docs/pixi.lock
  Docs/pixi.toml
  pixi.lock
  pixi.toml
Due: test_docs

Hard code the twist to the knee joint axis
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
Due: other_tests, Application_tests

Use the normalize function
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM1/TLEM1.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM2.1/TLEM2.1/ModelJointParameters.any
Due: other_tests, Application_tests

Add .editorconfig file for consistent code formatting
  .editorconfig
  .gitattributes
Due: none

Try to fix self-hosted action
  .github/workflows/test-self-hosted.yml
Due: none

dummy commit
  .github/workflows/test-forks.yml
Due: none

Update test-forks.yml
  .github/workflows/test-forks.yml
Due: none

Update test-self-hosted.yml
  .github/workflows/test-self-hosted.yml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
