Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update AnyBody webpage links
  Docs/Scaling/intro.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/glasgow_maastricht_foot_model.rst_
  Docs/body/leg_tlem2_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/shoulder_arm_model.md
Due: test_docs

More link updates
  Docs/Applications/Orthopedics_and_rehab/plot_FacetJointModel.py
  Docs/README.md
  Docs/anymocap/index.md
  Docs/body/cervical_spine_model.md
  Docs/body/leg_tlem_model.md
  Docs/body/symmetric_mandible_model.md
  Docs/getting_started.md
  Docs/index.md
  Docs/legal.md
Due: test_docs

Concept Exo Example from JR's webcast on 28 March 2022. First and last frames of BVH_BoxLift model Trial 5 have been updated.
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
  Application/Examples/ExoskeletonConcept/Output/.gitkeep
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/TrialSpecificData.any
Due: other_tests, Application_tests

Documentation of ExoExample JR: Work in Progress
  Docs/Applications/Other/plot_ExoConcept_BoxLift.py
  Docs/Applications/images/ExoskeletonConcept_BoxLift.jpg
Due: test_docs

Documentation of ExoExample JR
  Docs/Applications/Other/plot_ExoConcept_BoxLift.py
Due: test_docs

Update demo conditional contact class. contact between two segments. update class template with more description and change default strength value to 2000N.
  Tools/EnvironmentConnection/ClassDemos/Demo_CondContactMultiPoints.main.any
  Tools/EnvironmentConnection/Connectors/ConditionalContact/ConditionalContactMultiPoints.any
Due: other_tests, Application_tests

Update Documentation of Exo Concept example
  Docs/Applications/Other/plot_ExoConcept_BoxLift.py
Due: test_docs

Remove path statement for output folder (default statement is correct). Fix code for selecting trial folder. and update comments
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
Due: other_tests, Application_tests

Add test model for Exo Example.
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

update AMMR Changelog
  CHANGELOG.md
Due: none

Update Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
Due: other_tests, Application_tests

Update Tests/Applications/test_ExoConcept_BoxLift.any
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Fix typo
  Tools/EnvironmentConnection/ClassDemos/Demo_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Update comments to add instruction in the beginning for using the code in own model.
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
Due: other_tests, Application_tests

Add more comments in Demo_CondContactMultiPoints.main.any
  Tools/EnvironmentConnection/ClassDemos/Demo_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Add more comments in demo elliptic cylinder points grid and minor updates
  Tools/EnvironmentConnection/ClassDemos/Demo_EllipticCylinderPointsGrid.main.any
Due: other_tests, Application_tests

Refactor code to link values in the model. Add more comments. Corrections for CreateMotionOutput is removed (this breaks model replay but must be fixed at a software level)
  Application/Examples/ExoskeletonElbowContact/ChangesForExoModel.any
  Application/Examples/ExoskeletonElbowContact/ExoskeletonElbowContact.main.any
Due: other_tests, Application_tests

Rename main file of DSC exo example
  Application/Examples/ExoskeletonElbowContact/ExoskeletonElbow_Contact.Main.any
Due: other_tests, Application_tests

Update AMMR documentation page for Exo example DSC
  Docs/Applications/Other/plot_HumanExoContact.py
  Docs/Applications/images/ExoskeletonElbow_Contact.jpg
  Docs/Applications/images/HumanExoskeletonContact.jpg
Due: test_docs

Update gitignore for video file output
  .gitignore
Due: none

Add video operation for bench press
  Application/Examples/BenchPress/BenchPress.Main.any
  Application/Examples/BenchPress/Model/CreateVideo.any
Due: other_tests, Application_tests

Update template to handle missing ffmpeg
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Make EXO_CONCEPT 4 the default so it matches the image
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
Due: other_tests, Application_tests

Update image generating test file
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Exo concept example JR (#656)
  Application/Examples/ExoskeletonConcept/ExoConcept_BoxLift.main.any
  Application/Examples/ExoskeletonConcept/Output/.gitkeep
  Application/MocapExamples/BVH_BoxLift/Subjects/S01/S01_T05/TrialSpecificData.any
  CHANGELOG.md
  Docs/Applications/Other/plot_ExoConcept_BoxLift.py
  Docs/Applications/images/ExoskeletonConcept_BoxLift.jpg
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests, test_docs

Update MoCap video script to look like other examples
  Application/MocapExamples/BVH_BoxLift/Model/CreateVideo.any
  Application/MocapExamples/BVH_BoxLift/Model/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
Due: other_tests, Application_tests

New DEBUG setup for video examples
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Add overlay option
  Tools/ModelUtilities/Video/CameraClassTemplate.any
  Tools/ModelUtilities/video_overlay.png
Due: other_tests, Application_tests

Add tests for exo example DSC, class demos for CondContactMultiPoints and EllipticCylinderPointsGrid. Include code for RunAppSequence ins Demo_CondContactMultiPoints.main.any
  Application/Examples/ExoskeletonElbowContact/Output/.gitkeep
  Tests/EnvironmentConnection/Output/.gitkeep
  Tests/EnvironmentConnection/test_Demo_CondContactMultiPoints.any
  Tests/EnvironmentConnection/test_Demo_EllipticCylinderPointsGridClass_load_only.any
  Tools/EnvironmentConnection/ClassDemos/Demo_CondContactMultiPoints.main.any
  Tools/EnvironmentConnection/ClassDemos/Output/.gitkeep
Due: other_tests, Application_tests

Rename Files to be consistent with existing exo concept example and update test files, documentation accordingly.
  Application/Examples/ExoskeletonContactElbow/ChangesForExoModel.any
  Application/Examples/ExoskeletonContactElbow/ExoskeletonContact_Elbow.Main.any
  Application/Examples/ExoskeletonContactElbow/Model/BodyModelConfiguration.any
  Application/Examples/ExoskeletonContactElbow/Model/DrawSettings.any
  Application/Examples/ExoskeletonContactElbow/Model/Environment.any
  Application/Examples/ExoskeletonContactElbow/Model/GRFPrediction.any
  Application/Examples/ExoskeletonContactElbow/Model/JointsAndDrivers.any
  Application/Examples/ExoskeletonContactElbow/Model/LeftFootDrivers.any
  Application/Examples/ExoskeletonContactElbow/Model/Mannequin.any
  Application/Examples/ExoskeletonContactElbow/Model/RightFootDrivers.any
  Application/Examples/ExoskeletonContactElbow/Model/RunAppSequence.any
  Application/Examples/ExoskeletonContactElbow/Output/.gitkeep
  Docs/Applications/Other/plot_ExoHumanContact.py
  Docs/Applications/images/ExoskeletonContact_Elbow.jpg
  Tests/Applications/test_ExoskeletonContact_Elbow.any
  Tests/EnvironmentConnection/test_Demo_CondContactMultiPoints.any
  Tests/EnvironmentConnection/test_Demo_EllipticCylinderPointsGridClass_load_only.any
Due: other_tests, Application_tests, test_docs

Remove video from standing lift.
  Application/Examples/StandingLift/Model/CreateVideo.any
  Application/Examples/StandingLift/StandingLift.main.any
Due: other_tests, Application_tests

Add video script to wheelchair model
  Application/Examples/WheelChairRancho/Model/CreateVideo.any
  Application/Examples/WheelChairRancho/WheelChairRancho.Main.any
Due: other_tests, Application_tests

Rename overlay option
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Fix missing detailed hand drivers
  Application/Examples/ArmCurl/Model/BodyModelConfiguration.any
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/ArmCurl/Model/Mannequin.any
Due: other_tests, Application_tests

Remove the use of default to keep backward compat
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Update changelog entry
  CHANGELOG.md
Due: none

Update versions
  AMMR.version.any
  Docs/conf.py
Due: test_docs

Update doc build environment
  Docs/environment.yaml
Due: test_docs

Small working example that can optimize BVH origin for small translational offsets (<0.5m). Optimizing for angular offset needs more work.
  Application/MocapExamples/BVH_Xsens/Changes.any
Due: other_tests, Application_tests
