Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update contribution checklist
  Docs/contribute.rst
Due: test_docs

Upd for release
  AMMR.version.any
  CHANGELOG.txt
  Docs/about.rst
  Docs/conf.py
  Docs/contribute.rst
Due: test_docs

Add future MoCap model
  Application/MocapExamples/BVH_Xsens_Future/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_Future/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_Future/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_Future/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_Future/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_Future/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_Future/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_Future/Trials/BVH01/BVH01.bvh
  Application/MocapExamples/BVH_Xsens_Future/Trials/BVH01/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Trials/BVH01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Trials/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/libdef.any
  Tools/AnyMocap/BVH_ModelPreprocess.any
  Tools/AnyMocap/ClassTemplates.any
  Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix packaging issues
  Application/MocapExamples/BVH_Xsens_Future/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Output/.gitkeep
  CHANGELOG.txt
  Docs/contribute.rst
Due: other_tests, Application_tests, test_docs

Update new BVH Model
  Application/MocapExamples/BVH_Xsens_Future/BVH-files/S01_Trial01.bvh
  Application/MocapExamples/BVH_Xsens_Future/BVH-files/S01_Trial02.bvh
  Application/MocapExamples/BVH_Xsens_Future/BVH-files/S02_Trial01.bvh
  Application/MocapExamples/BVH_Xsens_Future/BVH-files/S02_Trial02.bvh
  Application/MocapExamples/BVH_Xsens_Future/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_Future/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S1/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S1/S01_Trial02/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S1/S01_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S1/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S2/S02_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S2/S02_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S2/S02_Trial02/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S2/S02_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Subjects/S2/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_Future/Trials/BVH01/Main.any
  Application/MocapExamples/BVH_Xsens_Future/Trials/SubjectSpecificData.any
  Tools/AnyMocap/BVH_ModelPreprocess.any
  Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any
  Tools/AnyMocap/DrawVector.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

Deprecate old Xsens model example
  Application/MocapExamples/BVH_Xsens_deprecated/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_deprecated/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_deprecated/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_deprecated/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_deprecated/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_deprecated/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_deprecated/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_deprecated/Output/.gitkeep
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-left_arm_shoulder.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-left_leg_tlem.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-right_arm_shoulder.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-right_leg_tlem.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01-euler-trunk-full.txt
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01_BVH_Trajectories.anyset
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/BVH01.bvh
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/Main.any
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/libdef.any
Due: other_tests, Application_tests

Rename new Xsens model example
  Application/MocapExamples/BVH_Xsens/BVH-files/S01_Trial01.bvh
  Application/MocapExamples/BVH_Xsens/BVH-files/S01_Trial02.bvh
  Application/MocapExamples/BVH_Xsens/BVH-files/S02_Trial01.bvh
  Application/MocapExamples/BVH_Xsens/BVH-files/S02_Trial02.bvh
  Application/MocapExamples/BVH_Xsens/BVHSettings.any
  Application/MocapExamples/BVH_Xsens/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens/C3DSettings.any
  Application/MocapExamples/BVH_Xsens/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens/ForcePlates.any
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens/Output/.gitkeep
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/Main.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial02/Main.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens/libdef.any
Due: other_tests, Application_tests

Update Doc and changelog on BVH fixes
  CHANGELOG.txt
  Docs/Applications/Mocap/plot_BVH.py
Due: test_docs

Update BVH test files
  Tests/AnyMocap/Test_BVH_deprecated.any
Due: other_tests, Application_tests

Hide model errors and fix problem with views operations not triggering an update
  Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any
  Tools/AnyMocap/MarkerTrackingSettings.any
  Tools/AnyMocap/ModelViews.any
Due: other_tests, Application_tests

Update changelog entry
  CHANGELOG.txt
Due: test_docs

re-enable python checks
  Application/MocapExamples/BVH_Xsens/libdef.any
Due: other_tests, Application_tests

Neck depth scales with trunk depth in ScalingXYZ
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.txt
Due: test_docs

Ensure BVH stickfigure is run in test of deprecated model
  Tests/AnyMocap/Test_BVH_deprecated.any
Due: other_tests, Application_tests

Clean up code
  Application/MocapExamples/BVH_Xsens/BVHSettings.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens/Subjects/S2/S02_Trial02/TrialSpecificData.any
Due: other_tests, Application_tests

Update hash for AMMR 2.2.3
  AMMR.version.any
Due: none

Add warning when loading MoCap files with few frames
  CHANGELOG.txt
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
Due: other_tests, Application_tests, test_docs

Ensure correct path casing.
  libdef.any
Due: none

Apply suggestion to CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Make body hash check optional
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.txt
Due: test_docs

Add warning to AnyMoCap about the Gravity direction
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

Update description of BVH model
  Docs/Applications/Mocap/plot_BVH.py
Due: test_docs

Remove hash ci job
  .gitlab-ci.yml
Due: test_docs

Update docs
  Docs/Applications/Mocap/plot_BVH.py
Due: test_docs

Prep versions for ammr 2.3-beta
  AMMR.version.any
  CHANGELOG.txt
Due: test_docs

Add via points to Latissimus dorsi to fix wrapping issues
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Add change log entry
  CHANGELOG.txt
Due: test_docs

Deltoid wrap: Make Cylinder wrapping possible
  Body/AAUHuman/Arm/DeltoidWrap.any
  Body/AAUHuman/Arm/Muscle.any
  Tools/ModelUtilities/WrappingSurfaces/SphereCylinder_template.any
Due: other_tests, Application_tests

Add BM option to set deltoid wrapping type
  Body/AAUHuman/Arm/DeltoidWrap.any
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Docs/bm_config/Substitutions.txt
  Docs/bm_config/bm_constants.rst
  Docs/bm_config/bm_statements.rst
Due: other_tests, Application_tests, test_docs

Fix wrong naming of new BM contants
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmMoments.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  CHANGELOG.txt
  Docs/bm_config/Substitutions.txt
  Docs/bm_config/bm_constants.rst
  Docs/bm_config/bm_statements.rst
Due: other_tests, Application_tests, test_docs

Fix uses of logic using BM_DELTOID_WRAPPING variable
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmHandMoments.any
  Body/AAUHuman/Arm/ArmMuscleNames.any
  Body/AAUHuman/Arm/Calibration/ArmCal1.any
  Body/AAUHuman/Arm/Calibration/ArmCal2.any
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal4.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
  Body/AAUHuman/Arm/Calibration/ShoulderCal.any
  Body/AAUHuman/Arm/ClavicleMuscleGeometry.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/Output.any
  Body/AAUHuman/Arm/ScapulaConoideumDriver.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/armmuscles_for_output.any
  Tools/AnyMocap/BodyModelWithoutMuscles.any
Due: other_tests, Application_tests

fix changelog
  CHANGELOG.txt
Due: test_docs

Update Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any, CHANGELOG.txt files
  CHANGELOG.txt
  Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any
Due: other_tests, Application_tests, test_docs

Fixed problems with wrong output from SelectedOuput
  Body/AAUHuman/LegTLEM/LeftLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
