Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

update line including draw settings
  Tools/Environment/Connection/Generic/ContactClassSplit3/DemoSplit_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Update line checking for AnyBody version.
  Tools/Environment/Connection/Generic/ContactClassSplit3/DemoSplit_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Test model for switching between single object and multi object pointer in anykinlinear
  Tools/Environment/Connection/Generic/ContactClassSplit3/DemoSplit_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Add check for base object pointers in class template.
  Tools/Environment/Connection/Generic/ContactClassSplit3/Split/KinMsrMultiInputClass.any
Due: other_tests, Application_tests

delete code for testing base object pointers from main file.
  Tools/Environment/Connection/Generic/ContactClassSplit3/DemoSplit_CondContactMultiPoints.main.any
Due: other_tests, Application_tests

Run tests with 8.0.1.rc1
  pixi.lock
  pixi.toml
Due: none

Fix pixi shell activation
  .github/workflows/test.yml
Due: none

Fix stray muscle wrapping warning
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Run tests with 8.0.1.rc1 (#934)
  .github/workflows/test.yml
  Body/AAUHuman/Arm/Muscle.any
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests

Adapt test CI to run against AMMR 4 fork (#2)
  .github/workflows/ammr-doc.yaml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update ForceDepKin settings in AnyKneeSimulator and UserDefinedSettings
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Application/Examples/KneeSimulator/UserDefinedSettings.any
Due: other_tests, Application_tests

Update ForceDepKin settings in AnyKneeSimulator and UserDefinedSettings (#935)
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Application/Examples/KneeSimulator/UserDefinedSettings.any
Due: other_tests, Application_tests

Remove deprecated filterwarnings in pytest.ini
  Tests/pytest.ini
Due: other_tests, Application_tests

Add ci check for conventional commits mesages in PR title
  .github/workflows/conventional-commits-in-pr.yml
Due: none

chore: Remove pytest deprecation filters (#936)
  .github/workflows/conventional-commits-in-pr.yml
  Tests/pytest.ini
Due: other_tests, Application_tests

Update anybodycon version to 8.0.1.rc2
  pixi.lock
  pixi.toml
Due: none

Add permission to create labels
  .github/workflows/conventional-commits-in-pr.yml
Due: none

Update AMMR version to 3.0.1 and provide finer FDK tolerances
  AMMR.version.any
  CHANGELOG.md
Due: none

ci(test): Update anybodycon version to 8.0.1.rc2 (#937)
  .github/workflows/conventional-commits-in-pr.yml
  pixi.lock
  pixi.toml
Due: none

Update AMMR version to 3.0.1 and provide finer FDK tolerances (#938)
  AMMR.version.any
  CHANGELOG.md
Due: none

Update README.md (#3)
  Docs/README.md
Due: test_docs

Add changelog entry
  CHANGELOG.md
Due: none

fix(wrapping): Adjust the pectoralis wrapping surface orientation
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
Due: other_tests, Application_tests

Ensure wrapping warnings don't come back
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Reduce foot marker pos y by 1.5 cm in xsens protocol
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

Add header for AMMR 3.0.2 in Changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(bvh-protocol): Update foot markers (#940)
  CHANGELOG.md
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

fix: Ensure force plate visualization can not have zero height
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

add vscode extension recommendations for WS
  .gitignore
  .vscode/extensions.json
Due: none

add devcontainer to ws recommendations
  .vscode/extensions.json
Due: none

chore: VSCode extensions recommendation (#942)
  .gitignore
  .vscode/extensions.json
Due: none

fix: Ensure force plate visualization can not have zero height (#941)
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

fix(trunk): Fixed penetration warning for the pectoralis (#939)
  Body/AAUHuman/Arm/AddOnOutSideBlockForMuscles.any
  CHANGELOG.md
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Update the system used for running CI tests with custom AnyBody version
  .github/actions/custom-anybodycon/action.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

fix syntax error
  .github/actions/custom-anybodycon/action.yml
Due: none

fix(ci): Update the custom-anybodycon github-action to work with pixi (#943)
  .github/actions/custom-anybodycon/action.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
