Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Activate environment in setup-pixi action
  .github/workflows/ammr-doc.yaml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

forgot a file
  .github/workflows/create-compare-reference.yml
Due: none

ci: Use new activate environment option in gihub actions (#964)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update versions
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

Update lock file
  pixi.lock
Due: none

feat: Link visual settings of shoulder reactions forces. (#963)
  Body/AAUHuman/Arm/GHReactions.any
Due: other_tests, Application_tests

Update AMMR/AMS links
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

ci(test): Ignore specific error with knee simulator test AB#2486
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

ci(test): Ignore specific error with knee simulator test AB#2486 (#966)
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Add check that lower limit is less than higher limit
  Tools/ModelUtilities/KinematicLimits/KinLimit_template.any
Due: other_tests, Application_tests

Fix order of default limits so that lower number is before the higher number.
  Tools/ModelUtilities/KinematicLimits/RangeOfMotionLimits_template.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.md
Due: none

fix: Range of Motion limit class template bug fix (#967)
  CHANGELOG.md
  Tools/ModelUtilities/KinematicLimits/KinLimit_template.any
  Tools/ModelUtilities/KinematicLimits/RangeOfMotionLimits_template.any
Due: other_tests, Application_tests

Set Arm offset to zero
  Application/Examples/ExoskeletonShoulderFatigue/Model/Environment.any
Due: other_tests, Application_tests

Switch to use the default solver
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
Due: other_tests, Application_tests

Switch to use the default solver (#970)
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: Update versions in preparation for 3.0.3 release (#965)
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
  pixi.lock
Due: test_docs

chore: Ensure .vscode folder is not exported
  .gitattributes
Due: none

chore: Ensure .vscode folder is not exported (#971)
  .gitattributes
Due: none

Rename joint muscles folder to JointMusclesFoot. This prevents errors when muscles are switched off as JointMuscles folder is created elsewher.
  Body/AAUHuman/FootGM/GM_foot.root.any
Due: other_tests, Application_tests

Refactor talus.ankle joint definition. Lateral and Medial control points are now defined in model parameters.
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
Due: other_tests, Application_tests

Import Lateral and medial control points from TLEM dataset to GM dataset
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
Due: other_tests, Application_tests

Add malleoli and malleoli midpoint in RBF transformation.
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

take reduced set of points for affine transformation in interface morphing
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

Cleanup, remove ankle joint axis, bug fix sign of subtalar joint axis (for left side)
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
Due: other_tests, Application_tests

Refactor talus.anklejoint.arelunscaled since ankle joint axis is removed from gm foot parameters. arel unscaled is now defined using unscaled lateral and medial control points.
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

WIP: update RotationPenetrationCombiDriver_template.any to include box constraint
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Clean up of RotationPenetrationCombiDriver_template.any.
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Update Extra Drivers file in toe flex bvh example to demo updates to the rotation penetration combi driver template.
  Application/MocapExamples/BVH_Xsens_ToeFlex/ExtraDrivers.any
Due: other_tests, Application_tests

fix typo in corner coordinates
  Application/MocapExamples/BVH_Xsens_ToeFlex/ExtraDrivers.any
Due: other_tests, Application_tests

Update weights for drivers and functions in RotationPenetrationCombiDriver_template.any
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Update RotationPenetrationCombiDriver_template.any to use smoothramp function for depth measure.
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

Add documentation for RotationPenetrationCombiDriver_template.any
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

chore: update dependencies
  .github/workflows/nightly-tests.yml
  pixi.lock
  pixi.toml
Due: none

docs: Fix redirected link in documentation
  Docs/Applications/Mocap/ADL_Gait.md
Due: test_docs

chore: Update dependencies (#972)
  .github/workflows/nightly-tests.yml
  Docs/Applications/Mocap/ADL_Gait.md
  pixi.lock
  pixi.toml
Due: test_docs

Add switch for including thorax support when both arms are excluded.
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
  Docs/Applications/Sports/BikeModel.md
Due: test_docs

Update image in bike model doc page
  Docs/Applications/Sports/BikeModel.md
Due: test_docs
