Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Add extra wrapping surface to Latissimus dorsi at scapula.
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Fix a small symmetry issue with intial conditions
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Rename latissimus dorsi wrapping segment
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Tweak the movement of latissimus dorsi wrapping segment
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Add wrapping object at humeral head for Triceps LH
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Calibration/ArmCal4.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/TricepsLHWrap.any
Due: other_tests, Application_tests

Add changelog entry for triceps lh wrapping
  CHANGELOG.txt
Due: test_docs

Tweak SPLine parameters and mesh points
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Run two calibration studies with SmallStepsAssumptions=On
  Body/AAUHuman/Arm/Calibration/ShoulderCal.any
  Body/AAUHuman/Arm/Calibration/SpineDependentCal.any
Due: other_tests, Application_tests

Clean up
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
  Body/AAUHuman/Arm/Calibration/ArmCal1.any
  Body/AAUHuman/Arm/Calibration/ArmCal2.any
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal4.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
  Body/AAUHuman/Arm/Calibration/ElbowCal.any
  Body/AAUHuman/Arm/Calibration/WristCal.any
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.txt
Due: test_docs

Make the camera class template render images as in model view
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix doc build warning
  Docs/body/thoracic_model.rst
Due: test_docs

Run tests with 20 deg angle warning
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Fix typos and formatting Changelog
  CHANGELOG.txt
Due: test_docs

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Add sphinx extension for creating AnyLinks to AMMR
  Docs/Applications/ADLs_and_ergonomics/plot_Squat.py
  Docs/conf.py
  Docs/exts/anylink.css
  Docs/exts/anylink.py
Due: test_docs

Fix a problem single leg models in AnyMocap
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Add explicit arguments for how to disable one leg in AnyMocap
  Application/MocapExamples/Plug-in-gait_Simple/Setup/ForcePlates.any
Due: other_tests, Application_tests

Test GitHub branches
  CHANGELOG.txt
Due: test_docs

Remove tooltip
  Docs/exts/anylink.py
Due: test_docs

Don't copy rst source in AMMR doc build
  Docs/conf.py
Due: test_docs

Fix Extensor_Indicis via points inside the wrapping surface
  Body/AAUHuman/Arm/ArmData1.2/ArmModelParameters.any
Due: other_tests, Application_tests

Fix wrapping for Extensor_Digitorum muscles
  Body/AAUHuman/Arm/HandmuscleRUHM_Detailed.any
Due: other_tests, Application_tests

Fix wrapping for Flexor_Digitorum_Profundus muscles
  Body/AAUHuman/Arm/HandmuscleRUHM_Detailed.any
Due: other_tests, Application_tests

Adjust width of wrapping cylinders
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger1.any
Due: other_tests, Application_tests

Make the whole in dorsal meta torus a litle wider
  Body/AAUHuman/Hand/HandData/RUHM/DorsalTorusMeta_Ex.any
Due: other_tests, Application_tests

Update anylink with"repo_path=..." argument
  Docs/conf.py
  Docs/exts/anylink-npm-path.js
  Docs/exts/anylink.js
  Docs/exts/anylink.py
Due: test_docs

Add option to disable local links anylink urls
  Docs/conf.py
  Docs/exts/anylink.js
  Docs/exts/anylink.py
Due: test_docs

Fix syntax typo
  Docs/exts/anylink.js
Due: test_docs

clean up
  Docs/conf.py
Due: test_docs

Add option to check the anylink validity when building
  Docs/conf.py
  Docs/exts/anylink.py
Due: test_docs

Add anylink-ammr links to gallery
  Docs/Applications/ADLs_and_ergonomics/plot_AirlinePassenger.py
  Docs/Applications/ADLs_and_ergonomics/plot_FreePosture.py
  Docs/Applications/ADLs_and_ergonomics/plot_PedalDemo.py
  Docs/Applications/ADLs_and_ergonomics/plot_PedalDemoConditional.py
  Docs/Applications/ADLs_and_ergonomics/plot_PosturePredictionModel.py
  Docs/Applications/ADLs_and_ergonomics/plot_SeatedHuman.py
  Docs/Applications/ADLs_and_ergonomics/plot_StandingLift.py
  Docs/Applications/ADLs_and_ergonomics/plot_StandingModel.py
  Docs/Applications/ADLs_and_ergonomics/plot_WheelTurn.py
  Docs/Applications/Mocap/plot_ADL_Gait.py
  Docs/Applications/Mocap/plot_AnyMocapFeatures.py
  Docs/Applications/Mocap/plot_BVH.py
  Docs/Applications/Mocap/plot_Plug-in-gait_MultiTrial_StandingRef.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_FullBody.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_FullBody_GRFPrediction.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_LowerExtremity.py
  Docs/Applications/Orthopedics_and_rehab/plot_FacetJointModel.py
  Docs/Applications/Orthopedics_and_rehab/plot_KneeSimulator.py
  Docs/Applications/Orthopedics_and_rehab/plot_SpineFixationWithForceDependentKinematics.py
  Docs/Applications/Orthopedics_and_rehab/plot_THA-KneeBendDemo.py
  Docs/Applications/Orthopedics_and_rehab/plot_WheelChairRancho.py
  Docs/Applications/Other/plot_IndexFingerModel.py
  Docs/Applications/Other/plot_JumpingJack.py
  Docs/Applications/Other/plot_StandingModelScalingDisplay.py
  Docs/Applications/Other/plot_StatisticalScalingPlugin.py
  Docs/Applications/Other/plot_UlmRatHindLimbModel.py
  Docs/Applications/Sports/plot_ArmCurl.py
  Docs/Applications/Sports/plot_BenchPress.py
  Docs/Applications/Sports/plot_BikeModel.py
  Docs/Applications/Sports/plot_BikeModel2D.py
  Docs/Applications/Sports/plot_CrossTrainer.py
  Docs/Applications/Sports/plot_LegPressMachine.py
  Docs/Applications/Sports/plot_PushUp.py
  Docs/Applications/Validation/plot_AalborgMandible.py
  Docs/Applications/Validation/plot_BergmannGH.py
  Docs/Applications/Validation/plot_EvaluateJointStrength.py
  Docs/Applications/Validation/plot_EvaluateMomentArms.py
  Docs/Applications/Validation/plot_GaitVaughan.py
  Docs/Applications/Validation/plot_MandibleModel.py
  Docs/Applications/Validation/plot_WilkeSpinePressure.py
Due: test_docs

Remove unsued reference to Thorax in Calivicula and Scapula
  Body/AAUHuman/Arm/Seg.any
Due: other_tests, Application_tests

Update initwrap vectors for various muscle.
  Body/AAUHuman/Arm/HandmuscleRUHM_Detailed.any
  Body/AAUHuman/Arm/Parameter_ExtrinsicHand.any
  Body/AAUHuman/Arm/Thumbmuscle_Detailed.any
  Body/AAUHuman/Hand/HandData/RUHM/PalmarTorusMCP_Proximal.any
Due: other_tests, Application_tests

Change StringMesh AnyVar to AnyIntVar
  Body/AAUHuman/Trunk/PsoasMajorLeft.any
  Body/AAUHuman/Trunk/PsoasMajorRight.any
Due: other_tests, Application_tests

Fix bug in intial wrapping guess for Triceps LH
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests
