Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Clean up armcal0
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
Due: other_tests, Application_tests

Add documentation page in AMMR and update changelog. More comments in the model files.
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/OptimizeBVH_Origin.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  CHANGELOG.md
  Docs/Applications/Mocap/plot_BVH_OptimizeOrigin.py
  Docs/Applications/images/BVH_OptimizeOrigin.jpg
Due: other_tests, Application_tests, test_docs

Add changelog entry
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix typos in documentation pages of BVH Xsens and BVH Xsens box lift.
  Docs/Applications/Mocap/plot_BVH.py
  Docs/Applications/Mocap/plot_BVH_BoxLift.py
Due: test_docs

Add Test model
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
Due: other_tests, Application_tests

Revert change to PS-proximal and PS distal joints
  Body/AAUHuman/Arm/Jnt.any
Due: other_tests, Application_tests

mimic previous implementation of rotational measures.
  Body/AAUHuman/Arm/Jnt.any
Due: other_tests, Application_tests

FIx names
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
Due: other_tests, Application_tests

Fix GH reaction for no-muscle model
  Body/AAUHuman/Arm/GHReactionsNoMuscles.any
Due: other_tests, Application_tests

Add #ifndef for TARGET_SEG in example to make sure AMMR test model works on different define statements
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
Due: other_tests, Application_tests

Add old names for seat_contact nodes, to improve backwards compatibility.
  Body/AAUHuman/Trunk/PelvisMuscleAttachementNodes.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update versions and dates
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

Latisimus calibration (#677)
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
  CHANGELOG.md
Due: other_tests, Application_tests

Define load parameters from as blank in the test model to prevent errors in RunApplication.LoadParameters
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
Due: other_tests, Application_tests

Adjust the range of motion for trunk evaluate joint strength
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
Due: other_tests, Application_tests

Adjust the range of motion for trunk evaluate joint strength (#679)
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
Due: other_tests, Application_tests

Update test model to include two new cases of target seg
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
Due: other_tests, Application_tests

Refactor code to relocate class template in AnyMocap folder, box in model folder.
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Model/box.anysurf3
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests

Update documentation
  Docs/Applications/Mocap/plot_BVH_OptimizeOrigin.py
  Docs/Applications/images/BVH_OptimizeOrigin.jpg
  Docs/Applications/images/BVH_OptimizeOrigin_Merged.jpg
Due: test_docs

fix minor typos
  CHANGELOG.md
Due: none

Delete test file and lines to include the test file
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Changes.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/LabSpecificData.any
Due: other_tests, Application_tests

Delete entry about previous AMMR version from the documentation page
  Docs/Applications/Mocap/plot_BVH_OptimizeOrigin.py
Due: test_docs

Release prep for 2.4.1 (#678)
  AMMR.version.any
  Body/AAUHuman/Trunk/PelvisMuscleAttachementNodes.any
  CHANGELOG.md
  Docs/conf.py
Due: other_tests, Application_tests, test_docs

Rename FE / and PS joint in arms
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/Body.Study.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Body.Study.any
  Body/AAUHuman/Arm/ArmHandMoments.any
  Body/AAUHuman/Arm/ArmMoments.any
  Body/AAUHuman/Arm/Interface.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/ShoulderArm.root.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/ShoulderArmMus3E.root.any
  Body/AAUHuman/Arm/ShoulderArmNoMuscles.root.any
  Body/AAUHuman/Arm/ShoulderArmOnlyMusclesNeck.root.any
  Docs/body/shoulder_arm_model.md
Due: other_tests, Application_tests, test_docs

Move reaction forces split into the joint
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
Due: other_tests, Application_tests

Update changelog entry
  CHANGELOG.md
Due: none

Remove references to the PS measure in Jnt
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/Body.Study.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Body.Study.any
  Body/AAUHuman/Arm/Interface.any
  Body/AAUHuman/Arm/Jnt.any
Due: other_tests, Application_tests

fix
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
Due: other_tests, Application_tests

Move deprecated nodes last in folder
  Body/AAUHuman/Arm/Jnt.any
Due: other_tests, Application_tests

Update HumeralRadial point
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/Seg.any
Due: other_tests, Application_tests

Update documentation
  Body/AAUHuman/Arm/ShoulderArm.root.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/ShoulderArmMus3E.root.any
  Body/AAUHuman/Arm/ShoulderArmNoMuscles.root.any
  Body/AAUHuman/Arm/ShoulderArmOnlyMusclesNeck.root.any
  Docs/body/shoulder_arm_model.md
Due: other_tests, Application_tests, test_docs

Switch ACTIVE_TIME definition as AnyVar
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/SubjectSpecificData.any
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests

Optimize bv horigin (#671)
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/BVH-files/S01_Trial01.bvh
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CreateVideo.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Model/box.anysurf3
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Output/.gitkeep
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/Main.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/S01_Trial01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Subjects/S01/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/libdef.any
  CHANGELOG.md
  Docs/Applications/Mocap/plot_BVH.py
  Docs/Applications/Mocap/plot_BVH_BoxLift.py
  Docs/Applications/Mocap/plot_BVH_OptimizeOrigin.py
  Docs/Applications/images/BVH_OptimizeOrigin_Merged.jpg
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tools/AnyMocap/OptimizeBVH_Origin.any
Due: other_tests, Application_tests, test_docs

Simpler gh joint humero ulnar joint 2 (#680)
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/SeatedHuman/Model/Body.Study.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Body.Study.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Body.Study.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmHandMoments.any
  Body/AAUHuman/Arm/ArmMoments.any
  Body/AAUHuman/Arm/GHReactionsNoMuscles.any
  Body/AAUHuman/Arm/Interface.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/Arm/ShoulderArm.root.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/ShoulderArmMus3E.root.any
  Body/AAUHuman/Arm/ShoulderArmNoMuscles.root.any
  Body/AAUHuman/Arm/ShoulderArmOnlyMusclesNeck.root.any
  CHANGELOG.md
  Docs/body/shoulder_arm_model.md
Due: other_tests, Application_tests, test_docs

Don't export changelog
  .gitattributes
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
