Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

feat: Add sphinx_reredirects extension and update dependencies
  Docs/conf.py
  pixi.lock
  pixi.toml
Due: test_docs

feat: allow overriddig Axes0 in InitialPos calculations (#141)
  Application/Beta/AAUCow/Model/InitialPositions.any
  Body/AAUHuman/Arm/InitialPositions.any
  Body/AAUHuman/FootGM/InitialPositions.any
  Body/AAUHuman/FootGM/InitialPositionsRigidToeFlex.any
  Body/AAUHuman/Leg/InitialPositions.any
  Body/AAUHuman/LegTLEM/InitialPositions.any
  Body/AAUHuman/Trunk/InitialPositions.any
Due: other_tests, Application_tests

feat: Refactor initial position assignments in trunk segments to use conditional assignment (#142)
  Body/AAUHuman/Arm/Glove.any
  Body/AAUHuman/Arm/HandSeg.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/FootGM/MusControlSeg.any
  Body/AAUHuman/FootGM/Seg.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/Layer.any
  Body/AAUHuman/Trunk/InitialPositions.any
  Body/AAUHuman/Trunk/RibSegments.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsRibCage.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/SegmentsThoraxIndividual.any
  Body/AAUHuman/Trunk/SkullSeg.any
  Body/AAUHuman/Trunk/ThoracicInertia.any
Due: other_tests, Application_tests

Example of adding fixture to pelvis in Xsens models
  Application/MocapExamples/BVH_Xsens/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
Due: other_tests, Application_tests

chore: update dependencies (#143)
  .github/workflows/ammr-doc.yaml
  .github/workflows/nightly-tests.yml
  pixi.lock
  pixi.toml
Due: none

fix: avoid python calls, since we have observed the python instabilities in latest version of AMS
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
Due: other_tests, Application_tests

Try with firefox user agent
  Docs/conf.py
Due: test_docs

Fix redirected link
  CHANGELOG.md
Due: none

Update scripts to render templates
  Body/AAUHuman/BuildTools/render_templates.py
  pixi.toml
Due: other_tests, Application_tests

Add BM setting to disable inclusion of git information
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

refactor: streamline GitInfo retrieval by consolidating preprocessor directives
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
Due: other_tests, Application_tests

Move git info section after BM initialization
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

fix: avoid python calls, since we have observed the python instabilities in latest version of AMS (#1116)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/render_templates.py
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/bm-parameters.toml
  CHANGELOG.md
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_statements.md
  Docs/conf.py
  pixi.toml
Due: other_tests, Application_tests, test_docs

hotfix: missing #endif
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
Due: other_tests, Application_tests

Initial commit to run a mocap model with 2 humans
  Application/Examples/TwoHuman/Model/BodyModelConfiguration.any
  Application/Examples/TwoHuman/Model/DrawSettings.any
  Application/Examples/TwoHuman/Model/Environment.any
  Application/Examples/TwoHuman/Model/GRFPrediction_H1.any
  Application/Examples/TwoHuman/Model/GRFPrediction_H2.any
  Application/Examples/TwoHuman/Model/JointsAndDrivers_H1.any
  Application/Examples/TwoHuman/Model/JointsAndDrivers_H2.any
  Application/Examples/TwoHuman/Model/LeftFootDrivers.any
  Application/Examples/TwoHuman/Model/Mannequin_H1.any
  Application/Examples/TwoHuman/Model/Mannequin_H2.any
  Application/Examples/TwoHuman/Model/RightFootDrivers.any
  Application/Examples/TwoHuman/Model/RunAppSequence.any
  Application/Examples/TwoHuman/TwoHuman.main.any
  Application/Examples/TwoHuman/libdef.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Tools/AnyMocap/AnyMocapModel.any
  Tools/AnyMocap/BodyModelWithoutMuscles.any
  Tools/AnyMocap/DefaultJointLimits.any
  Tools/AnyMocap/ExcludeSoftDrivers.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
  Tools/AnyMocap/KinematicStudyForParameterIdentification.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

Switch off reactions for hip-trunk rhythm driver
  Application/Examples/Squat/Model/TrunkDrivers.any
Due: other_tests, Application_tests

Update changelog.
  CHANGELOG.md
Due: none

fix: Fix squat model (#1117)
  Application/Examples/Squat/Model/TrunkDrivers.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update of images on AMMR webpage
  Docs/Applications/Sports/BikeModel.md
  Docs/Applications/Sports/BikeModel2D.md
  Docs/Applications/Sports/gallery.txt
  Docs/Applications/images/BikeModel-FullBody.png
  Docs/Applications/images/BikeModel-FullBody.webp
  Docs/Applications/images/BikeModel2D.png
  Docs/Applications/images/BikeModel2D.webp
Due: test_docs

Add pixi pinning strategy to AMMR
  .gitattributes
  .pixi/config.toml
Due: none

Add a public pixi.toml file to be included with AMMR release
  .gitattributes
  public-pixi.toml
Due: none

chore: Update pinned packages in main pixi file
  pixi.lock
  pixi.toml
Due: none

fix end of file newline
  .pixi/config.toml
  public-pixi.toml
Due: none

Update lock file
  pixi.lock
Due: none

feat: A a basic pixi.toml file to be included with released AMMR (#1119)
  .gitattributes
  .pixi/config.toml
  pixi.lock
  pixi.toml
  public-pixi.toml
Due: none

feat: add license environment variables for self-hosted tests
  .github/workflows/test-self-hosted.yml
Due: none

ci: add license environment variables for self-hosted tests (#144)
  .github/workflows/test-self-hosted.yml
Due: none

Restructure of content on the AMMR page
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/_static/Installation-anybodyassistent.png
  Docs/_static/Installation-demo-repo.png
  Docs/_static/best-practices-libdef.png
  Docs/ammr_best_practices.md
  Docs/ammr_installation.md
  Docs/anymocap/index.md
  Docs/bm_config/index.md
  Docs/creating_model_from_scratch.md
  Docs/getting_started.md
  Docs/grf_prediction/grf-prediction.md
  Docs/grf_prediction/grf_output.png
  Docs/index.md
Due: test_docs

Restructure of content on the AMMR page (#1121)
  Docs/Applications/Mocap/Plug-in-gait_Simple_FullBody_GRFPrediction.md
  Docs/_static/Installation-anybodyassistent.png
  Docs/_static/Installation-demo-repo.png
  Docs/_static/best-practices-libdef.png
  Docs/ammr_best_practices.md
  Docs/ammr_installation.md
  Docs/anymocap/index.md
  Docs/bm_config/index.md
  Docs/creating_model_from_scratch.md
  Docs/getting_started.md
  Docs/grf_prediction/grf-prediction.md
  Docs/grf_prediction/grf_output.png
  Docs/index.md
Due: test_docs

fix dead tlemsafe link
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelMuscleParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
  Docs/body/leg_tlem2_model.md
Due: other_tests, Application_tests, test_docs

add back anybodycon for testing on GH
  pixi.toml
Due: none

add back anybodycon for testing on GH
  pixi.lock
  pixi.toml
Due: none

fix another tlem url
  Docs/body/leg_tlem_model.md
Due: test_docs

Docs: fix dead tlemsafe link (#1124)
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelJointParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelMuscleParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelSegmentParameters.any
  Docs/body/leg_tlem2_model.md
  Docs/body/leg_tlem_model.md
  pixi.lock
  pixi.toml
Due: other_tests, Application_tests, test_docs

Updated AMMR version and changelog for AMMR 3.1.5 (for AMS 8.1.5 release)
  AMMR.version.any
  CHANGELOG.md
  pixi.toml
  public-pixi.toml
Due: none

chore: Update lock file
  pixi.lock
Due: none

chore: AMMR 3.1.5 release preparation (#1126)
  AMMR.version.any
  CHANGELOG.md
  pixi.lock
  pixi.toml
  public-pixi.toml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
