Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Add switich for an internal hack to hide all markers
  Tools/AnyMocap/DrawVector.any
Due: other_tests, Application_tests

Fix redirected links
  CHANGELOG.md
Due: none

fix another failing link
  Docs/body/leg_tlem2_model.md
Due: test_docs

fix: Mocap marker arrows Visible switch fix (#982)
  CHANGELOG.md
  Docs/body/leg_tlem2_model.md
  Tools/AnyMocap/DrawVector.any
  Tools/AnyMocap/ModelViews.any
Due: other_tests, Application_tests, test_docs

Update versions used for testing AMMR
  .github/workflows/nightly-tests.yml
  pixi.toml
Due: none

Update pixi lock file
  pixi.lock
Due: none

Add class template for creating a reference node at the centre of mass of a segment with its axes aligned with the principal axes of inertia.
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Add changelog
  CHANGELOG.md
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Add comments in the class template
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Rename variables
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

update spelling of centre to center.
  CHANGELOG.md
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

feat: Class template seg com node (#984)
  CHANGELOG.md
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

test(ams): Update AMS used in test to 8.0.5rc1 (#983)
  .github/workflows/nightly-tests.yml
  pixi.lock
  pixi.toml
Due: none

fix typo
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Add check for duplicate Eigen values and unique definition of principal axes.
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Add test model for create CoM Ref Node class template
  Tests/ModelUtilities/box.anysurf3
  Tests/ModelUtilities/box.stl
  Tests/ModelUtilities/test_CreateCoMRefNodeclass.any
Due: other_tests, Application_tests

fix typos
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

Rename driver for toe flex in mocap inversedynamics
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

feat: add check for duplicate eigen values for CreateCoMRefNode class template and test model (#985)
  Tests/ModelUtilities/box.anysurf3
  Tests/ModelUtilities/box.stl
  Tests/ModelUtilities/test_CreateCoMRefNodeclass.any
  Tools/ModelUtilities/SegmentCoM/CreateCoMRefNode.any
Due: other_tests, Application_tests

fix: Fixed Segment reference, due to bad merge
  Tools/AnyMocap/HumanGroundResiduals.any
Due: other_tests, Application_tests

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#986)
  Tests/.test_durations
Due: other_tests, Application_tests

Fix misspelled filename
  Docs/body/shoulder_arm_model.md
Due: test_docs

Fixed warnings about string escapes
  Docs/conf.py
Due: test_docs

docs: Fixed missing video on arm doc page (#987)
  Docs/body/shoulder_arm_model.md
  Docs/conf.py
Due: test_docs

feat(anymocap): Allow overwriting tStart/tEnd/nStep of MarkerTracking
  Tools/AnyMocap/MarkerTrackingSettings.any
Due: other_tests, Application_tests

feat: Added new way of of setting the initial conditions from Marker tracking output
  Body/AAUHuman/Trunk/MannequinValuesFromModel.any
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/LoadMannquinValuesForInitialConditions.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

tmp commit
  Application/MocapExamples/Plug-in-gait_Simple/FullBody.main.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_FullBody.any
Due: other_tests, Application_tests

Renamed deprecated NameCast member name
  Body/AAUHuman/BodyModels/GenericBodyModel/ComponentTreeConfig.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

chore: Updated the AnyBodyCon test version to 8.1.0beta1
  pixi.toml
Due: none

feat(anymocap): Allow overwriting tStart/tEnd/nStep of MarkerTracking (#988)
  Tools/AnyMocap/MarkerTrackingSettings.any
Due: other_tests, Application_tests

Update lock file
  pixi.lock
Due: none

chore: Updated the AnyBodyCon test version to 8.1.0beta1 (#991)
  pixi.lock
  pixi.toml
Due: none

Fix: Updated the version check in template libdef
  Tools/Templates/Human/libdef.any
Due: other_tests, Application_tests

Bug fix pelvis ground rotation driver in free posture model: X and Z directions were flipped
  Application/Examples/FreePosture/Model/ConstantDrivers/TrunkDrivers.any
Due: other_tests, Application_tests

Add changelog
  CHANGELOG.md
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
Due: test_docs

fix: Bug fix free posture pelvis ground driver (#994)
  Application/Examples/FreePosture/Model/ConstantDrivers/TrunkDrivers.any
  CHANGELOG.md
  Docs/Applications/Daily-activities-and-ergonomics/FreePosture.md
Due: other_tests, Application_tests, test_docs

fix: Fixed test duration upload
  .github/workflows/nightly-tests.yml
Due: none

fix: Fixed test duration upload (#995)
  .github/workflows/nightly-tests.yml
Due: none
