Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

update changelog
  CHANGELOG.txt
Due: test_docs

Update changelog
  CHANGELOG.txt
Due: test_docs

Only run tests on new wrapping with pushout
  .github/workflows/nighly-tests.yml
Due: none

Simplify selected output from arm muscles
  Body/AAUHuman/Arm/LeftArmMuscles3ESelectedOutput.any
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/LeftArmSimpleMusclesOnlyNeckSelectedOutput.any
  Body/AAUHuman/Arm/LeftArmSimpleMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMuscles3ESelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmSimpleMusclesOnlyNeckSelectedOutput.any
  Body/AAUHuman/Arm/RightArmSimpleMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
Due: other_tests, Application_tests

Remove unused TrunkSelectedOutput.any file
  Body/AAUHuman/Trunk/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Removed commented code with shows incorrect use of Fout for moments
  Body/AAUHuman/LegTLEM/LeftLegMuscles3ESelectedOutput.any
  Body/AAUHuman/LegTLEM/LeftLegNoMusclesSelectedOutput.any
  Body/AAUHuman/LegTLEM/LeftLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/LeftLegSimpleMusclesSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegMuscles3ESelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegNoMusclesSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSimpleMusclesSelectedOutput.any
Due: other_tests, Application_tests

Remove unused files in Trunk model
  Body/AAUHuman/Trunk/TrunkNoMuscles.root.any
  Body/AAUHuman/Trunk/TrunkNoMusclesPsoasMuscle.root.any
  Body/AAUHuman/Trunk/TrunkNoMusclesSelectedOutput.any
Due: other_tests, Application_tests

Fix wrong Selected output variables
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Update ANSUR scaling plugin. It now correctly updates values when input is changed.
  Tools/Plugins/ANSUR_Plugin-1.1.1-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.1.1-py3.7-win-amd64.ico
  Tools/Plugins/ANSUR_Plugin.any
Due: other_tests, Application_tests

Tweak new shoulder rhythm to ensure neutral shoulder posture
  Body/AAUHuman/Arm/ShoulderRhythm.any
Due: other_tests, Application_tests

Use a torus for teres minor wrapping
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Update position of torus to avoid test failures
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
Due: other_tests, Application_tests

Fix test failures with torus teres minor wrapping
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/JointStrengthSequenceLeft.any
  Body/AAUHuman/Arm/JointStrengthSequenceRight.any
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix test failures due to deltoid lateral wrap collisions
  Body/AAUHuman/Arm/DeltoidWrap.any
Due: other_tests, Application_tests

Remove visual wrapping surfaces
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
Due: other_tests, Application_tests

Fix typo for tEnd
  Tests/ShoulderTestModel/Main.any
Due: other_tests, Application_tests

Fix typo in changelog
  CHANGELOG.txt
Due: test_docs

revert torus rotation
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
Due: other_tests, Application_tests

Add missing plugin files
  Tools/Plugins/ANSUR_Plugin-1.2.0-py3.7-win-amd64.egg
  Tools/Plugins/ANSUR_Plugin-1.2.0-py3.7-win-amd64.ico
Due: other_tests, Application_tests

Update subject initial guess values for multi trial example
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/SubjectSpecificData.any
Due: other_tests, Application_tests

Update test files for doc image generation
  Tests/AnyMocap/Test_ADL_Gait_standing-ref.any
  Tests/AnyMocap/Test_BVH.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandigRef.any
Due: other_tests, Application_tests

Update comment on modified shoulder rhythm
  Body/AAUHuman/Arm/ShoulderRhythm.any
Due: other_tests, Application_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Update Body/AAUHuman/Arm/ShoulderRhythm.any
  Body/AAUHuman/Arm/ShoulderRhythm.any
Due: other_tests, Application_tests

Update plot_ADL_Gait.py
  Docs/Applications/Mocap/plot_ADL_Gait.py
Due: test_docs

Fix small typo in docs for scaling plugin example
  Docs/Applications/Other/plot_StatisticalScalingPlugin.py
Due: test_docs

Increase the StringMesh on 7 muscles and ContactStiffness on a single to improve performance
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix missing anyset files in ADL Gait application
  Application/MocapExamples/ADL_Gait_[beta]/.gitattributes
Due: other_tests, Application_tests

update license certificate
  LICENSE.txt
Due: none

Adjust rectus femoris wrapping surface and add it RectusFemoris2
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Fix false processing errors in ADL gait example
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
