Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Add option to link to members in the class template docs
  CHANGELOG.md
  Docs/index.md
  Docs/tools/class-template.md.jinja
Due: test_docs

Add option to link to members in the class template docs (#926)
  CHANGELOG.md
  Docs/index.md
  Docs/tools/class-template.md.jinja
Due: test_docs

Add clean step to build documentation workflow
  .github/workflows/ammr-doc.yaml
Due: none

Update GitHub Actions workflow to fetch full history
  .github/workflows/ammr-doc.yaml
Due: none

Update environments to include official AnyBody8
  pixi.lock
  pixi.toml
Due: none

Disable compare reference workflows
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
Due: none

Update README.md
  Docs/README.md
Due: test_docs

Remove CREATE_IMAGE macro from multiple test files
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandigRef.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/AnyMocap/Test_force_plate_offset.any
  Tests/Applications/test_AalborgMandibleValidation.any
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_CrossTrainer.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
  Tests/Applications/test_ExoConcept_BoxLift.any
  Tests/Applications/test_FemoralTorsion.any
  Tests/Applications/test_KneeForceExample.any
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_SpineFixationWithForceDependentKinematics.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_StandingPosturePredictionModel.any
  Tests/Applications/test_THA-KneeBendDemo.any
Due: other_tests, Application_tests

Update readme
  Docs/README.md
Due: test_docs

update interface morphing
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

Adjust GRF prediction height and remove weak subtalar eversion driver.
  Application/MocapExamples/BVH_Xsens_ToeFlex/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/ForcePlates.any
Due: other_tests, Application_tests

update path to mocap marker protocol
  Application/MocapExamples/BVH_Xsens_ToeFlex/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_ToeFlex/XsensBVH_ToeTip.any
Due: other_tests, Application_tests

clean up c3d mocap model toe flexion: delete toe drivers file as it is implemented through extra drivers
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ToeDrivers.any
Due: other_tests, Application_tests

add create video file for generating video showing detail of toe flexion in Application/MocapExamples/Plug-in-gait_Simple_ToeFlexion/LowerExtremity.main.any
  Docs/body/_static/CreateVideo_C3D_ToeFlexion_Detail.any
Due: test_docs

Update build and test scripts
  .github/workflows/ammr-doc.yaml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Remove CREATE_IMAGE macro from multiple test files (#927)
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandigRef.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/AnyMocap/Test_force_plate_offset.any
  Tests/Applications/test_AalborgMandibleValidation.any
  Tests/Applications/test_AirlinePassenger.any
  Tests/Applications/test_CrossTrainer.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
  Tests/Applications/test_ExoConcept_BoxLift.any
  Tests/Applications/test_FemoralTorsion.any
  Tests/Applications/test_KneeForceExample.any
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_PedalDemo.any
  Tests/Applications/test_SpineFixationWithForceDependentKinematics.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_StandingModel.any
  Tests/Applications/test_StandingPosturePredictionModel.any
  Tests/Applications/test_THA-KneeBendDemo.any
Due: other_tests, Application_tests

Rename toe flexion c3d model
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/FullBody.main.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/FullBody_GRFPrediction.main.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Input/GaitFast_1.c3d
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Input/GaitNormal_1.c3d
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Input/GaitNormal_2.c3d
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Output/.gitkeep
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/BodyModelConfigFullBody.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/C3DSettings.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/ForcePlates.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/ForcePlates_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/SubjectSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple_ToeFlex/Setup/TrialSpecificData_LowerExtremity.any
Due: other_tests, Application_tests

Update shell command in GitHub workflows
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update readme (#928)
  Docs/README.md
Due: test_docs

Try double wrapping pwsh
  .github/workflows/test.yml
Due: none

Update shell command in GitHub workflows
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
Due: none

Refacter the way pixi is used in github action workflows (#929)
  .github/workflows/ammr-doc.yaml
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Code cleanup seg nodes
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

Update nightly-tests.yml to use AMS version 8.0 and suppress deprecation messages
  .github/workflows/nightly-tests.yml
Due: none

Update pixi environment
  pixi.lock
  pixi.toml
Due: none

Add setup-pixi to linux test
  .github/workflows/nightly-tests.yml
Due: none

Fix missing pixi activation
  .github/workflows/nightly-tests.yml
Due: none

Update test command in nightly-tests.yml
  .github/workflows/nightly-tests.yml
Due: none

Try different command
  .github/workflows/nightly-tests.yml
Due: none

Disable linux test for now
  .github/workflows/nightly-tests.yml
Due: none

Maintenance: Update nightly test configuration (#930)
  .github/workflows/nightly-tests.yml
  pixi.lock
  pixi.toml
Due: none

Add option to force the test duration update
  .github/workflows/nightly-tests.yml
Due: none

Fix syntax in workflow file
  .github/workflows/nightly-tests.yml
Due: none

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#931)
  Tests/.test_durations
Due: other_tests, Application_tests

Refactor nightly-tests.yml to include test-linux job
  .github/workflows/nightly-tests.yml
Due: none

Refactor nightly-tests.yml to include test-linux job (#932)
  .github/workflows/nightly-tests.yml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
