Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update zenodo information and links (#785)
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/bmtable.csv.jinja
  CHANGELOG.md
  Docs/about.md
  Docs/bm_config/ArmTable.csv
  Docs/bm_config/JointTypeTable.csv
  Docs/bm_config/LegTable.csv
  Docs/bm_config/MannequinTable.csv
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/ScalingTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/index.md
  LICENSE
Due: other_tests, Application_tests, test_docs

Fix typos
  CHANGELOG.md
Due: none

Add extra muscles (#122)
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
Due: other_tests, Application_tests

Use optional assignment in JointStrength studies (#121)
  Body/AAUHuman/Arm/JointStrengthSequenceLeft.any
  Body/AAUHuman/Arm/JointStrengthSequenceRight.any
  Body/AAUHuman/Leg/EvaluateJointStrengthSequenceLeft.any
  Body/AAUHuman/Leg/EvaluateJointStrengthSequenceRight.any
  Body/AAUHuman/Leg/EvaluateMomentArmsSequenceLeft.any
  Body/AAUHuman/Leg/EvaluateMomentArmsSequenceRight.any
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceLeft.any
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceRight.any
  Body/AAUHuman/LegTLEM/EvaluateMomentArmsSequenceLeft.any
  Body/AAUHuman/LegTLEM/EvaluateMomentArmsSequenceRight.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthSequence.any
  Body/AAUHuman/Trunk/EvaluateMomentArmsSequence.any
Due: other_tests, Application_tests

Updated scaling laws not to assign segmental scaling functions. ScalingCustom.any is not always used and controls behavior of scaling functions.
  Body/AAUHuman/BodyModels/GenericBodyModel/CheckCustomScalingEnabled.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Scaling/ScalingCustom.any
  Body/AAUHuman/Scaling/ScalingLengthMass.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingLengthMassFatModified.any
  Body/AAUHuman/Scaling/ScalingNone.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
Due: other_tests, Application_tests

Simplified CHANGELOG message
  CHANGELOG.md
Due: none

Implement new custom scaling override
  Body/AAUHuman/BodyModels/GenericBodyModel/CheckCustomScalingEnabled.any
  Body/AAUHuman/BodyModels/GenericBodyModel/CheckDeprecatedCustomScalingEnabled.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Scaling/ScalingConfig.any
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Add #if guards for old leg model
  Body/AAUHuman/Scaling/ScalingConfig.any
Due: other_tests, Application_tests

Handle case where feet are disabled
  Body/AAUHuman/Scaling/ScalingConfig.any
Due: other_tests, Application_tests

Fix wrong reference in Head scaling section
  Body/AAUHuman/Scaling/ScalingConfig.any
Due: other_tests, Application_tests

Fix FemoralTorsion example
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
Due: other_tests, Application_tests

Remove IC related unused nodes and data variables (#124)
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/RibCageNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Implement interface morphing in RigidFoot with Toe Flex
  Body/AAUHuman/FootGM/SegRigidToeFlex.any
Due: other_tests, Application_tests

Rename override pointers
  Body/AAUHuman/Scaling/ScalingConfig.any
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
Due: other_tests, Application_tests

ENH: remove ankle cylinder and add via points on calcaneus superior tip, where the achilles tendon bursae are located
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Refactor "CustomScaling" functionality (#786)
  Body/AAUHuman/BodyModels/GenericBodyModel/CheckDeprecatedCustomScalingEnabled.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Scaling/ScalingConfig.any
  Body/AAUHuman/Scaling/ScalingCustom.any
  Body/AAUHuman/Scaling/ScalingLengthMass.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingLengthMassFatModified.any
  Body/AAUHuman/Scaling/ScalingNone.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
  CHANGELOG.md
  Tools/ModelUtilities/FemoralTorsion/FemoralTorsion.any
Due: other_tests, Application_tests

FIX: popliteus wrapping surface syntax
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Fix issue due to bad merge conflict
  Body/AAUHuman/Scaling/ScalingConfig.any
Due: other_tests, Application_tests

Added MoCap examples for spine
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/FullBody.main.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/BodyModelConfigFullBody.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/C3DSettings.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/ForcePlates.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/ForcePlates_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/MarkerProtocol_FlexibleThorax.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/SubjectSpecificData.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_FlexibleThorax/Setup/TrialSpecificData_LowerExtremity.any
  Body/AAUHuman/Scaling/ScalingConfig.any
  Tools/AnyMocap/AnyMocapModel.any
  Tools/AnyMocap/BodyModelWithoutMuscles.any
  Tools/AnyMocap/ExcludeSoftDrivers.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
  Tools/AnyMocap/ScoliosisRhythmDriver.any
Due: other_tests, Application_tests

STYLE: remove comments
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

ENH: slightly move calcaneus lateralis points 1mm posteriorly to avoid visual penetration of bone
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Improve achilles tendon wrapping
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
Due: other_tests, Application_tests

Achilles wrapping only for TLEM2
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
  CHANGELOG.md
Due: other_tests, Application_tests

extra calibration and tibial rotation
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceLeft.any
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceRight.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal10.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal11.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal1Mod.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal2Mod.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal6Mod.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Achilles tendon wrapping 2 (#788)
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

Add option to override kinematic joint limits in MoCap
  Tools/AnyMocap/DefaultJointLimits.any
Due: other_tests, Application_tests

More robust implementation of patella intial pos
  Body/AAUHuman/LegTLEM/InitialPositions.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Fix issue deleting files when forward slashes are used
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Use MarkerTracking as initial condition for InverseDynamics
  Tools/AnyMocap/InverseDynamicSettings.any
  Tools/AnyMocap/KinematicStudyForParameterIdentificationSettings.any
  Tools/AnyMocap/MarkerTrackingSettings.any
Due: other_tests, Application_tests

Ensure Windows CI runs on Windows machines
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

Workaround from file not realoding issue
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Add intial wrapping guess for calf muscles
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Revert "Achilles tendon wrapping 2 (#788)"
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
  CHANGELOG.md
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Add devcontainer to ammr
  .devcontainer/devcontainer.json
Due: none

Update linux image used in github actions
  .github/workflows/nighly-tests.yml
Due: none

Dev container (#792)
  .devcontainer/devcontainer.json
  .github/workflows/nighly-tests.yml
Due: none

Update version for linux image
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
