Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Ensure free posture models loads with/without hands.
  Application/Examples/FemoralTorsion/Model/Mannequin.any
  Application/Examples/FreePosture/FreePostureFullBodyShoulderRhythmMove.Main.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationFunctions.any
  Application/Examples/FreePosture/Model/MannequinInterpolation.any
Due: other_tests, Application_tests

Update mannequin files MCPDeviation -> MCPAbduction
  Application/Examples/FemoralTorsion/Model/Mannequin.any
  Application/Examples/FreePosture/Model/ConstantDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/ConstantDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/Mannequin.any
Due: other_tests, Application_tests

Fix misspelled BM_SCALING option in test
  Tests/BM combinations/test_ruhm.any
Due: other_tests, Application_tests

Typo in class template
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

sRel mirroring
  Body/AAUHuman/Trunk/Buckle.any
  Body/AAUHuman/Trunk/ContactPoints.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/PelvisMuscleAttachementNodes.any
  Body/AAUHuman/Trunk/PelvisMuscleAttactmentNodes.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ModelParameters.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Fix lumbar contact nodes mirroring
  Body/AAUHuman/Trunk/ContactPoints.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

Fix lumbar contact nodes mirroring
  Body/AAUHuman/Trunk/ContactPoints.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  CHANGELOG.md
Due: other_tests, Application_tests

upd changelog
  CHANGELOG.md
Due: none

add mirroring of lumbar ligaments
  Body/AAUHuman/Trunk/LumbarLigamentNodes.any
  Body/AAUHuman/Trunk/PelvisInterfaceMorphing.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Don't report test failures on beta branch
  .github/workflows/nighly-tests.yml
  Tests/test-environment.yml
Due: other_tests, Application_tests

Don't report test failures on beta branch (#623)
  .github/workflows/nighly-tests.yml
  Tests/test-environment.yml
Due: other_tests, Application_tests

fix syntax in CI files
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Ignore specific expected errors in 7.4
  .github/workflows/nighly-tests.yml
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Update hamstring origins (#611)
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

This fixes a symmetry regression introduced in #584
  Body/AAUHuman/Trunk/Buckle.any
Due: other_tests, Application_tests

This fixes a symmetry regression introduced in #584 (#624)
  Body/AAUHuman/Trunk/Buckle.any
Due: other_tests, Application_tests

Fix calculation of Transversus PCSA right side
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix unreleased typo for Transversus PCSA right side (#625)
  Body/AAUHuman/Trunk/MuscleParametersSpineSimpleRight.any
Due: other_tests, Application_tests

Update validation study and tests after fixing transversus symmetry
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs

Update validation study and tests after fixing transversus symmetry (#626)
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs

Add code for a small knee force example
  Application/Examples/KneeForcesExample/Knee_force_example.main.any
Due: other_tests, Application_tests

Add documentation and fine tune the knee forces example
  Application/Examples/KneeForcesExample/Knee_force_example.main.any
  Docs/Applications/Orthopedics_and_rehab/KneeForces2.png
  Docs/Applications/Orthopedics_and_rehab/knee_forces.svg
  Docs/Applications/Orthopedics_and_rehab/plot_KneeForcesExample.py
  Docs/Applications/images/KneeForceExample.jpg
  Tests/Applications/test_KneeForceExample.any
Due: other_tests, Application_tests, test_docs

Add changelog entry
  CHANGELOG.md
Due: none

Update Knee_force_example.main.any
  Application/Examples/KneeForcesExample/Knee_force_example.main.any
Due: other_tests, Application_tests

Update plot_KneeForcesExample.py
  Docs/Applications/Orthopedics_and_rehab/plot_KneeForcesExample.py
Due: test_docs

Add Knee forces example (#628)
  Application/Examples/KneeForcesExample/Knee_force_example.main.any
  CHANGELOG.md
  Docs/Applications/Orthopedics_and_rehab/KneeForces2.png
  Docs/Applications/Orthopedics_and_rehab/knee_forces.svg
  Docs/Applications/Orthopedics_and_rehab/plot_KneeForcesExample.py
  Docs/Applications/images/KneeForceExample.jpg
  Tests/Applications/test_KneeForceExample.any
Due: other_tests, Application_tests, test_docs

Reduce symmetry threshold again
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Prevent duplication of the rib segments when emulating the new thoracic structure
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
Due: other_tests, Application_tests

Fix minor symmetry issue for trunk
  Body/AAUHuman/Trunk/ThoraxScapulaContactRibPoints.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_TrunkDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Update Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Trim thorax structure and symmetry (#629)
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/ThoraxScapulaContactRibPoints.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_TrunkDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

Update for change to AnySurfFit classes
  Application/Examples/KneeSimulator/Input/Parameters_Ligaments.any
  Application/Examples/KneeSimulator/Model/Contacts.any
  Application/Examples/KneeSimulator/Model/Joints.any
  Application/Examples/KneeSimulator/Model/Segs.any
Due: other_tests, Application_tests

Don't use variables named 'r'
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

ignore surffit deprecation warnings on 7.4 beta
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

ignore surffit deprecation warnings on 7.4 beta (#631)
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Update test_KneeSimulator_load_only.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Run test model with determinate solver
  Tests/ShoulderTestModel/Main.any
Due: other_tests, Application_tests
