Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Ignore constraint warning
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
Due: other_tests, Application_tests

Ignore gimbal lock
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
Due: other_tests, Application_tests

iter
  Tests/.test_durations
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
Due: other_tests, Application_tests

Split slow test to speed up test suite (#840)
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-left_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-right_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Tests/.test_durations
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_ADL_Gait_MarkerTracking.any
  Tests/AnyMocap/Test_ADL_Gait_standing-ref.any
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tests/AnyMocap/Test_FullBodyGRF-Plug-in-gait.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_MarkerTracking.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Update version file
  AMMR.version.any
Due: none

Update version file (#843)
  AMMR.version.any
Due: none

Limit some gh actions to only run in AnyBody Org
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
Due: none

Limit some gh actions to only run in AnyBody Org (#844)
  .github/workflows/ammr-doc.yaml
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
Due: none

Remove dependency delay hacks (#838)
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkMuscleActivityEnvelope.any
  Tests/Symmetry/DynamicTest/Model/MuscleSymmetryCheck.any
  Tests/Thoracic/test_trunk_load_pos.any
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/ForcePlates/ForcePlateTypes.any
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs

Readme update
  Docs/README.md
Due: test_docs

Update section on contribution to AMMR
  Docs/about.md
Due: test_docs

Improve start-guess for wheelchair hand posture
  Application/Examples/WheelChairRancho/Model/Mannequin.any
Due: other_tests, Application_tests

Improve start-guess for wheelchair hand posture (#846)
  Application/Examples/WheelChairRancho/Model/Mannequin.any
Due: other_tests, Application_tests

Tweak variables which can be overridden to hide/show model elements (#842)
  Tools/GRFPrediction/CreateFootNodes.any
  Tools/GRFPrediction/FootPlateConditionalContact.any
Due: other_tests, Application_tests

Include Sterno cleidomastoid in calibration study (#841)
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
Due: other_tests, Application_tests

Use github infrastructure to run tests
  .github/actions/custom-anybodycon/action.yml
  .github/workflows/test.yml
Due: none

simplify actions
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Add pytest splits
  .github/workflows/nighly-tests.yml
Due: none

rename jobs
  .github/workflows/nighly-tests.yml
Due: none

Split job in 5
  .github/workflows/nighly-tests.yml
Due: none

Add pytest-split dependency to test environment
  Tests/test-environment.yml
Due: other_tests, Application_tests

Clean up the nightly tests workflow
  .github/workflows/nighly-tests.yml
Due: none

cleanup
  .github/workflows/nighly-tests.yml
Due: none

Skip install libdef look if not necessary
  Tools/Templates/libdef.any
Due: other_tests, Application_tests

Use github infrastructure to run tests (#848)
  .github/actions/custom-anybodycon/action.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Add steps to update test durations
  .github/workflows/nighly-tests.yml
Due: none

Rename test file
  .github/workflows/nightly-tests.yml
Due: none

Add workflow to update test durations (#849)
  .github/workflows/nightly-tests.yml
Due: none

Only store artifacts on master branch
  .github/workflows/nightly-tests.yml
Due: none

Only store artifacts on master branch (#850)
  .github/workflows/nightly-tests.yml
Due: none

fix syntax error
  .github/workflows/nightly-tests.yml
Due: none

Only run load tests on linux
  .github/workflows/nightly-tests.yml
Due: none

update
  .github/workflows/nightly-tests.yml
Due: none

more syntax fixes
  .github/workflows/nightly-tests.yml
Due: none

Update durations (#851)
  .github/workflows/nightly-tests.yml
Due: none

Update text on github ammr
  Docs/contribute.md
Due: test_docs

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Fix duration artefacts not beeing stored
  .github/workflows/nightly-tests.yml
  Tests/.test_durations
Due: other_tests, Application_tests
