Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Add points to get all bend angles below 20 Deg
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Fix scaling bug in _SCALING_UNIFORM_ and _SCALING_LENGTHMASSFAT_
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/Scaling/AnyFamily/AnyMan.any
  Body/AAUHuman/Scaling/AnyFamily/AnyManUniform.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix Scaling in AnyMan files used by examples and in tutorials.
  Application/Examples/BikeModel/Model/AnyMan.any
  Application/Examples/CrossTrainer/Model/AnyManUniform.any
  Application/Examples/SpineFixationWithForceDepKinematics/Model/AnyManUniform.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyMan.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManUniform.any
  Docs/Scaling/_static/lesson1/AnyManBigFemur.any
  Docs/Scaling/_static/lesson1/AnyManLengthMass.any
  Docs/Scaling/_static/lesson1/AnyManUniformCorrect.any
  Docs/Scaling/_static/lesson3/AnyManXYZ.final.any
  Docs/Scaling/lesson1.rst
  Docs/Scaling/lesson3.rst
Due: other_tests, Application_tests, test_docs

Fix scaling in Wilke example to match default uniform scaling in AMMR
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStanding/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/AnyManUniform.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/AnyManUniform.any
Due: other_tests, Application_tests

Fix bug in footrest support in SpinePressureLyingOnBack model
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/FootrestSupport.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
Due: other_tests, Application_tests

Adjust lumbar support in SpinePresureLyingOnBack model
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/BackrestSupport.any
Due: other_tests, Application_tests

Add changelog entry for LyingOnBack model foot rest fix
  CHANGELOG.txt
Due: test_docs

Update validation results for Wilke models.
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs

Update changelog
  CHANGELOG.txt
Due: test_docs

Limit processing to 3 to avoid normal users hitting license limits
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Fix the standing Model template which was running in the mode where foot contraints were disabled.
  Tools/Templates/Human Standing/Human Standing.main.any
Due: other_tests, Application_tests

Update LICENSE.txt
  LICENSE.txt
Due: none

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Fix deprecated ::add-path:: command in github actions
  .github/workflows/ammr-doc.yaml
Due: none

Update nighly-tests.yml
  .github/workflows/nighly-tests.yml
Due: none

Update test.yml
  .github/workflows/test.yml
Due: none

Use correct times in BVH example S01-Trial2
  Application/MocapExamples/BVH_Xsens/Subjects/S1/S01_Trial02/TrialSpecificData.any
Due: other_tests, Application_tests

Make batchprocessing script more robust
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Fixes false positive test failure
  Tests/AnyMocap/Test_LowerExtremity-Plug-in-gait.any
Due: other_tests, Application_tests

Fix misleading test failure
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
Due: other_tests, Application_tests

Fixed camrecorder not working in non-AMMR models.
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Update joint angles in moment arm study.
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
Due: other_tests, Application_tests

Rename misspelled variable name Rename SCPronation to SCProtraction
  Body/AAUHuman/Arm/MomentArmSequenceLeft.any
  Body/AAUHuman/Arm/MomentArmSequenceRight.any
Due: other_tests, Application_tests

Update subscapularis wrapping surface
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Set default opacity for wrapping object
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Subscapularis muscles: add more wrap points on muscle
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fixes in Selected Output Muscle Forces
  Body/AAUHuman/LegTLEM/LeftLegSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
Due: other_tests, Application_tests

Add documentation pages on unreleased model
  Docs/body/Thoracic_model.rst_
  Docs/body/_static/footgm.mp4
  Docs/body/_static/ruhm1.png
  Docs/body/_static/ruhm2.png
  Docs/body/glasgow_maastricht_foot_model.rst
  Docs/body/models.rst
  Docs/body/regensburg_ulm_hand_model.rst
  Docs/body/thoracic_model.rst
Due: test_docs

Add documentation pages for IndexFinger and Rat model
  Docs/Applications/Other/plot_IndexFingerModel.py
  Docs/Applications/Other/plot_UlmRatHindLimbModel.py
  Docs/Applications/images/IndexFingerModel.jpg
  Docs/Applications/images/UlmRatHindLimbModel.jpg
Due: test_docs

Move posture prediction model to ADL and ergonomics section
  Docs/Applications/ADLs_and_ergonomics/plot_PosturePredictionModel.py
Due: test_docs

Update doc reference to model files
  CHANGELOG.txt
  Docs/Applications/ADLs_and_ergonomics/plot_AirlinePassenger.py
  Docs/Applications/ADLs_and_ergonomics/plot_FreePosture.py
  Docs/Applications/ADLs_and_ergonomics/plot_PedalDemo.py
  Docs/Applications/ADLs_and_ergonomics/plot_PedalDemoConditional.py
  Docs/Applications/ADLs_and_ergonomics/plot_PosturePredictionModel.py
  Docs/Applications/ADLs_and_ergonomics/plot_SeatedHuman.py
  Docs/Applications/ADLs_and_ergonomics/plot_Squat.py
  Docs/Applications/ADLs_and_ergonomics/plot_StandingLift.py
  Docs/Applications/ADLs_and_ergonomics/plot_StandingModel.py
  Docs/Applications/ADLs_and_ergonomics/plot_WheelTurn.py
  Docs/Applications/Mocap/plot_ADL_Gait.py
  Docs/Applications/Mocap/plot_AnyMocapFeatures.py
  Docs/Applications/Mocap/plot_BVH.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_FullBody.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_FullBody_GRFPrediction.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_LowerExtremity.py
  Docs/Applications/Other/plot_JumpingJack.py
  Docs/Applications/Other/plot_StandingModelScalingDisplay.py
  Docs/Applications/Other/plot_StatisticalScalingPlugin.py
  Docs/Applications/Sports/plot_ArmCurl.py
  Docs/Applications/Sports/plot_BenchPress.py
  Docs/Applications/Sports/plot_BikeModel.py
  Docs/Applications/Sports/plot_BikeModel2D.py
  Docs/Applications/Sports/plot_CrossTrainer.py
  Docs/Applications/Sports/plot_LegPressMachine.py
  Docs/Applications/Sports/plot_PushUp.py
  Docs/Applications/Validation/plot_AalborgMandible.py
  Docs/Applications/Validation/plot_BergmannGH.py
  Docs/Applications/Validation/plot_EvaluateJointStrength.py
  Docs/Applications/Validation/plot_EvaluateMomentArms.py
  Docs/Applications/Validation/plot_GaitVaughan.py
  Docs/Applications/Validation/plot_MandibleModel.py
  Docs/Applications/Validation/plot_WilkeSpinePressure.py
Due: test_docs

Update thoracic_model.rst
  Docs/body/thoracic_model.rst
Due: test_docs

Update with text and video
  Docs/body/_static/thoracic1.mp4
  Docs/body/regensburg_ulm_hand_model.rst
  Docs/body/thoracic_model.rst
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
