Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Refactor pectoralis wrapping implementation.
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/WrapperCyl.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Add weak residual on buckle DOF
  Body/AAUHuman/Trunk/BuckleSupport.any
  CHANGELOG.md
Due: other_tests, Application_tests

Minor linguistic corrections in changelog
  CHANGELOG.md
Due: none

Update Body/AAUHuman/Trunk/BuckleSupport.any
  Body/AAUHuman/Trunk/BuckleSupport.any
Due: other_tests, Application_tests

Fix initial wrapping pos
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/WrapperCyl.any
Due: other_tests, Application_tests

Pectoralis wrap robustness (#776)
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/WrapperCyl.any
  CHANGELOG.md
Due: other_tests, Application_tests

Add weak residual on buckle DOF (#777)
  Body/AAUHuman/Trunk/BuckleSupport.any
  CHANGELOG.md
Due: other_tests, Application_tests

Fix initial position for lattissimus wrapping surface
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Use PlanarAngles for MoCap joint drivers
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Update intermediate joint angle files
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
Due: other_tests, Application_tests

Robust mocap drivers (#778)
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Corrections to the lumbar IVD disc stiffness behavior (symmetry for LB, polynomial order changed)
  Body/AAUHuman/Trunk/DiscStiffness.any
  CHANGELOG.md
Due: other_tests, Application_tests

Corrections to the lumbar IVD disc stiffness behavior (symmetry for LB, polynomial order changed) (#775)
  Body/AAUHuman/Trunk/DiscStiffness.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update versions and changelog
  AMMR.version.any
  CHANGELOG.md
Due: none

This PR implements the same initial guess for the wrapping path of pectralis major ans pectoralis clavicular
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

This PR implements the same initial guess for the wrapping (#779)
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix speed regresssion due to bilateral recruited actuator
  Body/AAUHuman/Trunk/BuckleSupport.any
Due: other_tests, Application_tests

New muscles (#119)
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Body/AAUHuman/Trunk/muscle-parameters-trunk-simple.any
  Body/AAUHuman/Trunk/muscle-parameters-trunk.any
Due: other_tests, Application_tests

Joint limits in AnyMoCap by default
  Tools/AnyMocap/DefaultJointLimits.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

Add a changelog entry
  CHANGELOG.md
Due: none

Move default joint limits after HumanModle include
  Tools/AnyMocap/AnyMocapModel.any
  Tools/AnyMocap/DefaultJointLimits.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

MoCap joint limits (#780)
  CHANGELOG.md
  Tools/AnyMocap/AnyMocapModel.any
  Tools/AnyMocap/DefaultJointLimits.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests

Add github action to visualize the codebase
  .github/workflows/create-diagram.yml
  Docs/README.md
Due: test_docs

Add github action to visualize the codebase (#782)
  .github/workflows/create-diagram.yml
  Docs/README.md
Due: test_docs

Remove inertia from buclke segment
  Body/AAUHuman/Trunk/Buckle.any
Due: other_tests, Application_tests

Don't use bilateral recruited actuators
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
Due: other_tests, Application_tests

Remove inertia from buclke segment (#783)
  Body/AAUHuman/Trunk/Buckle.any
Due: other_tests, Application_tests

Update zenodo information and links
  Docs/about.md
  LICENSE
Due: test_docs

ENH: customize hill type 1 parameter calibration
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceLeft.any
  Body/AAUHuman/LegTLEM/Calibration/CalibrationSequenceRight.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal10.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal11.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal1Mod.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal2Mod.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal6Mod.any
Due: other_tests, Application_tests

ENH: customize knee transversal plane alignment
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Ensure joint muscles also have a volume
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle2.any
Due: other_tests, Application_tests

Add volumes to joint muscles
  Body/AAUHuman/Arm/Jnt.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle2.any
Due: other_tests, Application_tests

Use small volume for recruited actuators
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tools/ModelUtilities/Reactions/SupportMuscle.any
  Tools/ModelUtilities/Reactions/SupportMuscleRot.any
Due: other_tests, Application_tests

Tweak variables which can be overridden to hide/show model elements
  Tools/GRFPrediction/CreateFootNodes.any
  Tools/GRFPrediction/FootPlateConditionalContact.any
Due: other_tests, Application_tests

Start foot interface morphing
  Body/AAUHuman/FootGM/GM_foot.root.any
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

Implement interface morphing in GMfoot, remove GeomScale
  Body/AAUHuman/FootGM/Scaling.any
  Body/AAUHuman/FootGM/Seg.any
Due: other_tests, Application_tests

Backport fix to BM table links
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/bmtable.csv.jinja
  Docs/bm_config/ArmTable.csv
  Docs/bm_config/JointTypeTable.csv
  Docs/bm_config/LegTable.csv
  Docs/bm_config/MannequinTable.csv
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/ScalingTable.csv
  Docs/bm_config/TrunkTable.csv
Due: other_tests, Application_tests, test_docs

Update changelog
  CHANGELOG.md
Due: none

Proff read text on landing page
  Docs/index.md
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
