Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Fix wrapping convergence warning for Semitendinosus1
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

moved ignore_errors statement to AnyPyProcess
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Fix wrapping warnings in Knee simulator
  Application/Examples/KneeSimulator/Input/Parameters_Ligaments.any
  Application/Examples/KneeSimulator/Model/ClassTemplates.any
  Application/Examples/KneeSimulator/Model/Joints.any
  Application/Examples/KneeSimulator/Model/Ligaments.any
Due: other_tests, Application_tests

Update string mesh for Extensor_Digitorum__Digit
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Increase length of Pectoralis Major wrapping cylinder
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/WrapperCyl.any
Due: other_tests, Application_tests

Knee Simulator: Change MaxNewtonStep to fix penetration warning
  Application/Examples/KneeSimulator/Model/DefaultSettings.any
  Application/Examples/KneeSimulator/UserDefinedSettings.any
Due: other_tests, Application_tests

Update test environment variable for wrapping with solver 3
  .github/workflows/test.yml
Due: none

Update README.md
  Docs/README.md
Due: test_docs

Remove unused BM_TRUNK_CERVICAL_LIGAMENTS setting
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
  Docs/bm_config/Substitutions.txt
  Docs/bm_config/TrunkTable.txt
  Docs/bm_config/bm_statements.rst
Due: other_tests, Application_tests, test_docs

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Knee simulator: Fix thickness of medial tibial tray wrapping surface
  Application/Examples/KneeSimulator/Model/Contacts.any
Due: other_tests, Application_tests

Restructuring from include to helper class
  Application/Examples/PedalDemoConditional/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/WheelChairRancho/Model/SupportMuscle.any
  Body/AAUHuman/Arm/GHReactions.any
  Body/AAUHuman/Arm/GloveMuscle.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Body/AAUHuman/Trunk/Buckle.any
  Body/Mandible/NormalMandible_AAU/Jnt.any
  Body/Mandible/SymmetricMandible_AU/Jnt.any
  Tools/GRFPrediction/ContactSurfaceDistanceAndVelocityDepLinPush.any
  Tools/GRFPrediction/WeakResiduals.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle2.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle3.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactLinPull.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactLinPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRot.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRotPull.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRotPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactSurfaceLinPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactSurfaceLinPushTrigger.any
  Tools/ModelUtilities/Mocap/ArtificialMuscleConnection.any
  Tools/ModelUtilities/Reactions/SupportMuscle.any
  Tools/ModelUtilities/Reactions/SupportMuscleRot.any
  Tools/ModelUtilities/ZeroMetabolicMdl.any
Due: other_tests, Application_tests

Add separate wrapping ellipsoid to triceps at the humeral head
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Move triceps LH origins closer to scapula
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
Due: other_tests, Application_tests

Update Triceps LH wrapping at scapula and glenohumeral head
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Triceps shoulder wrapping. Decrease radius of humerus wrapping sphere
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Changelog entry for PR #519
  CHANGELOG.txt
Due: test_docs

Fix expected error now that DEV-1447 is fixed
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Update Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
Due: other_tests, Application_tests

Fix wrong outputs of Interface.ThoraxHumerus measures.
  Body/AAUHuman/Arm/Interface.any
Due: other_tests, Application_tests

Improve the shoulder rhythm
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/ShoulderRhythm.any
Due: other_tests, Application_tests

Add test model for shoulder
  Tests/ShoulderTestModel/BodyModelConfiguration.any
  Tests/ShoulderTestModel/Environment.any
  Tests/ShoulderTestModel/JointsAndDrivers.any
  Tests/ShoulderTestModel/JointsAndDrivers2.any
  Tests/ShoulderTestModel/LeftFootDrivers.any
  Tests/ShoulderTestModel/Main.any
  Tests/ShoulderTestModel/Mannequin.any
  Tests/ShoulderTestModel/RightFootDrivers.any
  Tests/ShoulderTestModel/RunAppSequence.any
  Tests/ShoulderTestModel/test_ShoulderTestModel.main.any
Due: other_tests, Application_tests

Fix small typo in helper class template documentation
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
Due: other_tests, Application_tests

Fix load problem in test model
  Tests/ShoulderTestModel/test_ShoulderTestModel.main.any
Due: other_tests, Application_tests

Fix "shoulder rhythm exclude" in calibration studies
  Body/AAUHuman/Arm/Calibration/ExcludeShoulderRhythm.any
Due: other_tests, Application_tests

Fix test failure due to Gimbal lock warning
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Shoulder rhythm should be excluded differently in Calibration studies now.
  Body/AAUHuman/Arm/Calibration/ExcludeShoulderRhythm.any
Due: other_tests, Application_tests

Remove AnyBody73_ExperimentalShortestPathSolver setting since new wrapping is default in AMS 7.3.1
  Application/libdef.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.txt
Due: test_docs

Update version info
  AMMR.version.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  Docs/conf.py
  Tools/Templates/libdef.any
Due: other_tests, Application_tests, test_docs

Update deltoid posterior wrapping surfaces to prevent penetration in overhead arm postures
  Body/AAUHuman/Arm/DeltoidWrap.any
Due: other_tests, Application_tests

clean up
  Body/AAUHuman/Arm/DeltoidWrap.any
Due: other_tests, Application_tests

Prevent "Gimbal lock" warning from failing tests
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Fix docs build to include the last tagged commit
  .github/workflows/ammr-doc.yaml
Due: none

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Update CI labels for github actions
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none
