Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%




test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Rollback change to teres major
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

fix typo in changelog
  CHANGELOG.txt
Due: test_docs

Change pushup model posture to something more realistic
  Application/Examples/PushUp/Model/BodyModelConfiguration.any
  Application/Examples/PushUp/Model/Environment.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Mannequin.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Remove AngVelOnOff=On in AnyKinRotational used by drivers
  Application/Examples/AirlinePassenger/Model/Environment.any
  Application/Examples/AirlinePassenger/Model/JointsAndDrivers.any
  Application/Examples/ArmCurl/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Environment.any
  Application/Examples/SeatedHuman/Model/Environment.any
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Environment.any
  Application/Examples/SeatedHumanFullWithNeck/Model/JointsAndDrivers.any
  Application/Examples/SeatedHumanFullWithNeck/Model/LumbarRhythm.any
  Application/Examples/ShoulderBag/Model/LeftLegDrivers.any
  Application/Examples/ShoulderBag/Model/LeftLegTDDrivers.any
  Application/Examples/ShoulderBag/Model/RightLegDrivers.any
  Application/Examples/ShoulderBag/Model/RightLegTDDrivers.any
  Application/Examples/StandingModel/Model/LeftFootDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftFootDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftLegDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftLegTDDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightFootDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightLegDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightLegTDDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/LeftLegDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/LeftLegTDDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/RightLegDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/RightLegTDDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStanding/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/JointsAndDrivers.any
  Body/AAUHuman/Trunk/JointsCervical.any
  Docs/_static/Cool_Guy/cool_guy/Model/LeftFootDrivers.any
  Docs/_static/Cool_Guy/cool_guy/Model/RightFootDrivers.any
  Tests/ShoulderTestModel/LeftFootDrivers.any
  Tests/ShoulderTestModel/RightFootDrivers.any
  Tools/Templates/Human Standing/Model/LeftFootDrivers.any
Due: other_tests, Application_tests, test_docs

Remove AngVelOnOff in Pushup model
  Application/Examples/PushUp/Model/Environment.any
Due: other_tests, Application_tests

register slow test marker with pytest
  pytest.ini
Due: none

Fix typo in latisimus dorsi distribution factors
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Update arm muscle parameters with new values generate from spreed sheet
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-const_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple_old.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder2.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder_old.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/SubjectMusPar.any
  Body/AAUHuman/Arm/sternocleidomastoid.any
  Body/AAUHuman/BodyModels/GenericBodyModel/MuscleModelParameter.ClassTemplate.any
Due: other_tests, Application_tests

Increase siginificant digets for arm parameters
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Update arm muscle parameters with values from spreadsheet
  Body/AAUHuman/Arm/ArmData1.1/ArmModelMuscleParameters.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
Due: other_tests, Application_tests

Fix test failure full body MocCap
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix test failures
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Disable wrapping warning for pect major in full body mocap test
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

Fix body model hash, to avoid warning on load
  AMMR.version.any
Due: none

Update version and date in docs
  CHANGELOG.txt
  Docs/about.rst
  Docs/conf.py
Due: test_docs

Fix build for sphinx >= 2.0
  Docs/_static/custom.css
Due: test_docs

Disable autos.StartView feature in SpineFixationWithForceDepKinematics
  Application/Examples/SpineFixationWithForceDepKinematics/Model/SpineDeviceProject.any
Due: other_tests, Application_tests

Make body model hash consistent across filesystems
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
Due: other_tests, Application_tests

changes for ANSURCompiler before rerun
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/LegTLEM/StandardParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelSegmentParameters.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/StandardParameters.any
  Body/AAUHuman/Trunk/TrunkData1.1/ModelParameters.any
Due: other_tests, Application_tests

Ensure is_file_writeable() function can not raise an exception.
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
Due: other_tests, Application_tests

Update body hash
  AMMR.version.any
Due: none

Update ammr checks
  AMMR.version.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-checks.py
Due: other_tests, Application_tests

Update version info and prepare ammr 2.3 beta
  AMMR.version.any
  CHANGELOG.txt
Due: test_docs

Remove ROM condition for joint muscles
  Application/MocapExamples/Plug-in-gait_Simple/Setup/BodyModelConfigFullBody.any
  Body/AAUHuman/Arm/JointMuscles.any
  Body/AAUHuman/Arm/JointMuscles_arm.any
  Body/AAUHuman/Leg/JointMuscles.any
  Body/AAUHuman/Leg/JointMuscles_leg.any
  Body/AAUHuman/LegTLEM/JointMuscles.any
  Body/AAUHuman/LegTLEM/JointMuscles_leg.any
  Body/AAUHuman/Trunk/JointMusclesCervical.any
  Body/AAUHuman/Trunk/JointMusclesLumbar.any
Due: other_tests, Application_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Ensure acceleration in MoCap is correct
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Update versions
  AMMR.version.any
Due: none

Update changelog
  CHANGELOG.txt
Due: test_docs

Add example of muscle volume weighting
  Application/MocapExamples/Plug-in-gait_Simple/LowerExtremity.main.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/MusWeight.any
Due: other_tests, Application_tests

Add example of muscle volume weighting
  Application/Examples/VolumeRecruitment/HookTLEMMuscles.any
  Application/Examples/VolumeRecruitment/VolumeRecruitment.main.any
  Application/MocapExamples/Plug-in-gait_Simple/LowerExtremity.main.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/MusWeight.any
Due: other_tests, Application_tests

Fix test failure
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

Update ModelParameters.any
  Body/AAUHuman/Trunk/TrunkData1.1/ModelParameters.any
Due: other_tests, Application_tests

text edits
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelSegmentParameters.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/TrunkData1.1/ModelParameters.any
Due: other_tests, Application_tests

changes to necklength (now vertical distance)
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/Trunk/TrunkData1.1/ModelParameters.any
Due: other_tests, Application_tests

added AnyVar HeightStandard and AnyVar WidthStandard to foot node in TLEM1.2/ModelSegmentParameters.any to resolve test errors
  Body/AAUHuman/LegTLEM/TLEM1.2/ModelSegmentParameters.any
Due: other_tests, Application_tests

Add changelog
  CHANGELOG.txt
Due: test_docs
