Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Shank patella mass scaling (#831)
  Body/AAUHuman/Leg/StandardParameters.any
  Body/AAUHuman/Scaling/ScalingLengthMass.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingLengthMassFatModified.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
  CHANGELOG.md
Due: other_tests, Application_tests

Symmestry check : Update of the temporary hack to enforce evaluation moment for Obj2Num(..) expressions. This version forces RuntimeVar, which is needed here. (#832)
  Tests/Symmetry/DynamicTest/Model/MuscleSymmetryCheck.any
Due: other_tests, Application_tests

SelectedOutput : Temporary hack to enforce RuntimeVar evaluation moments for muscle-activity envelopes
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkMuscleActivityEnvelope.any
Due: other_tests, Application_tests

Update Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
Due: other_tests, Application_tests

Fix to typos in previous commits
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
Due: other_tests, Application_tests

SelectedOutput with temporary RuntimeVar hack (#833)
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkMuscleActivityEnvelope.any
Due: other_tests, Application_tests

Don't trigger version error for compare test branch
  AMMR.version.any
Due: none

Switch off reaction for subtalar joint driver
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

GH Abduction Driver left was mistakenly using external rotation velocity value instead of abduction value
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

Add release notes
  CHANGELOG.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
Due: test_docs

Seated human bug fix (#834)
  Application/Examples/SeatedHuman/Model/JointsAndDrivers.any
  CHANGELOG.md
  Docs/Applications/Daily-activities-and-ergonomics/SeatedHuman.md
Due: other_tests, Application_tests, test_docs

Use new flag for 7.5 update engine check
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
Due: other_tests, Application_tests

Better start guess for the posture prediction example
  Application/Examples/StandingPosturePredictionWithLoad/StandingPosturePrediction.main.any
Due: other_tests, Application_tests

Better start guess for the posture prediction example (#836)
  Application/Examples/StandingPosturePredictionWithLoad/StandingPosturePrediction.main.any
Due: other_tests, Application_tests

Use new flag for 7.5 update engine check (#835)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
Due: other_tests, Application_tests

Add test durations file for pytest-split
  Tests/.test_durations
  Tests/test-environment.yml
Due: other_tests, Application_tests

Split tests across multiple runners
  .github/workflows/test.yml
Due: none

Remove dependency delay hacks
  Tests/Thoracic/test_trunk_load_pos.any
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
  Tools/AnyMocap/ForcePlates/ForcePlateTypes.any
Due: other_tests, Application_tests

remove aRuntimeVar hack
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/LegTLEM/RightLegSelectedOutput.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkMuscleActivityEnvelope.any
  Tests/Symmetry/DynamicTest/Model/MuscleSymmetryCheck.any
Due: other_tests, Application_tests

run tests inside test folder
  .github/workflows/test.yml
Due: none

iter
  .github/workflows/test.yml
Due: none

Use least duration test splitting algorithm
  .github/workflows/test.yml
Due: none

Split tests in more groups
  .github/workflows/test.yml
Due: none

tweak xdist scheduler
  .github/workflows/test.yml
Due: none

match groups number
  .github/workflows/test.yml
Due: none

Update micromamba
  .github/actions/setup-micromamba/action.yml
Due: none

Split tests across multiple runners (#837)
  .github/actions/setup-micromamba/action.yml
  .github/workflows/test.yml
  Tests/.test_durations
  Tests/test-environment.yml
  Tools/ModelUtilities/DrawObjects/box.anysurf3
Due: other_tests, Application_tests

Skip install dir libdef if we don't need it
  Tools/Templates/libdef.any
Due: other_tests, Application_tests

Remove unneeded pytest plugins
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_ADL_Gait_standing-ref.any
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/Applications/test_KneeSimulator.any
  Tests/test-environment.yml
Due: other_tests, Application_tests

Remove unneeded pytest plugins (#839)
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/AnyMocap/Test_ADL_Gait_standing-ref.any
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_lowerbody.any
  Tests/Applications/test_KneeSimulator.any
  Tests/test-environment.yml
Due: other_tests, Application_tests

Remove one stray pytest.order mark
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Remove Marker Tracking as initial condition for Inverse dynamics
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Split some of the slower tests into more steps
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Tests/AnyMocap/Test_ADL_Gait_InversDynamics.any
  Tests/AnyMocap/Test_ADL_Gait_MarkerTracking.any
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_MarkerTracking.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_load-only.any
Due: other_tests, Application_tests

Fix more tests
  Tests/AnyMocap/Test_ADL_Gait_standing-ref.any
  Tests/AnyMocap/Test_FullBodyGRF-Plug-in-gait.any
Due: other_tests, Application_tests

Deactivate BVH optimization test which have rotations
  Tests/AnyMocap/Test_BVH_OptimizeOrigin.any
Due: other_tests, Application_tests

Add joint angle files for tests
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-left_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-right_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-trunk-full.txt
Due: other_tests, Application_tests

fix tests
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_InverseDynamics.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_ParamID.any
Due: other_tests, Application_tests
