Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

feat: `opt` key for all Switches (#81)
  Body/AAUHuman/bm-parameters.toml
Due: other_tests, Application_tests

feat: Update Force plate template to always include COP calcuated from data
  Tools/AnyMocap/ForcePlates/ContactDetection.any
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

feat: add option to set force_treshold in calculation of COP
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

Feat: Allow overwriting contact reaction strength in plates
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

Make all line endings in any files CRLF, strip newlines and
  .editorconfig
  .gitattributes
  Docs/.gitattributes
Due: test_docs

Create anyscript files with crlf newline
  Body/AAUHuman/BuildTools/render_templates.py
Due: other_tests, Application_tests

Update from PR suggestions
  .editorconfig
  .gitattributes
Due: none

feat: Add rhythm overview image to documentation
  Docs/body/_static/rhythm-overview.png
Due: test_docs

feat: Add sternum segment options for model configuration (#82)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

feat: add redirect page for AMMR documentation
  Documentation/index.html
Due: none

feat: add redirect page for AMMR documentation (#1045)
  Documentation/index.html
Due: none

fix: wrong path to documentation folder
  libdef.any
Due: none

Add new best practices documentation page.
  Docs/_static/best-practices-libdef.png
  Docs/ammr_best_practices.md
  Docs/ammr_installation.md
  Docs/getting_started.md
Due: test_docs

Update Docs/ammr_best_practices.md
  Docs/ammr_best_practices.md
Due: test_docs

Apply code suggestion Docs/ammr_best_practices.md
  Docs/ammr_best_practices.md
Due: test_docs

Apply code suggestion
  Docs/ammr_best_practices.md
Due: test_docs

Fix typo
  Docs/Applications/Orthopedics_and_rehab/KneeForcesExample.md
Due: test_docs

Improve clarity and formatting in best practices documentation
  Docs/ammr_best_practices.md
Due: test_docs

docs: Add new best practices documentation page. (#1046)
  Docs/Applications/Orthopedics_and_rehab/KneeForcesExample.md
  Docs/_static/best-practices-libdef.png
  Docs/ammr_best_practices.md
  Docs/ammr_installation.md
  Docs/getting_started.md
Due: test_docs

fix: Force the use of AnyPyTools 1.15.3
  pixi.lock
  pixi.toml
Due: none

Fix: force the use of AnyPyTools 1.15.4
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
  Body/AAUHuman/BuildTools/create_BM_lists.py
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  pixi.lock
  pixi.toml
  process_any_files.py
Due: other_tests, Application_tests, test_docs

docs: updates to foot model doc pages (#84)
  Docs/Applications/Beta/Plug-in-gait_Simple_ToeFlexion.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/conf.py
  pixi.lock
  pixi.toml
Due: test_docs

Update anypytools version
  pixi.lock
  pixi.toml
Due: none

Revert accidentally push of temp files
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
  Body/AAUHuman/BuildTools/create_BM_lists.py
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  process_any_files.py
Due: other_tests, Application_tests, test_docs

Update to use AnyPyTools 1.16
  pixi.lock
  pixi.toml
Due: none

feat: Spine jrf selected outputs thorax (#85)
  Body/AAUHuman/Trunk/JointsThorax.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/SegmentsThoraxIndividual.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Refactor Trunk Jnt Driver implementation to avoid large AnyKinMeasureLinComb
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Update CHANGELOG for AMMR 3.1.2: Enhance kinematic solver stability in marker tracking
  CHANGELOG.md
Due: none

Upate changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(MoCap): Refactor Trunk Joint Driver implementation for MoCap models (#1047)
  CHANGELOG.md
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

hotfix: fix bad merge
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

docs: Spine jrf selected outputs (#86)
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
  Body/AAUHuman/Trunk/TrunkData1.1/CervicalNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
