Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix hardcoded BVH_OBJECT (#901)
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Update standing model to use scalingXYZ
  Application/Examples/StandingModel/Model/BodyModelConfiguration.any
Due: other_tests, Application_tests

ScalyXYZ: Pelvis height now scales with thorax
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
Due: other_tests, Application_tests

Update segment scale factors in DefaultAnthropometrics_xyz.any
  Body/AAUHuman/Scaling/DefaultAnthropometrics_xyz.any
Due: other_tests, Application_tests

Fix typos in variable name
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Update variable name for medio-lateral shear force in TrunkSelectedOutput.any
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

fix typo
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Fix typos in variable name (#902)
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Add model for generating TLEM22 and TLEM21 foot comparison media.
  Docs/body/_static/Surfs24/foot.anysurf3
  Docs/body/_static/Surfs24/talus.anysurf3
  Docs/body/_static/TLEM22_TLEM21_closeup.jpg
  Docs/body/_static/TLEM22_TLEM21_comparison.any
Due: test_docs

Update changelog
  CHANGELOG.md
Due: none

Update comparison media model
  Docs/body/_static/TLEM22_TLEM21_closeup.jpg
  Docs/body/_static/TLEM22_TLEM21_comparison.any
Due: test_docs

update TLEM 22 documentation page
  Docs/body/leg_tlem2_model.md
Due: test_docs

update citations and links to references
  Docs/body/leg_tlem2_model.md
Due: test_docs

Add user agent and update linkcheck_ignore list
  Docs/conf.py
Due: test_docs

Update citation link in leg_tlem2_model.md
  Docs/body/leg_tlem2_model.md
  Docs/conf.py
Due: test_docs

Add user agent for link check
  Docs/conf.py
Due: test_docs

Commit rotating video comparing TLEM 2.1 and 2.2
  Docs/body/_static/TLEM22_TLEM21_rotating_model.mp4
Due: test_docs

Update TLEM2 doc page header video with TLEM v2.2 model
  Docs/body/_static/TLEM2_rotating_model.mp4
Due: test_docs

Add extra camera views in the model: front, top, side and also zoomed in on foot.
  Docs/body/_static/TLEM22_TLEM21_comparison.any
Due: test_docs

Update and revise changelog
  CHANGELOG.md
Due: none

Fix deprecation warning in pytest.ini
  Tests/pytest.ini
Due: other_tests, Application_tests

Fix deprecation warning in pytest.ini (#906)
  Tests/pytest.ini
Due: other_tests, Application_tests

Remove outdated links in conf.py
  Docs/conf.py
Due: test_docs

Update linkcheck URL pattern and add linkcheck task to pixi.toml
  Docs/conf.py
  Docs/pixi.toml
Due: test_docs

Fix download link regex in conf.py
  Docs/conf.py
Due: test_docs

Update and revise changelog (#905)
  CHANGELOG.md
  Docs/conf.py
  Docs/pixi.toml
Due: test_docs

Tlem22 doc (#903)
  CHANGELOG.md
  Docs/body/_static/Surfs24/foot.anysurf3
  Docs/body/_static/Surfs24/talus.anysurf3
  Docs/body/_static/TLEM22_TLEM21_closeup.jpg
  Docs/body/_static/TLEM22_TLEM21_comparison.any
  Docs/body/_static/TLEM22_TLEM21_rotating_model.mp4
  Docs/body/_static/TLEM2_rotating_model.mp4
  Docs/body/leg_tlem2_model.md
  Docs/conf.py
Due: test_docs

Update AMMR 2.4.4 Talus compatibility frame to Talus in AMMR 3.0
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update AMMR 2.4.4 Talus compatibility frame to Talus in AMMR 3.0 (#907)
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update dependencies in pixi.toml file
  Docs/conf.py
  Docs/pixi.toml
Due: test_docs

Update configuration settings in Docs
  Docs/conf.py
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

Update sphinx theme used in documentation build (#908)
  Docs/conf.py
  Docs/pixi.lock
  Docs/pixi.toml
Due: test_docs

Define all pixi envs in one file
  Docs/pixi.lock
  Docs/pixi.toml
  pixi.toml
Due: test_docs

Use separate ARel values for left and right talus compatibility frame
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Talus comp frame in ammr30 (#909)
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update dependencies in pixi.toml file
  pixi.lock
  pixi.toml
Due: none

Update lock file
  pixi.lock
Due: none

Add error expectation for extrapolations in test_WheelChairRancho.any
  Tests/Applications/test_WheelChairRancho.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
