Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

fix latisimus
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

fix build warning
  CHANGELOG.md
Due: none

feat: Optimize string mesh implementation to speed up wrapping algorithm (#1099)
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/Trunk/PsoasMajorLeft.any
  Body/AAUHuman/Trunk/PsoasMajorRight.any
  CHANGELOG.md
Due: other_tests, Application_tests

hotfix: fix string mesh number
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

feat: Optimize string mesh handling in muscle definitions (#134)
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/Trunk/PsoasMajorLeft.any
  Body/AAUHuman/Trunk/PsoasMajorRight.any
  libdef.any
Due: other_tests, Application_tests

fix: Revert changes to ExtraDrivers.any from PR #121 (#132)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/S1_FlywheelSquat/TrialSpecificData.any
Due: other_tests, Application_tests

update two links to new tutorial structure
  Docs/anymocap/index.md
  Docs/creating_model_from_scratch.md
Due: test_docs

feat: Add no-image-click class to enhance button interaction in documentation
  Docs/Applications/index.md
  Docs/_static/custom.css
  Docs/index.md
Due: test_docs

feat: Add no-image-click class to enhance button interaction in documentation (#1103)
  Docs/Applications/index.md
  Docs/_static/custom.css
  Docs/index.md
Due: test_docs

Ensure psoas is always included even if no muscles on trunk
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceLeft.any
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceRight.any
Due: other_tests, Application_tests

Ensure psoas is always included even if no muscles on trunk (#1104)
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceLeft.any
  Body/AAUHuman/LegTLEM/EvaluateJointStrengthSequenceRight.any
Due: other_tests, Application_tests

fix: only use FDL dummy segment when it is necessary (#137)
  Body/AAUHuman/FootGM/Mus.any
  Body/AAUHuman/FootGM/MusControlSeg.any
Due: other_tests, Application_tests

fix: Ensure consistent guards around ankle/subtalar drivers in calibration… (#138)
  Body/AAUHuman/LegTLEM/Calibration/AnkleMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/FullLegCal.any
  Body/AAUHuman/LegTLEM/Calibration/GastrocnemiusCal.any
  Body/AAUHuman/LegTLEM/Calibration/GluteusMaximusCal.any
  Body/AAUHuman/LegTLEM/Calibration/HamstringCal.any
  Body/AAUHuman/LegTLEM/Calibration/HipFlexorCal.any
  Body/AAUHuman/LegTLEM/Calibration/HipMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/KneeMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal1.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal2.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal3.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal4.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal5.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal6.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal7.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal8.any
  Body/AAUHuman/LegTLEM/Calibration/LongAdductorCal.any
  Body/AAUHuman/LegTLEM/Calibration/OuterHipCal.any
  Body/AAUHuman/LegTLEM/Calibration/PeronealCal.any
  Body/AAUHuman/LegTLEM/Calibration/PiriformisCal.any
  Body/AAUHuman/LegTLEM/Calibration/QuadricepsCal.any
  Body/AAUHuman/LegTLEM/Calibration/ShinCal.any
  Body/AAUHuman/LegTLEM/Calibration/ShortAdductorCal.any
  Body/AAUHuman/LegTLEM/Calibration/SoleusCal.any
  Body/AAUHuman/LegTLEM/Calibration/StretchFullLegCal.any
Due: other_tests, Application_tests

feat: Refactor float min/max definitions for improved compatibility
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

feat: Refactor float min/max definitions for improved compatibility (#1105)
  Tools/AnyMocap/InterpolateJointAngleData.any
Due: other_tests, Application_tests

Upgrade python/pixi dependencies
  pixi.lock
  pixi.toml
Due: none

Upgrade python/pixi dependencies (#1106)
  pixi.lock
  pixi.toml
Due: none

fix: change the ROM for the pushup model to prevent overloaded muscles
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Mannequin.any
Due: other_tests, Application_tests

fix: change the ROM for the pushup model to prevent overloaded muscles (#1107)
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Mannequin.any
Due: other_tests, Application_tests

PushUp Model: Nicer model/movement input, slower movement (1.5s for pushup) which allows it to go much further without overloading
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/PushUp.main.any
Due: other_tests, Application_tests

PushUp Model: Improved text added in previous commit
  Application/Examples/PushUp/PushUp.main.any
Due: other_tests, Application_tests

Update Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

Update Application/Examples/PushUp/PushUp.main.any
  Application/Examples/PushUp/PushUp.main.any
Due: other_tests, Application_tests

PushUp Model: More code cleaning/formatting
  Application/Examples/PushUp/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

feat(PushUp Model): Nicer model/movement input, slower movement (1.5s for p… (#1108)
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/PushUp.main.any
Due: other_tests, Application_tests

fix(xsens mocap): Ensure head markers scale since they are placed directly in the head coordinate system.
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

fix(xsens mocap): Adjust scaling files to match updated protocol
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CalculateSegmentDimensionsFromBVH.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

fix: test_helper_template fixed a dimensions mismatch in test data
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

fix: test_helper_template fixed a dimensions mismatch in test data (#1111)
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

hotfix(pushup example):Fix issues due to merge
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Mannequin.any
Due: other_tests, Application_tests

fix: Two cases of dimension mismatch not allowed by AnyBody 8.2 (#139)
  Body/AAUHuman/FootGM/LigDriver.any
Due: other_tests, Application_tests

fix(xsens mocap): Better scaling to different person sizes (#1110)
  Application/MocapExamples/BVH_BoxLift/Model/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CalculateSegmentDimensionsFromBVH.any
  CHANGELOG.md
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

chore: Update nightly-tests.yml
  .github/workflows/nightly-tests.yml
Due: none

chore: Update nightly-tests.yml (#1112)
  .github/workflows/nightly-tests.yml
Due: none

chore: Update nightly-tests.yml (#140)
  .github/workflows/nightly-tests.yml
Due: none

test: Update AMS used in CI tests
  pixi.lock
  pixi.toml
Due: none

test: Update AMS used in CI tests (#1113)
  pixi.lock
  pixi.toml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
