Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update changelog
  CHANGELOG.txt
Due: test_docs

Actions CI: Always run both wrapping tests
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

ADL Gait: Fix test failure due to missing anyset file
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_ST.anyset
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs

Update RUHM mocap example
  Application/MocapExamples/Plug-in-Hand-RUHM/RUHMHand.main.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-Hand-RUHM/libdef.any
Due: other_tests, Application_tests

Add initial draf for RUHM documentation
  Docs/body/detailed_hand_model.rst
  Docs/body/models.rst
  Docs/body/regensburg_ulm_hand_model.rst
Due: test_docs

Import from: 0c8c3da732900f2f339810fb9c90092a29d7671f
  Body/AAUHuman/Arm/ArmData1.2/ArmModelParameters.any
  Body/AAUHuman/Arm/HandmuscleRUHM.any
  Body/AAUHuman/Arm/HandmuscleRUHMVia.any
  Body/AAUHuman/Arm/HandmuscleRUHMVia_Detailed.any
  Body/AAUHuman/Arm/HandmuscleRUHM_Detailed.any
  Body/AAUHuman/Arm/Parameter_ExtrinsicThumb.any
  Body/AAUHuman/Arm/Thumbmuscle.any
  Body/AAUHuman/Arm/ThumbmuscleVia.any
  Body/AAUHuman/Arm/ThumbmuscleVia_Detailed.any
  Body/AAUHuman/Arm/Thumbmuscle_Detailed.any
Due: other_tests, Application_tests

Fix small typo in GRFPrediction.any
  Application/Examples/StandingModel/Model/GRFPrediction.any
Due: other_tests, Application_tests

Add left/right guards on both forceplates
  Application/Examples/StandingModel/Model/GRFPrediction.any
Due: other_tests, Application_tests

Rename hand example
  Application/Examples/StandingModel/Model/BodyModelConfiguration.any
  Application/MocapExamples/HandProtocol/Input/DetailedHand.c3d
  Application/MocapExamples/HandProtocol/RUHMHand.main.any
  Application/MocapExamples/HandProtocol/Setup/BodyModelConfig.any
  Application/MocapExamples/HandProtocol/Setup/C3DSettings.any
  Application/MocapExamples/HandProtocol/Setup/ExtraDrivers.any
  Application/MocapExamples/HandProtocol/Setup/LabSpecificData.any
  Application/MocapExamples/HandProtocol/Setup/MarkerProtocolDetailedHand.any
  Application/MocapExamples/HandProtocol/Setup/SubjectSpecificData_DetailedHand.any
  Application/MocapExamples/HandProtocol/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/HandProtocol/libdef.any
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_LowerExtremity.py
Due: other_tests, Application_tests, test_docs

Add problem matcher to show rst build problems in github
  .github/workflows/ammr-doc.yaml
Due: none

RUHM: Fixed ref nodes picking up wrong scaling functions.
  Body/AAUHuman/Hand/HandData/RUHM/Finger1.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger2.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5.any
Due: other_tests, Application_tests

Update RUHM hand bone files with fixed geometry
  Body/AAUHuman/Hand/HandData/STL/Plzen-Carpals.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx1.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx3.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx4.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-DistalPhalanx5.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase1.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase3.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase4.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MetacarpalBase5.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MiddlePhalanx2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MiddlePhalanx3.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MiddlePhalanx4.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-MiddlePhalanx5.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx1.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx2.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx3.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx4.anysurf3
  Body/AAUHuman/Hand/HandData/STL/Plzen-ProximalPhalanx5.anysurf3
Due: other_tests, Application_tests

persist empty folder
  Application/MocapExamples/HandProtocol/Output/tmp/.gitkeep
Due: other_tests, Application_tests

Fix bug with XYZ scaling and no legs
  Body/AAUHuman/Leg/StandardParameters.any
Due: other_tests, Application_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Add test case for XYZ scaling
  Tests/BM combinations/test_bm_bodypart.any
Due: other_tests, Application_tests

Add github ci action to cancel redundant jobs
  .github/workflows/cancel-jobs.yml
Due: none

Fixed bug with wrong side input in FreePosture
  Application/Examples/FreePosture/Model/InterpolationDrivers/LeftArmDrivers.any
Due: other_tests, Application_tests

Update RightArmDrivers.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/RightArmDrivers.any
Due: other_tests, Application_tests

Fixed the load-time position of the head segment
  Body/AAUHuman/Trunk/SegmentsThorax.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

remove unused muscle models from trunk
  Body/AAUHuman/Trunk/MuscleParametersCervicalSpineSimpleLeft.any
  Body/AAUHuman/Trunk/MuscleParametersCervicalSpineSimpleRight.any
Due: other_tests, Application_tests

split mus and mus mdl into two
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
  Body/AAUHuman/Arm/Muscle-parameters-shoulder.any
  Body/AAUHuman/Arm/sternocleidomastoid.any
Due: other_tests, Application_tests

add changelog msg
  CHANGELOG.txt
Due: test_docs

rename in test file
  Body/AAUHuman/Arm/armmuscles_for_output.any
Due: other_tests, Application_tests

fix strength of mus mdls
  Body/AAUHuman/Arm/Muscle-parameters-shoulder-simple.any
Due: other_tests, Application_tests

Update references to RectusAbdominis in moment arms studies
  Body/AAUHuman/Trunk/EvaluateMomentArmsStudy.any
Due: other_tests, Application_tests

Remove deprecated BVH example
  Application/MocapExamples/BVH_Xsens_deprecated/BVHSettings.any
  Application/MocapExamples/BVH_Xsens_deprecated/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens_deprecated/C3DSettings.any
  Application/MocapExamples/BVH_Xsens_deprecated/CalculateSegmentDimensionsFromBVH.any
  Application/MocapExamples/BVH_Xsens_deprecated/ExtraDrivers.any
  Application/MocapExamples/BVH_Xsens_deprecated/ForcePlates.any
  Application/MocapExamples/BVH_Xsens_deprecated/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_deprecated/Output/.gitkeep
  Application/MocapExamples/BVH_Xsens_deprecated/Output/BVH01_BVH_Trajectories.anyset
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/BVH01.bvh
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/Main.any
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/BVH01/TrialSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/Trials/SubjectSpecificData.any
  Application/MocapExamples/BVH_Xsens_deprecated/libdef.any
Due: other_tests, Application_tests

Remove deprecated BVH functionality
  Application/MocapExamples/BVH_Xsens/BVHSettings.any
  Application/MocapExamples/BVH_Xsens/libdef.any
  Docs/Applications/Mocap/plot_BVH.py
  Tools/AnyMocap/BVH_ModelPreprocess.any
  Tools/AnyMocap/ClassTemplates.any
  Tools/AnyMocap/CreateMarkerDriverClass_future_7.3.any
  Tools/AnyMocap/ModelSetup.any
Due: other_tests, Application_tests, test_docs

Use AnyVirtualMarkerBVH to define the BVH marker names.
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Update CreateMarkerDriverClass.any with 7.3 BVH functionality
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Add explicit test environment to CI workflow
  .github/workflows/test.yml
  Tests/test-environment.yml
Due: other_tests, Application_tests

Fix syntax in the test environment yaml file
  Tests/test-environment.yml
Due: other_tests, Application_tests

Add pytest and instafail to test enviroment
  Tests/test-environment.yml
Due: other_tests, Application_tests

Force branch to run with beta version
  .github/workflows/test.yml
Due: none

Remove test for deleted deprecated BVH model
  Tests/AnyMocap/Test_BVH_deprecated.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
