Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

fix: Clean up and Remove the InterLayers and BM_config to enable one of them (#55)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_L1Ribcage.any
  Body/AAUHuman/Trunk/Abdominal/InterLayer_PelvicL5.any
  Body/AAUHuman/Trunk/Abdominal/PointToLineDist.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

feat: Nicer output when encoding videos
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

feat: Update video template to support transparent videos (#1016)
  Application/Examples/ArmCurl/Model/CreateVideo.any
  Application/Examples/BenchPress/Model/CreateVideo.any
  Application/Examples/BikeModel/Model/CreateVideo.any
  Application/Examples/KneeSimulator/Model/CreateVideo.any
  Application/Examples/PushUp/Model/CreateVideo.any
  Application/Examples/SeatedHuman/Model/CreateVideo.any
  Application/Examples/Squat/Model/CreateVideo.any
  Application/Examples/StandingModel/Model/CreateVideo.any
  Application/Examples/WheelChairRancho/Model/CreateVideo.any
  Application/Examples/WheelTurn/Model/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
  Docs/FullHuman_media.any
  Docs/body/_static/CervicalSpine_media.any
  Docs/body/_static/DetailedHand_media.any
  Docs/body/_static/Leg_media.any
  Docs/body/_static/LumbarSpine_media.any
  Docs/body/_static/ShoulderArm_media.any
  Docs/body/_static/TLEM1_media.any
  Docs/body/_static/TLEM22_TLEM21_comparison.any
  Tests/Cameras.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Ensure model can still load in AMS 7.4
  Application/MocapExamples/HandProtocol2/Setup/CreateVideo.any
  Application/MocapExamples/HandProtocol2/Setup/LabSpecificData.any
Due: other_tests, Application_tests

Fixed muscle missing in detailed config
  Body/AAUHuman/Arm/HandMuscles_HAND_MODEL_RUHM.any
  Body/AAUHuman/Arm/Muscle-parameters-RUHM-simple.any
Due: other_tests, Application_tests

Update intermedidate files for adl gait
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-left_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-right_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-trunk-full.txt
Due: other_tests, Application_tests

feat: More updates ADL gait intermediate files (#1024)
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-left_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-euler-right_leg_tlem.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/ADL_Gait_[beta]/Output/2014001_C1_01-rotvec-trunk-full.txt
Due: other_tests, Application_tests

feat: Updates to AMMR guides/tutorials (#1023)
  Docs/FullHuman_media.any
  Docs/_static/HumanModel.png
  Docs/_static/Human_rotating_model.mp4
  Docs/_static/Human_rotating_model.webm
  Docs/_static/Installation-anybodyassistent.png
  Docs/_static/Installation-demo-repo.png
  Docs/ammr_installation.md
  Docs/body/_static/Leg_media.any
  Docs/creating_model_from_scratch.md
  Docs/getting_started.md
  Docs/index.md
Due: test_docs

feat: Bump version to 3.1.0 Beta and update changelog
  AMMR.version.any
  CHANGELOG.md
Due: none

feat: Disable upper bounds for evaluate joint strength studies.
  Body/AAUHuman/Arm/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Leg/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM2.1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

chore(deps): update anybodycon to version 8.1.0beta3 in pixi.lock and pixi.toml
  pixi.lock
  pixi.toml
Due: none

chore(deps): update anybodycon to version 8.1.0beta3 in pixi.lock and pixi.toml (#1028)
  pixi.lock
  pixi.toml
Due: none

feat: Bump version to 3.1.0 Beta and update changelog (#1027)
  AMMR.version.any
  CHANGELOG.md
Due: none

Lower solver tolarance to prevent a odd error when uppper bound is off.
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
Due: other_tests, Application_tests

feat: Disable upper bounds for evaluate joint strength studies. (#1026)
  Body/AAUHuman/Arm/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Leg/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/LegTLEM2.1/EvaluateJointStrengthStudy.any
  Body/AAUHuman/Trunk/EvaluateJointStrengthStudy.any
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

fix: use a default time frame of 0.01 seconds, when nstep is set to 1.
  Tools/AnyMocap/InverseDynamicSettings.any
Due: other_tests, Application_tests

Enable image saving with transparent background
  Tests/Cameras.any
Due: other_tests, Application_tests

Run xyz scaling when saving images from Tests\Applications\test_StandingModelScalingDisplay.any
  Tests/Applications/test_StandingModelScalingDisplay.any
Due: other_tests, Application_tests

Add PIL to test environment so we can run script to save applicaiton images
  pixi.lock
  pixi.toml
Due: none

Run image saving script with conda installed AMS
  Docs/Applications/images/get_application_images.py
Due: test_docs

chore: test with AMS 8.1 beta 4
  pixi.lock
  pixi.toml
Due: none

Roll back dependency updates
  pixi.lock
  pixi.toml
Due: none

chore: test with AMS 8.1 beta 4 (#1030)
  pixi.lock
  pixi.toml
Due: none

fix: Es via nodes layer (#59)
  Application/Examples/DeadLift/Mannequin.any
  Application/Examples/DeadLiftFromTable/Mannequin.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/SpinePressureSeatingRelaxed.main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/SpinePressureSeatingStraitNoSupport.main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureStanding/SpinePressureStanding.Main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/SpinePressureStandingFlexed.Main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/SpinePressureStandingLiftClose.main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/SpinePressureStandingLiftFlexed.main.any
  Application/Validation/FlexibleThorax/DiscPressure/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/SpinePressureStandingLiftStretchedArms.main.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/Abdominal/LayerMuscleNodes.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

fix(test): Correct conditional logic for muscle parameter design variables (#64)
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelMuscleParameters.any
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
Due: other_tests, Application_tests

fix(test): slight adjustment to force tolerance in symmetry test. (#63)
  Tests/Symmetry/DynamicTest/FreePostureFullBodyStatic.Main.any
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
Due: other_tests, Application_tests

fix: Fix muscle lists in calibration study for new muscle component tree (#65)
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
  Body/AAUHuman/Arm/Calibration/ArmCal1.any
  Body/AAUHuman/Arm/Calibration/ArmCal2.any
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal4.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
  Body/AAUHuman/Arm/Calibration/ElbowCal.any
  Body/AAUHuman/Arm/Calibration/ShoulderCal.any
  Body/AAUHuman/Arm/Calibration/SpineDependentCal.any
  Body/AAUHuman/Arm/Calibration/WristCal.any
  Body/AAUHuman/LegTLEM/Calibration/AnkleMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/HipMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/KneeMuscleCal.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal2.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal3.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal5.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal6.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal7.any
  Body/AAUHuman/LegTLEM/Calibration/LegCal8.any
  Body/AAUHuman/Trunk/Calibration/MuscleCalibrationSequence.any
  Body/AAUHuman/Trunk/Calibration/MuscleCalibrationSequence2Par.any
Due: other_tests, Application_tests

fix: Update the positions of the femoral epicondyle nodes with relative to shank in the neutral position.
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

fix: Update the positions of the femoral epicondyle nodes with relative to shank in the neutral position. (#1031)
  Body/AAUHuman/LegTLEM/TLEM2.2/ModelParameters.any
  CHANGELOG.md
Due: other_tests, Application_tests

feat: Enhance shank segment scaling with additional epicondyle parameters and clarify anatomical frame definitions
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

docs: Add changelog entry
  CHANGELOG.md
Due: none

Update Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
