Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Corrected the location of via points of Flexor_Digitorum_Superficialis_Digit3 and 4, Palmaris_Longus, Extensor_Carpi_Radialis_Brevis and Extensor_Digitorum_Digit2 to avoid wrapping surface collisions.
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Corrected the location of via points of Flexor_Digitorum_Superficialis_Digit3 and 4, Palmaris_Longus, Extensor_Carpi_Radialis_Brevis and
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

The via point representing the bicipital groove have been adjusted to ensure the Biceps Caput Longum wraps the humeral head correctly in more extreme range of motions.
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Fix missing symmetry constraint in TibialTorsion MoCap OptimizeAnthropometricsOnOff.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Add option to exclude saving camera settings.
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Remove ContactMuscles support files which were unused.
  Tools/ModelUtilities/ContactMuscles/Contact.any
  Tools/ModelUtilities/ContactMuscles/ContactLin.any
  Tools/ModelUtilities/ContactMuscles/ContactLinAll.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPull.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPull2.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush2.any
  Tools/ModelUtilities/ContactMuscles/ContactLinPush3.any
  Tools/ModelUtilities/ContactMuscles/ContactRot.any
  Tools/ModelUtilities/ContactMuscles/ContactRotPull.any
  Tools/ModelUtilities/ContactMuscles/ContactRotPush.any
  Tools/ModelUtilities/ContactMuscles/ContactX.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix test errors with new AMS 7.3 beta
  Application/Validation/AalborgMandibleValidation/BaseModel/EnvironmentBase.any
Due: other_tests, Application_tests

Fix MULTIPLE_POINT_CONTACT to work with new point-elipsoid distance algorithmn
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/ThoraxScapulaContactPoints.any
  Body/AAUHuman/Trunk/ThoraxScapulaContactRibPoints.any
Due: other_tests, Application_tests

Enable the option for setting visibility of GRF vector
  Tools/GRFPrediction/FootPlateConditionalContact.any
Due: other_tests, Application_tests

Add Rehazenter walking model to application gallery
  Docs/Applications/Mocap/plot_Rehazenter-adult-walking-model.py
  Docs/Applications/images/rahazenter-adult-walking-model.jpg
Due: test_docs

Disable c3d cut warning when no filters are applied
  Tools/AnyMocap/CheckAnyMocapConfiguration.any
Due: other_tests, Application_tests

Update warnings
  Docs/Applications/Mocap/plot_Rehazenter-adult-walking-model.py
Due: test_docs

Fix misspelling
  Docs/Applications/Mocap/plot_Rehazenter-adult-walking-model.py
  Docs/Applications/images/Rehazenter-adult-walking-model.jpg
Due: test_docs

Add test files
  .gitattributes
  .gitignore
  Application/MocapExamples/Rehazenter-adult-walking-model/Output/2014001_ST.anyset
  Tests/AnyMocap/Test_Rehazenter-adult-walking-model.any
  Tests/AnyMocap/Test_Rehazenter-adult-walking-model_standing-ref.any
Due: other_tests, Application_tests

updates
  .gitattributes
  Application/MocapExamples/Rehazenter-adult-walking-model/.gitattributes
  Application/MocapExamples/Rehazenter-adult-walking-model/.gitignore
  Application/MocapExamples/Rehazenter-adult-walking-model/C3DFiles/LICENSE
Due: other_tests, Application_tests

Fix a various formatting and naming
  Body/AAUHuman/Arm/Calibration/ArmCal0.any
  Body/AAUHuman/Arm/Calibration/ArmCal1.any
  Body/AAUHuman/Arm/Calibration/ArmCal2.any
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal4.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
  Body/AAUHuman/Arm/HandmuscleRUHMVia.any
  Body/AAUHuman/Arm/RightArmSimpleMusclesSelectedOutput.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/StandardParameters.any
  Body/AAUHuman/Arm/StandardParametersExt.any
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/DrawSettings.ClassTemplates.any
  Body/AAUHuman/Hand/DrawJointAxisX.any
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/FingerRUHM.any.orig
  Body/AAUHuman/Hand/HandData/RUHM/Finger2.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger2MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5MuscleNodes.any
  Body/AAUHuman/Hand/HandSeg.any
  Body/AAUHuman/Hand/Interface.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Scaling/ScalingNone.any
  notes.txt
Due: other_tests, Application_tests

Add standing model example with RUHM
  Application/Examples/StandingModel_RUHM/Model/BodyModelConfiguration.any
  Application/Examples/StandingModel_RUHM/Model/CachedMuscleCalibration.any
  Application/Examples/StandingModel_RUHM/Model/Description.any
  Application/Examples/StandingModel_RUHM/Model/DrawCoorSystem.any
  Application/Examples/StandingModel_RUHM/Model/DrawSettings.any
  Application/Examples/StandingModel_RUHM/Model/Environment.any
  Application/Examples/StandingModel_RUHM/Model/FingerDriver.any
  Application/Examples/StandingModel_RUHM/Model/HumanModel.any
  Application/Examples/StandingModel_RUHM/Model/JointsAndDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftArmDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftHandDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftHandDriversold.any
  Application/Examples/StandingModel_RUHM/Model/LeftLegDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftLegTDDrivers.any
  Application/Examples/StandingModel_RUHM/Model/Mannequin.any
  Application/Examples/StandingModel_RUHM/Model/MannequinValuesFromModel.any
  Application/Examples/StandingModel_RUHM/Model/MovingCamera.any
  Application/Examples/StandingModel_RUHM/Model/RightArmDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightHandDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightLegDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightLegTDDrivers.any
  Application/Examples/StandingModel_RUHM/Model/TrunkDrivers.any
  Application/Examples/StandingModel_RUHM/StandingModel.Main.any
Due: other_tests, Application_tests

Import from RUHM at ee13e173d
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/HandConfig.any
  Body/AAUHuman/Hand/Finger.any
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger2.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger2MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5MuscleNodes.any
  Body/AAUHuman/Hand/HandData/RUHM/Plzen-HandModelParameters.any
  Body/AAUHuman/Hand/HandSeg.any
  Body/AAUHuman/Hand/ThumbRUHM.any
Due: other_tests, Application_tests

Import from cf46c691f
  Body/AAUHuman/Arm/ArmData1.2/RadiusMuscleGeometry.any
  Body/AAUHuman/Arm/HandmuscleRUHM.any
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Parameter_ExtrinsicCarpi.any
  Body/AAUHuman/Arm/Parameter_ExtrinsicHand.any
  Body/AAUHuman/Arm/RadiusMuscleGeometry.any
  Body/AAUHuman/Arm/Thumbmuscle.any
  Body/AAUHuman/Arm/UlnaMuscleGeometry.any
  Body/AAUHuman/Hand/Calibration/HandCal_right.any
  Body/AAUHuman/Hand/Carpals.anysurf3
  Body/AAUHuman/Hand/DistalPhalanx1.anysurf3
  Body/AAUHuman/Hand/DistalPhalanxBase.anysurf3
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/HandData/RUHM/DorsalTorusPIP_Thumb.any
  Body/AAUHuman/Hand/HandData/RUHM/SkinLigaments.any
  Body/AAUHuman/Hand/MetacarpalBase1.anysurf3
  Body/AAUHuman/Hand/MetacarpalBase2.anysurf3
  Body/AAUHuman/Hand/MetacarpalBase3.anysurf3
  Body/AAUHuman/Hand/MetacarpalBase4.anysurf3
  Body/AAUHuman/Hand/MetacarpalBase5.anysurf3
  Body/AAUHuman/Hand/MiddlePhalanxBase.anysurf3
  Body/AAUHuman/Hand/ProximalPhalanx1.anysurf3
  Body/AAUHuman/Hand/ProximalPhalanxBase.anysurf3
Due: other_tests, Application_tests

revert changesto AnyMan.ClassTemplates.any and BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
Due: other_tests, Application_tests

Back port recent changes to ArmData1.1 to ArmData1.2
  Body/AAUHuman/Arm/ArmData1.2/ArmModelParameters.any
  Body/AAUHuman/Arm/ArmData1.2/HumerusMuscleGeometry.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BM_Plugin.any
Due: other_tests, Application_tests

Add new BM hand model paramters
  Body/AAUHuman/BodyModel.define.xml
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/BuildTools/anyxdefs.bat
  Body/AAUHuman/BuildTools/reST_parameter_tables.xslt
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Docs/bm_config/ArmTable.txt
  Docs/bm_config/HandTable.txt
  Docs/bm_config/Substitutions.txt
  Docs/bm_config/bm_constants.rst
  Docs/bm_config/bm_statements.rst
  Docs/bm_config/hand.rst
  Docs/bm_config/index.rst
  Docs/body/_static/DetailedHand_media.any
  Docs/body/detailed_hand_model.rst
Due: other_tests, Application_tests, test_docs

Remove Clavicula axial rotation driver in example.
  Application/Examples/StandingModel_RUHM/Model/LeftArmDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightArmDrivers.any
Due: other_tests, Application_tests

Fix non RUHM models loading
  Body/AAUHuman/Hand/HandSeg.any
Due: other_tests, Application_tests

Rename CMCDeviation to CMCAbduction.
  Application/Examples/FreePosture/Model/ConstantDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/ConstantDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/InitialPositionValues.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationFunctions.any
  Application/Examples/FreePosture/Model/Mannequin.any
  Application/Examples/FreePosture/Model/MannequinInterpolation.any
  Application/Examples/StandingModel/Model/Mannequin.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftHandDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightHandDrivers.any
  Application/Examples/StandingPosturePredictionWithLoad/Model/Mannequin.any
  Application/Examples/THA-KneeBendDemo/Model/LeftHandDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/Mannequin.any
  Application/Examples/THA-KneeBendDemo/Model/RightHandDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.mannequin.any
  Body/AAUHuman/Hand/Finger.any
  Body/AAUHuman/Hand/Fingerbackup.any
  Body/AAUHuman/Hand/Thumb.any
  CHANGELOG.txt
  Docs/_static/Cool_Guy/cool_guy/Model/Mannequin.any
  Docs/body/_static/DetailedHand_media.any
  Docs/body/detailed_hand_model.rst
  Tests/ShoulderTestModel/Mannequin.any
  Tests/Symmetry/DynamicTest/Model/ConstantDrivers/LeftHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/ConstantDrivers/RightHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InitialPositionValues.any
  Tests/Symmetry/DynamicTest/Model/InterpolationDrivers/LeftHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InterpolationDrivers/RightHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InterpolationFunctions.any
  Tests/Symmetry/DynamicTest/Model/Mannequin.any
  Tests/Symmetry/DynamicTest/Model/MannequinInterpolation.any
  Tools/Templates/Human Standing/Model/Mannequin.any
  Tools/Templates/Human/Model/Mannequin.any
Due: other_tests, Application_tests, test_docs

Rename MCPDeviation to MCPAbuction
  Application/Examples/FreePosture/Model/ConstantDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/ConstantDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/InitialPositionValues.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/LeftHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationDrivers/RightHandDrivers.any
  Application/Examples/FreePosture/Model/InterpolationFunctions.any
  Application/Examples/FreePosture/Model/Mannequin.any
  Application/Examples/FreePosture/Model/MannequinInterpolation.any
  Application/Examples/StandingModel/Model/Mannequin.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftHandDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightHandDrivers.any
  Application/Examples/StandingPosturePredictionWithLoad/Model/Mannequin.any
  Application/Examples/THA-KneeBendDemo/Model/LeftHandDrivers.any
  Application/Examples/THA-KneeBendDemo/Model/Mannequin.any
  Application/Examples/THA-KneeBendDemo/Model/RightHandDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.mannequin.any
  CHANGELOG.txt
  Docs/_static/Cool_Guy/cool_guy/Model/Mannequin.any
  Docs/body/_static/DetailedHand_media.any
  Docs/body/detailed_hand_model.rst
  Tests/ShoulderTestModel/Mannequin.any
  Tests/Symmetry/DynamicTest/Model/ConstantDrivers/LeftHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/ConstantDrivers/RightHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InitialPositionValues.any
  Tests/Symmetry/DynamicTest/Model/InterpolationDrivers/LeftHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InterpolationDrivers/RightHandDrivers.any
  Tests/Symmetry/DynamicTest/Model/InterpolationFunctions.any
  Tests/Symmetry/DynamicTest/Model/Mannequin.any
  Tests/Symmetry/DynamicTest/Model/MannequinInterpolation.any
  Tools/Templates/Human Standing/Model/Mannequin.any
  Tools/Templates/Human/Model/Mannequin.any
Due: other_tests, Application_tests, test_docs

Get old detailed hand working
  Body/AAUHuman/Hand/Finger.any
  Body/AAUHuman/Hand/Thumb.any
Due: other_tests, Application_tests

Add RUHM support to default drivers
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Mannequin.ClassTemplates.any
  Body/AAUHuman/Hand/Interface.any
Due: other_tests, Application_tests

Remove extra RUHM examples which are no longer needed.
  Application/Examples/StandingModel_RUHM/Model/BodyModelConfiguration.any
  Application/Examples/StandingModel_RUHM/Model/CachedMuscleCalibration.any
  Application/Examples/StandingModel_RUHM/Model/Description.any
  Application/Examples/StandingModel_RUHM/Model/DrawCoorSystem.any
  Application/Examples/StandingModel_RUHM/Model/DrawSettings.any
  Application/Examples/StandingModel_RUHM/Model/Environment.any
  Application/Examples/StandingModel_RUHM/Model/FingerDriver.any
  Application/Examples/StandingModel_RUHM/Model/HumanModel.any
  Application/Examples/StandingModel_RUHM/Model/JointsAndDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftArmDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftHandDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftHandDriversold.any
  Application/Examples/StandingModel_RUHM/Model/LeftLegDrivers.any
  Application/Examples/StandingModel_RUHM/Model/LeftLegTDDrivers.any
  Application/Examples/StandingModel_RUHM/Model/Mannequin.any
  Application/Examples/StandingModel_RUHM/Model/MannequinValuesFromModel.any
  Application/Examples/StandingModel_RUHM/Model/MovingCamera.any
  Application/Examples/StandingModel_RUHM/Model/RightArmDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightHandDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightLegDrivers.any
  Application/Examples/StandingModel_RUHM/Model/RightLegTDDrivers.any
  Application/Examples/StandingModel_RUHM/Model/TrunkDrivers.any
  Application/Examples/StandingModel_RUHM/StandingModel.Main.any
  Body/AAUHuman/Hand/HandSegbackup
Due: other_tests, Application_tests

Refactor DIP/PIP finger Rhythm
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
  Body/AAUHuman/Hand/FingerDriver.any
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/Interface.any
Due: other_tests, Application_tests

Remove superflorus file
  Body/AAUHuman/Hand/Fingerbackup.any
Due: other_tests, Application_tests

Refactor Finger STL filename specification
  Body/AAUHuman/Hand/FingerRUHM.any
Due: other_tests, Application_tests

Enable model to load with no Arm muscles
  Body/AAUHuman/Hand/HandData/RUHM/Finger2.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger3.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger4.any
  Body/AAUHuman/Hand/HandData/RUHM/Finger5.any
Due: other_tests, Application_tests

Refactor to make Thumb DIP measure name consistent
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.ClassTemplate.any
  Body/AAUHuman/Hand/Interface.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
