Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Enable FingerRhythm for both old and new detailed hand
  Body/AAUHuman/Hand/FingerRUHM.any
  Body/AAUHuman/Hand/FingerRhythm.any
  Body/AAUHuman/Hand/HandSeg.any
Due: other_tests, Application_tests

Refactor Scaling Laws and AnyMan to be more consistent
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Scaling/ScalingHandUniformLeft.any
  Body/AAUHuman/Scaling/ScalingHandXYZLeft.any
  Body/AAUHuman/Scaling/ScalingHandXYZRight.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat - Kopie.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingUniform_HandModel.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat_HandModel.any
Due: other_tests, Application_tests

Update AnyMoCap joint angles input/output with Hand stuff
  Tools/AnyMocap/ExcludeSoftDrivers.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Add parameter optimization support for detailed hand model
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

fix norm
  Tools/ModelUtilities/EMGProcessing/CreateEMGEnvelope.any
Due: other_tests, Application_tests

add example data
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/.gitkeep
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/2014001/2014001_C1_01.c3d
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/2014001/2014001_ST.c3d
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/How_to_obtain_data.txt
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/LICENSE
Due: other_tests, Application_tests

add github action test
  .github/workflows/test.yml
Due: none

change github actions ci name
  .github/workflows/test.yml
Due: none

Update README.md
  Docs/README.md
Due: test_docs

Exclude CI test for docs folder
  .github/workflows/test.yml
Due: none

Add Github actions docs build
  .github/workflows/ammr-doc.yaml
Due: none

update ci
  .github/workflows/ammr-doc.yaml
Due: none

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: test_docs

Update .gitattributes
  .gitattributes
Due: none

Delete unused Hand Variables in ScalingClass,
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

included MoCap Handmodel Example with exemplary c3d file
  Application/MocapExamples/Plug-in-Hand-RUHM/Input/DetailedHand.c3d
  Application/MocapExamples/Plug-in-Hand-RUHM/RUHMHand.main.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/C3DSettings.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/LabSpecificData.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/MarkerProtocolDetailedHand.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/SubjectSpecificData_DetailedHand.any
  Application/MocapExamples/Plug-in-Hand-RUHM/Setup/TrialSpecificData_FullBody.any
Due: other_tests, Application_tests

add github action CI
  .gitattributes
  .github/workflows/ammr-doc.yaml
  .github/workflows/test.yml
  .gitlab-ci.yml
  Docs/README.md
  Docs/environment.yaml
  Docs/requirements.txt
Due: test_docs

Fix problems with extensions.
  Docs/Applications/ADLs_and_ergonomics/plot_WheelTurn.py
  Docs/conf.py
  Docs/exts/ammr-directives.py
  Docs/exts/sphinx_gallery-0.1.13-py3.6.egg
  Docs/exts/sphinx_gallery-0.7.0.custom.egg
Due: test_docs

Update CI
  .github/workflows/ammr-doc.yaml
  .github/workflows/test.yml
Due: none

Remove references to Gitlab
  Docs/conf.py
  Docs/contribute.rst
  Docs/exts/ammr-directives.py
  LICENSE.txt
Due: test_docs

Split nightly test into separate workflow
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Update names in CI tests
  .github/workflows/ammr-doc.yaml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Move license file together with c3dfiles
  Application/MocapExamples/ADL_Gait (beta)/C3DFiles/2014001/LICENSE
Due: other_tests, Application_tests

Update docs
  CHANGELOG.txt
  Docs/Applications/Mocap/plot_ADL_Gait.py
Due: test_docs

Fix test error with ADL gait
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Add example of muscle volume weighting
  Application/Examples/VolumeRecruitment/HookTLEMMuscles.any
  Application/Examples/VolumeRecruitment/VolumeRecruitment.main.any
  Application/MocapExamples/Plug-in-gait_Simple/LowerExtremity.main.any
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/MusWeight.any
Due: other_tests, Application_tests

Attempt to add torus surfaces to individual ribs for wrapping
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/HumanModel.defs.any
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/RibsWrappingSurfaces.any
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t1.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t10.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t11.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t12.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t2.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t3.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t4.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t5.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t6.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t7.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t8.pp
  Body/AAUHuman/Trunk/RibsWrappingSurfaces/torax_t9.pp
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Tools/ModelUtilities/Python/PickedPointsReader.any
  Tools/ModelUtilities/Python/Utils.any
  Tools/ModelUtilities/Python/pick_points_reader.py
  Tools/ModelUtilities/WrappingSurfaces/TorusTemplates.any
Due: other_tests, Application_tests

Update Body/AAUHuman/Trunk/Disc.any, CHANGELOG.txt files
  Body/AAUHuman/Trunk/Disc.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Fix tests and enable trigger for full tests with a comment
  .github/workflows/nighly-tests.yml
  Application/MocapExamples/ADL_Gait (beta)/Output/.gitkeep
  Application/MocapExamples/ADL_Gait (beta)/libdef.any
Due: other_tests, Application_tests

Update github actions CI to run w/wo new wrapping
  .github/workflows/ammr-doc.yaml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Better name for CI matrix
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Add new rotvec based interface to pelvis rotations
  Body/AAUHuman/Trunk/Interface.any
Due: other_tests, Application_tests

Use rotvec based interface for MoCap joint angle files (input/output)
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Update MoCap trunk joint angle files and rename them
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
Due: other_tests, Application_tests

Update joint angle files
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
Due: other_tests, Application_tests
