Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Add initial take on Applicaiton Documenation for the Max loading example
  Docs/Applications/Validation/EvaluateMaxLoadPlot.png
  Docs/Applications/Validation/EvaluateMaxLoadTemplate.png
  Docs/Applications/Validation/EvaluateMaxLoading.md
Due: test_docs

Create new pelvis.AnatomicalFrameTrunk frame to match rest of trunk anatomical frame
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.MannequinDrivers.any
  Body/AAUHuman/LegTLEM/LegMoments.any
  Body/AAUHuman/Trunk/InitialPositions.any
  Body/AAUHuman/Trunk/InitialPositionsPelvis.any
  Body/AAUHuman/Trunk/Interface.any
  Body/AAUHuman/Trunk/JointsLumbar.any
  Body/AAUHuman/Trunk/PelvisSeg.any
Due: other_tests, Application_tests

Update wilke tests
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/SpinePressureLyingOnBack.main.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/SpinePressureSeatingStraitNoSupport.main.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStanding/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStanding/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests

Update the trunk load pos test
  Tests/Thoracic/test_trunk_load_pos.any
Due: other_tests, Application_tests

Fix missing wilke test values
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
Due: other_tests, Application_tests, test_docs

Hip angle should also use the neutral pelvis pos
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update wilke models
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/SpinePressureSeatingStraitNoSupport.main.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingFlexed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/JointsAndDrivers.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftFlexed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureLyingOnBack.any
  Tests/Applications/test_SpinePressureSeatingStraitNoSupport.any
  Tests/Applications/test_SpinePressureStanding.any
  Tests/Applications/test_SpinePressureStandingFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
  Tests/Applications/test_SpinePressureStandingLiftFlexed.any
  Tests/Applications/test_SpinePressureStandingLiftStretchedArms.any
Due: other_tests, Application_tests, test_docs

Add changelog entry
  CHANGELOG.md
Due: none

Fix missing validation values in test
  Tests/Applications/test_SpinePressureSeatingRelaxed.any
Due: other_tests, Application_tests

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Express GH shoulder reactions in glenoid coordinate system (#700)
  Body/AAUHuman/Arm/GHReactions.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs

use python 3.11 for sphinx builds
  Docs/environment.yaml
Due: test_docs

Fix deprecation warning
  Docs/exts/ammr_directives.py
Due: test_docs

Backport xref fix from ammr 2.5 branch
  Docs/exts/ammr_directives.py
Due: test_docs

Remvoe unused github actions
  .github/workflows/ammr-doc.yaml
Due: none

Fix docutils deprecation warning (#727)
  .github/workflows/ammr-doc.yaml
  Docs/exts/ammr_directives.py
Due: test_docs

Small doc fixes
  Docs/conf.py
  Docs/environment.yaml
  Docs/index.md
Due: test_docs

Fix implementation which caused too large model view bounding box
  Application/Examples/LegPressMachine/Model/FootrestSupport.any
Due: other_tests, Application_tests

Add change log entry
  CHANGELOG.md
Due: none

Adjust psoas via-points to increase stability
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  CHANGELOG.md
Due: other_tests, Application_tests

Adjust psoas via-points to increase stability (#729)
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  CHANGELOG.md
Due: other_tests, Application_tests

Adjust psoas via-points to increase stability
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

Fix typos in the changelog
  CHANGELOG.md
Due: none

Add EvaluateMaxLoad class-template to estimate max external load (#724)
  Application/Examples/WheelTurn/Model/InputParameters.any
  Application/Validation/EvaluateMaxExternalLoading/EvalMaxLoad.main.any
  Docs/Applications/Validation/EvaluateMaxLoadPlot.png
  Docs/Applications/Validation/EvaluateMaxLoadTemplate.png
  Docs/Applications/Validation/EvaluateMaxLoading.md
  Docs/conf.py
  Docs/environment.yaml
  Docs/index.md
  Tools/ModelUtilities/Validation/EvaluateMaxExternalLoad.any
Due: other_tests, Application_tests, test_docs

Fix COP drawing in LegPressMachine (#728)
  Application/Examples/LegPressMachine/Model/FootrestSupport.any
  CHANGELOG.md
Due: other_tests, Application_tests

Fix warning in docs build
  Docs/conf.py
Due: test_docs

explicitly inherit scalefuntions
  Body/AAUHuman/Scaling/ScalingUniform.any
Due: other_tests, Application_tests

Ensure pelvis scaling happens in trunk anatomical frame
  Body/AAUHuman/Scaling/SegScaleFunWrtAnatomicalFrame.any
  Body/AAUHuman/Trunk/PelvisSeg.any
Due: other_tests, Application_tests

Implment new way of setting the scaling frame
  Body/AAUHuman/Trunk/PelvisSeg.any
Due: other_tests, Application_tests

Ensure hip joint moments are expressed in the neutral pelvis coordinates
  Body/AAUHuman/LegTLEM/LegMoments.any
Due: other_tests, Application_tests

Add ISB defined Anatomical frame to Pelvis
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/Trunk/PelvisSeg.any
Due: other_tests, Application_tests

Add ISB hip joint angle measures
  Body/AAUHuman/LegTLEM/Interface.any
Due: other_tests, Application_tests

Psoas Major Points Refined to increase the stability and reasonable results especially for extension.
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

Update trunk load pos test
  Tests/Thoracic/test_trunk_load_pos.any
Due: other_tests, Application_tests

Update GlutMax init wrapping pos
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Update ScalingNode in pelvis
  Body/AAUHuman/Trunk/PelvisSeg.any
Due: other_tests, Application_tests

Update mannequin postures for standing-lift-flexed
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/Mannequin.any
  Tests/Applications/test_SpinePressureStandingLiftClose.any
Due: other_tests, Application_tests

Update wilke test results
  Application/Validation/WilkeSpinalDiscPressure/results.xlsx
  Docs/Applications/Validation/wilke.svg
  Tests/Applications/test_SpinePressureStanding.any
Due: other_tests, Application_tests, test_docs
