Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Restructure GM foot model tree: update pointers to foot segments and foot joints to match hierarchy
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/Connector.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/Environment.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/FootModelOutputGeneric.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/ForcePlates.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/PressureMapCoefs.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/ToeContact.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/ToeDrivers.any
  Body/AAUHuman/FootGM/InterMetatarsalHeadContact.any
Due: other_tests, Application_tests

Add version check (#763)
  AMMR.version.any
Due: none

tmp
  CHANGELOG.md
  Docs/Applications/Validation/gallery.txt
  Docs/conf.py
  Docs/index.md
Due: test_docs

WIP: GM foot mocap model. Intermediate commit. Model doesn't run
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Input/BareFootWalk-CoeffVec.txt
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Output/LowerExtremity_BareFootWalk.anyset
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/Debug/BottleNeckAnalysis.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/Debug/DiagnosticReactions.any
  Application/MocapExamples/Plug-in-gait_Simple_GMFoot/Setup/JointAnglesFootDrivers.any
Due: other_tests, Application_tests

Rename files
  Application/Examples/FreePosture3SFoot/FreePostureFullBodyStatic3SFoot.Main.any
  Body/AAUHuman/Foot3S/3S_Foot_libdef.any
  Body/AAUHuman/Foot3S/3S_foot.root.any
  Body/AAUHuman/Foot3S/3S_foot_model.any
  Body/AAUHuman/Foot3S/3S_foot_model_mocap.any
Due: other_tests, Application_tests

Switch off muscles and include new midfoot file for development
  Application/Examples/FreePosture3SFoot/Model/BodyModelConfiguration.any
  Body/AAUHuman/Foot3S/Midfoot.any
  Body/AAUHuman/Foot3S/Seg.any
Due: other_tests, Application_tests

Make new midfoot segment with constituent segments as AnyRefNodes.
  Body/AAUHuman/Foot3S/InitialPositions.any
  Body/AAUHuman/Foot3S/Midfoot.any
Due: other_tests, Application_tests

include new toes file for development
  Body/AAUHuman/Foot3S/Seg.any
  Body/AAUHuman/Foot3S/Toes.any
Due: other_tests, Application_tests

Make new segments for toes with constituent segments as AnyRefNodes.
  Body/AAUHuman/Foot3S/InitialPositions.any
  Body/AAUHuman/Foot3S/Toes.any
Due: other_tests, Application_tests

clean up of toes.any
  Body/AAUHuman/Foot3S/Toes.any
Due: other_tests, Application_tests

WIP: Remove unused DOFs from 3S foot model
  Application/Examples/FreePosture3SFoot/Model/LeftFootDrivers.any
  Application/Examples/FreePosture3SFoot/Model/RightFootDrivers.any
  Body/AAUHuman/Foot3S/InitialPositions.any
  Body/AAUHuman/Foot3S/Interface.any
  Body/AAUHuman/Foot3S/Jnt.any
Due: other_tests, Application_tests

Remove individual foot segs and replace with pointers to lumped segs
  Body/AAUHuman/Foot3S/Jnt.any
  Body/AAUHuman/Foot3S/LigAndMusNodes.any
  Body/AAUHuman/Foot3S/Midfoot.any
  Body/AAUHuman/Foot3S/PressureContactNodes.any
  Body/AAUHuman/Foot3S/Seg.any
  Body/AAUHuman/Foot3S/Toes.any
Due: other_tests, Application_tests

update ligament pointers to lumped segs and remove unused ligaments (acting on the same lumped seg)
  Body/AAUHuman/Foot3S/3S_foot.root.any
  Body/AAUHuman/Foot3S/LigamentsNew.any
  Body/AAUHuman/Foot3S/LigamentsTarsal.any
Due: other_tests, Application_tests

Include muscles with updated pointers to lumped segs
  Application/Examples/FreePosture3SFoot/Model/BodyModelConfiguration.any
  Body/AAUHuman/Foot3S/Foot_Mus.any
  Body/AAUHuman/Foot3S/Mus.any
  Body/AAUHuman/Foot3S/MusControlSeg.any
Due: other_tests, Application_tests

Start 3SFoot mocap model
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/FullBody.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/FullBody_GRFPrediction.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Input/GaitFast_1.c3d
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Input/GaitNormal_1.c3d
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Input/GaitNormal_2.c3d
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Output/.gitkeep
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/BodyModelConfigFullBody.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/C3DSettings.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ExtraDrivers.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ForcePlates.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ForcePlates_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/MarkerProtocol.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/SubjectSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/TrialSpecificData_LowerExtremity.any
Due: other_tests, Application_tests

Substitute simple foot with 3S foot, update force plate definition and marker protocol
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/BodyModelConfig.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ForcePlates.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/MarkerProtocol.any
Due: other_tests, Application_tests

Add toe drivers for foot 3s mocap model
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/LowerExtremity.main.any
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ToeDrivers.any
Due: other_tests, Application_tests

WIP: add calibration studies in 3S mocap model
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/LowerExtremity.main.any
  Body/AAUHuman/Foot3S/Cal/FootCal4.any
  Body/AAUHuman/Foot3S/Cal/FootCalibrationStudies.any
Due: other_tests, Application_tests

Remove muscles acting on the same segment and remove them from activity constraint
  Body/AAUHuman/Foot3S/Mus.any
Due: other_tests, Application_tests

Completely comment out muscle activity constraints that linked unused muscles (connecting to the same lumped segment)
  Body/AAUHuman/Foot3S/Mus.any
Due: other_tests, Application_tests

Comment out all muscle activity constraints
  Body/AAUHuman/Foot3S/Mus.any
Due: other_tests, Application_tests

minor update marker protocol for 3S foot model
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/MarkerProtocol.any
Due: other_tests, Application_tests

Lumped mass and inertia for 3s foot model
  Body/AAUHuman/Foot3S/Midfoot.any
  Body/AAUHuman/Foot3S/Toes.any
Due: other_tests, Application_tests

Foot GM restructure model tree muscles
  Body/AAUHuman/FootGM/Foot_Mus.any
  Body/AAUHuman/FootGM/GM_foot.root.any
  Body/AAUHuman/FootGM/Mus.any
  Body/AAUHuman/FootGM/MusControlSeg.any
Due: other_tests, Application_tests

code cleanup: move all foot muscles code block in one location
  Body/AAUHuman/FootGM/Mus.any
Due: other_tests, Application_tests

code cleanup: move all 3S foot muscles code block in one location
  Body/AAUHuman/Foot3S/Mus.any
Due: other_tests, Application_tests

Foot 3S restructure model tree muscles
  Body/AAUHuman/Foot3S/3S_foot.root.any
  Body/AAUHuman/Foot3S/Foot_Mus.any
  Body/AAUHuman/Foot3S/Mus.any
  Body/AAUHuman/Foot3S/MusControlSeg.any
Due: other_tests, Application_tests

Finally a release :)
  Docs/environment.yaml
Due: test_docs

Ensure deprecation warnings doesn't fail beta tests
  .github/workflows/nighly-tests.yml
Due: none

Fix scroll bar always showing
  Docs/_static/custom.css
  Docs/_static/gallery.css
Due: test_docs

Link toe drivers in foot 3s
  Application/MocapExamples/Plug-in-gait_Simple_3SFoot/Setup/ToeDrivers.any
Due: other_tests, Application_tests

Update CI action checkout step
  .github/workflows/create-compare-reference-linux.yml
  .github/workflows/create-compare-reference.yml
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Update CI checkout step
  .github/workflows/ammr-doc.yaml
Due: none

Update sphinx-theme in Documentation (#764)
  CHANGELOG.md
  Docs/Applications/Validation/gallery.txt
  Docs/_static/custom.css
  Docs/_static/gallery.css
  Docs/conf.py
  Docs/environment.yaml
  Docs/index.md
Due: test_docs

Add warnings which triggers early
  AMMR.version.any
Due: none

Add wrapping to the Achilleus tendon
  Body/AAUHuman/LegTLEM/Mus.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

fix that works in both version :)
  AMMR.version.any
Due: none

start new example from Foot3S to work from GM foot folder
  Application/Examples/FreePostureFootRigidToeFlex/FreePostureFullBodyStatic3SFoot.Main.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/BodyModelConfiguration.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/Config.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/LeftArmDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/LeftHandDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/LeftLegDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/LeftLegTDDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/RightArmDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/RightHandDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/RightLegDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/RightLegTDDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/TrunkDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/ConstantDrivers/TrunkNeckDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/Environment.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InitialPositionValues.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/LeftArmDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/LeftHandDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/LeftLegDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/LeftLegTDDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/RightArmDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/RightHandDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/RightLegDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/RightLegTDDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/TrunkDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationDrivers/TrunkNeckDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/InterpolationFunctions.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/JointsAndDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/JointsAndDriversConstant.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/JointsAndDriversInterpolation.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/LeftFootDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/LeftFootDriversRhythm.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/Mannequin.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/MannequinInterpolation.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/RightFootDrivers.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/RightFootDriversRhythm.any
  Application/Examples/FreePostureFootRigidToeFlex/Output/.gitkeep
Due: other_tests, Application_tests

Switch off muscles, use model from GM foot folder, add define statement for selection of foot model
  Application/Examples/FreePostureFootRigidToeFlex/FreePostureFullBodyStatic3SFoot.Main.any
  Application/Examples/FreePostureFootRigidToeFlex/Model/BodyModelConfiguration.any
Due: other_tests, Application_tests
