Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix pixi install on self-hosted runners (#886)
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
Due: none

update to anypytools 1.11.0
  pixi.lock
  pixi.toml
Due: none

Update anypytools version to 1.11.1
  pixi.lock
  pixi.toml
Due: none

Update custom-anybodycon action to handle anybodycon.exe on path
  .github/actions/custom-anybodycon/action.yml
Due: none

Add AnyBody as pixi dependency
  pixi.lock
  pixi.toml
Due: none

Updat test file to use AnyBody from a conda-package
  .github/workflows/test.yml
Due: none

Update lock file
  pixi.lock
Due: none

Use renamed package
  pixi.lock
  pixi.toml
Due: none

Use the AnyBody conda package (#887)
  .github/actions/custom-anybodycon/action.yml
  .github/workflows/test.yml
  pixi.lock
  pixi.toml
Due: none

Add nomkl dependency
  pixi.lock
  pixi.toml
Due: none

Update Python version in dependencies
  pixi.lock
  pixi.toml
Due: none

Add nomkl dependency (#888)
  pixi.lock
  pixi.toml
Due: none

Fix Pixi setup in workflows
  .github/workflows/create-compare-reference.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
Due: none

Fix Pixi setup failure and add recovery step
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
Due: none

Update test-forks.yml and test-self-hosted.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update test-forks.yml and test-self-hosted.yml (#889)
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

use as intended
  .github/workflows/test-self-hosted.yml
Due: none

Remove ANYBODYCON path from environment variables
  .github/workflows/test-self-hosted.yml
Due: none

Fix Pixi setup and add custom version patch
  .github/workflows/test-self-hosted.yml
Due: none

Remove scaling Ext laws
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManExtPercentile.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManExternal.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyMan_ANSUR.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyWomanExtPercentile.any
  Application/Examples/StandingModelScalingDisplay/Model/Description.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawCoorSystem.any
  Application/Examples/StandingModelScalingDisplay/Model/DrawExternalMeasures.any
  Application/Examples/StandingModelScalingDisplay/Model/Drivers.any
  Application/Examples/StandingModelScalingDisplay/Model/HumanModel.any
  Application/Examples/StandingModelScalingDisplay/Model/MannequinValuesFromModel.any
  Application/Examples/StandingModelScalingDisplay/Model/TrunkNeckDrivers.any
  Application/Examples/StandingModelScalingDisplay/StandingModelScalingDisplay.Main.any
  Body/AAUHuman/Arm/ShoulderArm.root.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Body/AAUHuman/Arm/ShoulderArmMus3E.root.any
  Body/AAUHuman/Arm/ShoulderArmNoMuscles.root.any
  Body/AAUHuman/Arm/ShoulderArmOnlyMusclesNeck.root.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/HumanModel.any
  Body/AAUHuman/Leg/Leg.root.any
  Body/AAUHuman/Leg/LegModel.root.any
  Body/AAUHuman/Leg/LegMus3E.root.any
  Body/AAUHuman/Leg/LegNoMuscles.root.any
  Body/AAUHuman/LegTLEM/LegNoMuscles.root.any
  Body/AAUHuman/LegTLEM/StandardParametersExt.any
  Body/AAUHuman/LegTLEM1/LegNoMuscles.root.any
  Body/AAUHuman/bm-parameters.toml
  Docs/Scaling/intro.md
  Docs/Scaling/lesson1.md
  Docs/Scaling/lesson2.md
  Docs/Scaling/lesson3.md
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Tests/Applications/test_StandingModelScalingDisplay.any
Due: other_tests, Application_tests, test_docs

fix double definition of BM statement
  Application/Examples/StandingModelScalingDisplay/StandingModelScalingDisplay.Main.any
Due: other_tests, Application_tests

fix segments path after branch reset
  Body/AAUHuman/HumanModel.any
Due: other_tests, Application_tests

refactor lession 2 + 3
  Application/Examples/StandingModelScalingDisplay/AnyMan_ANSUR.any
  Application/Examples/StandingModelScalingDisplay/BodyModelConfiguration.any
  Application/Examples/StandingModelScalingDisplay/Model/Environment.any
  Application/Examples/StandingModelScalingDisplay/StandingModelScalingDisplay.Main.any
  Body/AAUHuman/LegTLEM/TLEM2.2/SacrumSymmSeg.anysurf3.bak
  Docs/Scaling/_static/lesson1/AppliedForce198cm110kg_media.any
  Docs/Scaling/_static/lesson1/AppliedForces.png
  Docs/Scaling/_static/lesson1/AppliedForcesFront.jpg
  Docs/Scaling/_static/lesson1/LargeFemurFront.jpg
  Docs/Scaling/_static/lesson1/LargeFemur_media.any
  Docs/Scaling/_static/lesson1/MaxMuscleActivity170cm65kg.jpg
  Docs/Scaling/_static/lesson1/MaxMuscleActivity170cm90kgLM.jpg
  Docs/Scaling/_static/lesson1/MaxMuscleActivity170cm90kgLMF.jpg
  Docs/Scaling/_static/lesson1/MaxMuscleActivity198cm110kg.jpg
  Docs/Scaling/_static/lesson1/ModelTreeAnthro.png
  Docs/Scaling/_static/lesson1/ScalingLengthMassBack.jpg
  Docs/Scaling/_static/lesson1/ScalingLengthMassCorrectBack.jpg
  Docs/Scaling/_static/lesson1/ScalingLengthMassCorrectFront.jpg
  Docs/Scaling/_static/lesson1/ScalingLengthMassFront.jpg
  Docs/Scaling/_static/lesson1/ScalingLengthMass_media.any
  Docs/Scaling/_static/lesson1/ScalingStandard.png
  Docs/Scaling/_static/lesson1/ScalingStandardBack.jpg
  Docs/Scaling/_static/lesson1/ScalingStandardFront.jpg
  Docs/Scaling/_static/lesson1/ScalingStandard_media.any
  Docs/Scaling/_static/lesson1/ScalingUniformCorrect_media.any
  Docs/Scaling/_static/lesson1/ScalingUniformFront.jpg
  Docs/Scaling/_static/lesson2/ANSUR_Plugin_toolbar_icon.jpg
  Docs/Scaling/_static/lesson2/ANSUR_plugin_window.jpg
  Docs/Scaling/_static/lesson3/HeadMarkersAppliedFrontView.jpg
  Docs/Scaling/_static/lesson3/HeadMarkersFrontView.jpg
  Docs/Scaling/_static/lesson3/HeadMarkersLateralView.jpg
  Docs/Scaling/_static/lesson3/HeadScalingXYZApplied_media.any
  Docs/Scaling/_static/lesson3/HeadScalingXYZ_media.any
  Docs/Scaling/_static/lesson3/OverallScalingXYZ_media.any
  Docs/Scaling/_static/lesson3/ScalingXYZFinal.jpg
  Docs/Scaling/_static/lesson3/XYZ_segment_dimensions.jpg
  Docs/Scaling/lesson1.md
  Docs/Scaling/lesson2.md
  Docs/Scaling/lesson3.md
Due: other_tests, Application_tests, test_docs

refactor scaling lession 1
  Application/Examples/StandingModelScalingDisplay/BodyModelConfiguration.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyMan.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManUniform.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyManXYZ.any
  Application/Examples/StandingModelScalingDisplay/Model/AnyFamily/AnyMan_ANSUR.any
  Application/Examples/StandingModelScalingDisplay/Model/Environment.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftLegDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/LeftLegTDDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightLegDrivers.any
  Application/Examples/StandingModelScalingDisplay/Model/RightLegTDDrivers.any
  Application/Examples/StandingModelScalingDisplay/StandingModelScalingDisplay.Main.any
  Application/Examples/StatisticalScalingPlugin/AnyMan_ANSUR.any
  Docs/Scaling/_static/lesson1/AnyManBigFemur.any
  Docs/Scaling/_static/lesson1/AnyManLengthMass.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrect.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrectSmaller.any
  Docs/Scaling/_static/lesson1/AnyManLengthMassCorrectSmaller90kg.any
  Docs/Scaling/_static/lesson1/AnyManUniformCorrect.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller90kgLMF_media.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller90kg_media.any
  Docs/Scaling/_static/lesson1/AppliedForcesSmaller_media.any
  Docs/Scaling/_static/lesson1/AppliedForces_media.any
  Docs/Scaling/_static/lesson1/LargeFemur_media.any
  Docs/Scaling/_static/lesson1/ScalingLengthMassCorrect_media.any
  Docs/Scaling/_static/lesson1/ScalingLengthMass_media.any
  Docs/Scaling/_static/lesson1/ScalingUniformCorrect_media.any
  Docs/Scaling/intro.md
  Docs/Scaling/lesson1.md
  Tests/Applications/test_StandingModelScalingDisplay.any
Due: other_tests, Application_tests, test_docs

remove unused anyman files
  Docs/Scaling/_static/lesson3/AnyManXYZ.any
  Docs/Scaling/_static/lesson3/AnyManXYZ.final.any
  Docs/Scaling/lesson3.md
Due: test_docs

remove deprecated scaling laws
  Tests/Thoracic/test_trunk_load_pos.any
Due: other_tests, Application_tests

add changelog and fix link
  CHANGELOG.md
  Docs/Scaling/lesson2.md
Due: test_docs

code clean
  Tests/Applications/test_StandingModelScalingDisplay.any
Due: other_tests, Application_tests

fix typo
  Docs/Scaling/lesson2.md
Due: test_docs

Delete unused image file and fix formatting in lesson2.md
  Docs/Scaling/_static/lesson2/image1.jpeg
  Docs/Scaling/lesson2.md
Due: test_docs

Update image file names in scaling lesson
  Docs/Scaling/lesson2.md
Due: test_docs

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#891)
  Tests/.test_durations
Due: other_tests, Application_tests

Update logic in AMMR beta file
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
Due: other_tests, Application_tests

Use Conda Anybodycon with selfhosted runners (#892)
  .github/workflows/test-self-hosted.yml
Due: none

Update logic in AMMR beta file (#893)
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
Due: other_tests, Application_tests

Update references to AMMR version 3.0
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Docs/body/leg_tlem2_model.md
  Docs/body/thoracic_model.md
  Docs/migration.md
Due: other_tests, Application_tests, test_docs

Update AMMR version to 3.0.0-beta
  AMMR.version.any
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
