Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

fix(test): Exclude tests which fails in AMS 8.0.1 (#4)
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_TrunkNeckArmDynamicSymmetryCheck.Main.any
  Tests/Thoracic/test_trunk_inertias.py
Due: other_tests, Application_tests

ci: Ignore penetration warnings in exo lift test (#5)
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

ci: only timings on main repo
  .github/workflows/nightly-tests.yml
Due: none

ci: only timings on main repo (#944)
  .github/workflows/nightly-tests.yml
Due: none

chore: update tests to run with AnyBody 8.0.2rc1
  pixi.lock
  pixi.toml
Due: none

chore: update tests to run with AnyBody 8.0.2rc1 (#945)
  pixi.lock
  pixi.toml
Due: none

Reenable the wheelchair test
  Tests/Applications/test_WheelChairRancho.any
Due: other_tests, Application_tests

Reenable the wheelchair test (#946)
  Tests/Applications/test_WheelChairRancho.any
Due: other_tests, Application_tests

Update container version to AnyBody 8.0.2rc1 in nightly-tests.yml
  .github/workflows/nightly-tests.yml
Due: none

Update container version to AnyBody 8.0.2rc1 in nightly-tests.yml (#947)
  .github/workflows/nightly-tests.yml
Due: none

ci(docs): Ensure docs can build to a separate AMMR4 site (#6)
  Docs/conf.py
Due: test_docs

Update links in README.md to point to beta versions of Body Models and Application examples
  Docs/README.md
Due: test_docs

docs: Update links in readme file (#7)
  Docs/README.md
Due: test_docs

Update links in README.md to point to beta versions of Body Models and Application examples (#948)
  Docs/README.md
Due: test_docs

chore: disable devcontainer which is not working properly.
  .devcontainer/devcontainer.json_disabled
Due: none

chore: disable devcontainer which is not working properly. (#949)
  .devcontainer/devcontainer.json_disabled
Due: none

chore: Update recommended vscode extensions
  .vscode/extensions.json
Due: none

chore: Update recommended vscode extensions (#950)
  .vscode/extensions.json
Due: none

ci: enable pr titel validation for forks
  .github/workflows/conventional-commits-in-pr.yml
Due: none

ci: enable pr titel validation for forks (#952)
  .github/workflows/conventional-commits-in-pr.yml
Due: none

ci(test): Ensure MoCap Kinematic test also run update values
  Tests/AnyMocap/Test_ADL_Gait_MarkerTracking.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_MarkerTracking.any
Due: other_tests, Application_tests

ci(test): Ensure MoCap Kinematic test also run update values (#953)
  Tests/AnyMocap/Test_ADL_Gait_MarkerTracking.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody_MarkerTracking.any
Due: other_tests, Application_tests

ci: pin specicfic github actions for PR title validation
  .github/workflows/conventional-commits-in-pr.yml
Due: none

ci: pin specicfic github actions for PR title validation (#954)
  .github/workflows/conventional-commits-in-pr.yml
Due: none

ci: Use full hash github action pinning
  .github/workflows/conventional-commits-in-pr.yml
Due: none

Fix PR title validation condition in GitHub workflow
  .github/workflows/conventional-commits-in-pr.yml
Due: none

ci: Use full hash github action pinning (#955)
  .github/workflows/conventional-commits-in-pr.yml
Due: none

fix: make the git-info python hook more robust
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

fix: make the git-info python hook more robust (#957)
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

fix: catch exception when git is missing
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

fix: catch exception when git is missing (#958)
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Add new warning to list of ignored warnigs in test
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Add new warning to list of ignored warnigs in test (#959)
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

fix: prevent windows blinking when calling subprocess calls git info
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

fix: blinking windows when loading models tracked by git (#960)
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
  CHANGELOG.md
Due: other_tests, Application_tests

chore: Update syntax in pixi.toml filef
  pixi.toml
Due: none

chore: Update syntax in pixi.toml filef (#961)
  pixi.toml
Due: none

feat: Link visual settings of shoulder reactions forces.
  Body/AAUHuman/Arm/GHReactions.any
Due: other_tests, Application_tests
