Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  script:
  - mkdir Documentation
  - pytest "--ignore=Tests/Applications" -n 4 --anybody_debug_mode=1
  tags:
  - ams

Application_tests:
  stage: test
  script:
  - mkdir Documentation
  - pytest Tests/Applications -n 4 --timeout=1700 --anybody_debug_mode=1
  tags:
  - ams

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx<2.0 make
  ...

Fix syntax in docs build script
  .gitlab-ci.yml
Due: test_docs

Add first version of Python util functions to AMMR
  Tools/ModelUtilities/Python/Utils.any
  Tools/ModelUtilities/Python/ams_python_utils.py
Due: other_tests, Application_tests

Add more Python utils and tests
  Tests/test_pyutils.any
  Tools/ModelUtilities/Python/Utils.any
  Tools/ModelUtilities/Python/ams_python_utils.py
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Fix version in #if guard
  Tools/ModelUtilities/Python/Utils.any
Due: other_tests, Application_tests

Update LabSpecificData.any
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
Due: other_tests, Application_tests

Update LabSpecificData.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/LabSpecificData.any
Due: other_tests, Application_tests

Remove CI restriction on refs
  .gitlab-ci.yml
Due: test_docs

Use default AMS version in tests again
  pytest.ini
Due: none

Scaling Custom was updated to use Thorax folder instead Trunk after refactoring
  Body/AAUHuman/Scaling/ScalingCustom.any
Due: other_tests, Application_tests

Scaling Custom was updated to use Thorax folder instead Trunk after refactoring
  Body/AAUHuman/Scaling/ScalingCustom.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Fix bug in reference axes for SacrumPelvis Moment measures
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.txt
Due: test_docs

Enforce auto line endings in git
  .gitattributes
Due: none

fixed necessary changes in Knee Simulator: eliminated 'total' contactsurfaceforce between tibia and femoral. Now it is only medial and lateral tibial insert in contact with femoral component
  Application/Examples/KneeSimulator/Model/Contacts.any
  Application/Examples/KneeSimulator/Model/Measures.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

fixed small typos
  Application/Examples/StandingModel/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

Update changelog for AMMR 2.2.1
  CHANGELOG.txt
  Docs/body/leg_tlem2_model.rst
  Docs/body/leg_tlem_model.rst
  Docs/conf.py
Due: test_docs

Increase SPLine.AuLagCoef for Latissimus dorsiThis should fix stability problems when model bends forward
  Body/AAUHuman/Arm/Muscle.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Increaser Sting mesh for subscapularis muscles
  Body/AAUHuman/Arm/Muscle.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Fixed slight symmetry issue in the head markers of the Full Body MoCap example
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Tweak visibility of opeations in Video class
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Ensure warning don't trigger error in test framework
  Tests/Applications/test_EvaluateJointStrength.any
Due: other_tests, Application_tests

Switched default solvertype for Latissimus dorsi wrapping
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Changelog fixes
  CHANGELOG.txt
Due: test_docs

Update version numbers
  AMMR.version.any
  Application/Examples/StandingModel/libdef.any
  Docs/about.rst
  Tools/Templates/libdef.any
Due: other_tests, Application_tests, test_docs

Fix worng include
  Tools/Templates/libdef.any
Due: other_tests, Application_tests

Automatic get AMMR version for docs
  Docs/conf.py
Due: test_docs

Update ammr version
  AMMR.version.any
Due: none

Update wrist flexion definition in BodyModel.Interface
  Body/AAUHuman/Arm/Interface.any
  CHANGELOG.txt
Due: other_tests, Application_tests, test_docs

Add pytest hook to skip tests marked with "slow"
  Tests/conftest.py
Due: other_tests, Application_tests

Simplify gitlab ci script
  .gitlab-ci.yml
  pytest.ini
Due: test_docs

Mark slow test models
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Applications/test_EvaluateMomentArms.any
  Tests/Applications/test_EvaluateMomentArms_load_only.any
  Tests/Applications/test_KneeSimulator.any
  Tests/Applications/test_KneeSimulator_load_only.any
Due: other_tests, Application_tests

Add profiling arguments
  .gitlab-ci.yml
Due: test_docs

Remove the use of `warnings_to_include` in tests
  Tests/AnyMocap/Test_Plug-in-gait_Main.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_Flywheel.any
  Tests/AnyMocap/Test_Plug-in-gait_Squat_StandigRef.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_EvaluateJointStrength_load_only.any
  Tests/Symmetry/test_ArmDynamicSymmetryCheck.Main.any
  Tests/Symmetry/test_LegDynamicSymmetryCheck.Main.any
  Tests/test_deltoid_wrapping.any
Due: other_tests, Application_tests

Remove the use of `warnings_to_include` in tests
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Fix wrong header in test file
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Fix error with lengthmassfat scaling and mocap model
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Update AnyMoCap example files
  Tools/AnyMocap/ExampleFiles/BodyModelConfig_FullBody.any
  Tools/AnyMocap/ExampleFiles/LabSpecificData.any
  Tools/AnyMocap/ExampleFiles/SubjectSpecificData.any
  Tools/AnyMocap/ExampleFiles/TrialSpecificData.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
