Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Apply suggestions from code review
  Body/AAUHuman/LegTLEM/Seg.any
  CHANGELOG.md
Due: other_tests, Application_tests

Add highlight block
  CHANGELOG.md
Due: none

chore: Update CHANGELOG for AMMR version 3.1 release with new features, changes, fixes, and removals.
  CHANGELOG.md
Due: none

fix: Update AMMR version from 3.1.0Beta to 3.1.0
  AMMR.version.any
Due: none

fix: Add DOI link for unreleased version in documentation
  Docs/conf.py
Due: test_docs

chore: Clean up CHANGELOG formatting and remove unnecessary line breaks
  CHANGELOG.md
Due: none

Update intermediate mocap files
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
Due: other_tests, Application_tests

chore: Release prep for AMMR 3.1 (#1033)
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

fix: Add include guard to RotationPenetrationCombiDriver_template.any (#69)
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
Due: other_tests, Application_tests

port calibration study fixes
  Body/AAUHuman/Arm/Calibration/ElbowCal.any
  Body/AAUHuman/Arm/Calibration/WristCal.any
  Body/AAUHuman/Leg/Mus.any
  Tests/test_calibration_lowerbody.any
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

port calibration study fixes (#1034)
  Body/AAUHuman/Arm/Calibration/ElbowCal.any
  Body/AAUHuman/Arm/Calibration/WristCal.any
  Body/AAUHuman/Leg/Mus.any
  Tests/test_calibration_lowerbody.any
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

fix: Enhance git_info function to return detailed error messages and update GitInfo structure
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

Add entry into migration guide about the shank marker positions
  Docs/migration.md
Due: test_docs

fix: Enhance git_info function to return detailed error messages and update GitInfo structure (#1035)
  Body/AAUHuman/BodyModels/GenericBodyModel/ammr-beta.any
  Body/AAUHuman/BodyModels/GenericBodyModel/git_info.py
Due: other_tests, Application_tests

feat: Use a separate reference frame for shank when scaling (#1032)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Body/AAUHuman/LegTLEM/Seg.any
  CHANGELOG.md
  Docs/migration.md
Due: other_tests, Application_tests, test_docs

hotfix: headers order
  Docs/migration.md
Due: test_docs

docs: Handle bad merge (#72)
  Docs/migration.md
  Docs/migration2to3.md
Due: test_docs

fix: Update GitHub Actions container version to 8.1.0
  .github/workflows/nightly-tests.yml
Due: none

fix: Update GitHub Actions container version to 8.1.0 (#1038)
  .github/workflows/nightly-tests.yml
Due: none

fix: Test all muscles in calibration studies (#66)
  Body/AAUHuman/Arm/Calibration/WristCal.any
  Body/AAUHuman/Trunk/Calibration/MuscleCalibrationSequence.any
  Tests/Calibration/test_calibration_lowerbody.any
  Tests/Calibration/test_calibration_trunk.any
  Tests/Calibration/test_calibration_upperbody.any
Due: other_tests, Application_tests

feat: Improve pushup model (#73)
  Application/Examples/PushUp/Model/BodyModelConfiguration.any
  Application/Examples/PushUp/Model/Environment.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/Mannequin.any
Due: other_tests, Application_tests

Fixed 2 broken links
  Docs/Deleted/Creating_Model_From_Scratch/creating_model_from_scratch.md
Due: test_docs

feat: Add new AutoPelvisPos2 class template with a new easier interface (#76)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/S1_FlywheelSquat/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/S1_StandingRef/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S2/S2_FlywheelSquat/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S2/S2_StandingRef/TrialSpecificData.any
  Body/AAUHuman/Trunk/SkullSeg.any
  Tools/AnyMocap/AutomaticInitialPositionOfBody.any
Due: other_tests, Application_tests

feat: Refactor interface to new pelvis auto pos class template (#77)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/S1_FlywheelSquat/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S1/S1_StandingRef/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S2/S2_FlywheelSquat/TrialSpecificData.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Subjects/S2/S2_StandingRef/TrialSpecificData.any
  Tools/AnyMocap/AutomaticInitialPositionOfBody.any
Due: other_tests, Application_tests

chore: comment out broken Linux test job in nightly workflow
  .github/workflows/nightly-tests.yml
Due: none

chore: remove unused devcontainer and micromamba action files
  .devcontainer/devcontainer.json_disabled
  .github/actions/setup-micromamba/action.yml
Due: none

chore: comment out broken Linux test job in nightly workflow (#1041)
  .devcontainer/devcontainer.json_disabled
  .github/actions/setup-micromamba/action.yml
  .github/workflows/nightly-tests.yml
Due: none

chore: update anybodycon version used in tests
  pixi.lock
  pixi.toml
Due: none

chore: update anybodycon version used in tests (#1043)
  pixi.lock
  pixi.toml
Due: none

fix: ensure anybody package is available
  pixi.toml
Due: none

Update AMS used for testing
  pixi.lock
  pixi.toml
Due: none

fix model not when nstep is low
  Application/Examples/ArmCurl/Model/CreateVideo.any
  Application/Examples/BenchPress/Model/CreateVideo.any
  Application/Examples/BikeModel/Model/CreateVideo.any
  Application/Examples/KneeSimulator/Model/CreateVideo.any
  Application/Examples/PushUp/Model/CreateVideo.any
  Application/Examples/SeatedHuman/Model/CreateVideo.any
  Application/Examples/Squat/Model/CreateVideo.any
  Application/Examples/StandingModel/Model/CreateVideo.any
  Application/Examples/WheelChairRancho/Model/CreateVideo.any
  Application/Examples/WheelTurn/Model/CreateVideo.any
  Application/MocapExamples/ADL_Gait_[beta]/CreateVideo.any
  Application/MocapExamples/BVH_BoxLift/Model/CreateVideo.any
  Application/MocapExamples/BVH_Xsens/CreateVideo.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/CreateVideo.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
Due: other_tests, Application_tests

fix: Remove unused BM_EXPERIMENTAL statements (#78)
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.config_info.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.any
  Body/AAUHuman/BodyModels/GenericBodyModel/Ifdef_BM_param.any
  Body/AAUHuman/BodyModels/GenericBodyModel/undef_BM_params.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/EndRibReactionForce.any
  Body/AAUHuman/Trunk/JointsRibCage.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/OtherTable.csv
  Docs/bm_config/TrunkTable.csv
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Tests/BM combinations/test_bm_thoracic_experimental_rectus.any
Due: other_tests, Application_tests, test_docs

feat: Flexible kinematic thorax2 (#79)
  Body/AAUHuman/Arm/ScapulaContactElipsoid.any
  Body/AAUHuman/Arm/ThoraxWrappingSurfaces.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
  Body/AAUHuman/BodyModels/GenericBodyModel/ComponentDefinitions.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/Trunk/Abdominal/AbdominalPressureModel.any
  Body/AAUHuman/Trunk/EndRibReactionForce.any
  Body/AAUHuman/Trunk/JointsRibCage.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibcagePassiveReactions.any
  Body/AAUHuman/Trunk/SegmentsThoraxIndividual.any
  Body/AAUHuman/Trunk/TrunkModel.root.any
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
  Tests/BM combinations/test_bm_bodypart.any
  Tests/Body/Trunk/Thoracic/test_thoracic.any
Due: other_tests, Application_tests, test_docs

Add more documentation for spine rhythms
  Docs/body/_static/spine-link-coefficients.svg
  Docs/body/_static/spine-rhythm-coefficients.svg
  Docs/body/spine-rhythm.md
  Docs/index.md
Due: test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
