Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update image for evaluate moment arms
  Tests/Applications/test_EvaluateMomentArms.any
Due: other_tests, Application_tests

fix errors during images creation
  Application/Validation/BergmannGH/Model/JointsAndDrivers.any
  Tests/AnyMocap/Test_BVH_BoxLift.any
  Tests/AnyMocap/Test_FullBodyGRF-Plug-in-gait.any
Due: other_tests, Application_tests

Fix degenerate surfaces
  Body/AAUHuman/LegTLEM/TLEM2.2/SacrumSymmSeg.anysurf3
  Body/AAUHuman/LegTLEM1/TLEM1.2/SacrumSymmSeg.anysurf3
  Body/AAUHuman/Trunk/TrunkData1.1/STL/SacrumSymmSeg.anysurf3
Due: other_tests, Application_tests

Fix degenerate surfaces (#824)
  Body/AAUHuman/LegTLEM/TLEM2.2/SacrumSymmSeg.anysurf3
  Body/AAUHuman/LegTLEM1/TLEM1.2/SacrumSymmSeg.anysurf3
  Body/AAUHuman/Trunk/TrunkData1.1/STL/SacrumSymmSeg.anysurf3
Due: other_tests, Application_tests

Ensure that AMS 7.5-beta5 is used
  AMMR.version.any
Due: none

Fix older versions strings in examples
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  Docs/creating_model_from_scratch.md
  Tools/Templates/libdef.any
Due: other_tests, Application_tests, test_docs

Replace broken link with web.archive version
  Docs/body/shoulder_arm_model.md
Due: test_docs

Fix older versions strings in examples (#825)
  Application/Examples/FemoralTorsion/libdef.any
  Application/Examples/StandingModel/libdef.any
  Application/Examples/StatisticalScalingPlugin/libdef.any
  Docs/body/shoulder_arm_model.md
  Docs/creating_model_from_scratch.md
  Tools/Templates/libdef.any
Due: other_tests, Application_tests, test_docs

Fix issue with Video Tool overlay specification
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Fix issue with Video Tool overlay specification (#826)
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Update more applicaiton examples to match new neutral
  Application/Examples/FreePosture/Model/Mannequin.any
  Application/Examples/LegPressMachine/Model/HumanRefNodes.any
  Application/Examples/LegPressMachine/Model/TrialSpecificData.any
  Application/Examples/Squat/Model/TrunkDrivers.any
  Application/Validation/BergmannGH/Model/JointsAndDrivers.any
Due: other_tests, Application_tests

Adjust neutral posture of FaceJointModel
  Application/Examples/FacetJointModel/Model/JointsAndDriversSimple.any
Due: other_tests, Application_tests

Fix the syntax in old AMS warning
  AMMR.version.any
Due: none

Fix typo in
  CHANGELOG.md
Due: none

Fix application test image view for FaceJointModel
  Tests/Applications/test_FacetJointModel.any
Due: other_tests, Application_tests

BugFix GM foot mixin
  Application/Examples/FreePostureGMFoot/FreePostureFullBodyStaticGMFoot.Main.any
  Application/Examples/FreePostureGMFoot/Model/LeftFootDrivers.any
  Application/Examples/FreePostureGMFoot/Model/RightFootDrivers.any
Due: other_tests, Application_tests

Update posture in a few a application examples
  Application/Validation/GaitVaughan/Model/Mannequin.any
  Tests/AnyMocap/Test_force_plate_offset.any
Due: other_tests, Application_tests

Elaborate description of AMMR 2.5 changes
  Docs/migration.md
Due: test_docs

Add knee simulator output to compare tests
  Tests/Applications/test_KneeSimulator.any
Due: other_tests, Application_tests

Move pytest.ini into test folder
  Tests/pytest.ini
Due: other_tests, Application_tests

Fix image generation scripts
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Update test images postures
  Tests/AnyMocap/Test_ADL_Gait.any
  Tests/Applications/test_EvaluateJointStrength.any
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
  Tests/Applications/test_ExoConcept_BoxLift.any
Due: other_tests, Application_tests

Fix mispelled word
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
  Application/Examples/WheelTurn/Model/JointsAndDrivers.any
  Application/Validation/BergmannGH/Model/JointsAndDrivers.any
  Body/AAUHuman/Arm/HandSeg.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/SkullSeg.any
  Docs/migration.md
Due: other_tests, Application_tests, test_docs

Fix mispelled word (#828)
  Application/Examples/BikeModel/Model/JointsAndDrivers.any
  Application/Examples/WheelTurn/Model/JointsAndDrivers.any
  Application/Validation/BergmannGH/Model/JointsAndDrivers.any
  Body/AAUHuman/Arm/HandSeg.any
  Body/AAUHuman/Arm/Jnt.any
  Body/AAUHuman/Arm/Seg.any
  Body/AAUHuman/LegTLEM/Seg.any
  Body/AAUHuman/LegTLEM1/Seg.any
  Body/AAUHuman/Trunk/PelvisSeg.any
  Body/AAUHuman/Trunk/SegmentsCervicalSpine.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/SegmentsThorax.any
  Body/AAUHuman/Trunk/SkullSeg.any
  Docs/migration.md
Due: other_tests, Application_tests, test_docs

Update
  AMMR.version.any
  CHANGELOG.md
  Docs/README.md
  Docs/body/thoracic_model.md
  Docs/migration.md
Due: test_docs

Fix link check
  Docs/conf.py
Due: test_docs

Update changelog and migration guide (#829)
  AMMR.version.any
  CHANGELOG.md
  Docs/README.md
  Docs/body/thoracic_model.md
  Docs/conf.py
  Docs/migration.md
Due: test_docs

exclude .devcontainer/ from git export
  .gitattributes
Due: none

exclude .devcontainer/ from git export (#830)
  .gitattributes
Due: none

Fix mass scaling for shank to account for patella
  Body/AAUHuman/Scaling/ScalingLengthMass.any
  Body/AAUHuman/Scaling/ScalingLengthMassFat.any
  Body/AAUHuman/Scaling/ScalingLengthMassFatModified.any
  Body/AAUHuman/Scaling/ScalingUniform.any
  Body/AAUHuman/Scaling/ScalingXYZMassFat.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Symmestry check : Update of the temporary hack to enforce evaluation moment for Obj2Num(..) expressions. This version forces RuntimeVar, which is needed here.
  Tests/Symmetry/DynamicTest/Model/MuscleSymmetryCheck.any
Due: other_tests, Application_tests

Add a dummy patella section to old leg stdpar
  Body/AAUHuman/Leg/StandardParameters.any
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs
