Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

fix: Update version to 3.1.2 and enhance changelog for MoCap model improvements
  AMMR.version.any
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: Update DOI link for unreleased version in documentation
  Docs/conf.py
Due: test_docs

chore: Prepare release of version 3.1.2 (#1048)
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

fix issue generating animated gif with the video tool
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Fix changelog language
  CHANGELOG.md
Due: none

fix: animated gif conversion from other than mp4 (#1049)
  CHANGELOG.md
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

fix(MoCap): Update JointAngleOutputs to include headers for output files
  CHANGELOG.md
  Tools/AnyMocap/JointAngleOutputs.any
Due: other_tests, Application_tests

feat(MoCap): Add an AllDOF variable to the JointAngleOuput
  Tools/AnyMocap/JointAngleOutputs.any
Due: other_tests, Application_tests

fix(JointAngleOutputs): Add conditional compilation for variable names export
  Tools/AnyMocap/JointAngleOutputs.any
Due: other_tests, Application_tests

feat: Add option to suppress gm foot notices
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.BodyPartsSetup.any
Due: other_tests, Application_tests

Fixed syntax error
  Tools/AnyMocap/JointAngleOutputs.any
Due: other_tests, Application_tests

feat(MoCap): Update JointAngleOutputs to include headers for output files (#1050)
  CHANGELOG.md
  Tools/AnyMocap/JointAngleOutputs.any
Due: other_tests, Application_tests

chore: Update CHANGELOG for version 3.1.3 release
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

chore: Update CHANGELOG for version 3.1.3 release (#1051)
  CHANGELOG.md
  Docs/conf.py
Due: test_docs

chore: Update version to 3.1.3 in AMMR.version.any
  AMMR.version.any
Due: none

fix(docs): correct typos and improve clarity in spine rhythm and thoracic model documentation
  Docs/body/spine-rhythm.md
  Docs/body/thoracic_model.md
Due: test_docs

Fix: Restrucutre hand model so BVH MoCap protocol can be identical between detaled and simple hand
  Application/MocapExamples/BVH_BoxLift/Model/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/MarkerProtocol.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

fix: update webcast links to use the correct URL format across multiple documentation files
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Scaling/intro.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/shoulder_arm_model.md
Due: test_docs

fix: Correct BackArmRestJntNode sRel calculation in multiple environment models
  Application/Examples/AirlinePassenger/Model/Environment.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Environment.any
Due: other_tests, Application_tests

chore: Update CHANGELOG
  CHANGELOG.md
Due: none

fix: update webcast links to use the correct URL format across multiple documentation files (#1055)
  Docs/Applications/Other/ExoConcept_BoxLift.md
  Docs/Scaling/intro.md
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/body/leg_tlem2_model.md
  Docs/body/lumbar_spine_model.md
  Docs/body/shoulder_arm_model.md
Due: test_docs

fix(ForcePlate): Update force plate data calculations for transducer position and rotation
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

fix: Asymmetry of arm-rest in various sitting models (#1056)
  Application/Examples/AirlinePassenger/Model/Environment.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Environment.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Environment.any
  CHANGELOG.md
Due: other_tests, Application_tests

fix(MoCap): Ensure identical bvh Marker protocol between simple and detailed hand (#1054)
  Application/MocapExamples/BVH_BoxLift/Model/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens/BodyModelConfig.any
  Application/MocapExamples/BVH_Xsens/MarkerProtocol.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/MarkerProtocol.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
  CHANGELOG.md
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests

docs: Add documentation on spine rhythm (#80)
  Docs/body/_static/rhythm-overview.png
  Docs/body/_static/spine-link-coefficients.svg
  Docs/body/_static/spine-rhythm-coefficients.svg
  Docs/body/spine-rhythm.md
  Docs/body/thoracic_model.md
  Docs/index.md
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests, test_docs

Fix incorrect parsing of expected members documentation in class templates
  Docs/tools/generate_class_template_docs.py
Due: test_docs

Fix formatting in video tool class template docs
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

fix: Incorrect parsing in automatic class documentation tool (#1057)
  Docs/tools/generate_class_template_docs.py
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
