Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update application image
  Docs/Applications/images/BikeModel2D.webp
  Tests/Applications/test_BikeModel2D.any
Due: other_tests, Application_tests, test_docs

Update script for creating applicaiton images
  Docs/Applications/images/get_application_images.py
Due: test_docs

Update applicaiton image
  Docs/Applications/images/BikeModel-FullBody.webp
  Tests/Applications/test_BikeModel-FullBody.any
Due: other_tests, Application_tests, test_docs

feat: Foot model updates to force plates and rotation penetration combi driver (#93)
  Application/Beta/BVH_Xsens_ToeFlex_GM/ExtraDrivers.any
  Application/Beta/Plug-in-gait_Simple_DetailedFoot_GM/Input/BareFootWalk-CoeffVec.txt
  Application/Beta/Plug-in-gait_Simple_DetailedFoot_GM/Setup/ForcePlates.any
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/ExtraDrivers.any
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/ForcePlates.any
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/TrialSpecificData_FullBody.any
  Application/Beta/Plug-in-gait_Simple_ToeFlex_GM/Setup/TrialSpecificData_LowerExtremity.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_FullBody.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_GRFPrediction.any
  Application/MocapExamples/Plug-in-gait_Simple/Setup/TrialSpecificData_LowerExtremity.any
  CHANGELOG.md
  Docs/Applications/Orthopedics_and_rehab/gallery.txt
  Docs/body/glasgow_maastricht_foot_model.md
  Docs/conf.py
  Tests/AnyMocap/Test_ForcePlateAutoDetection.any
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
  Tools/ModelUtilities/KinematicLimits/RotationPenetrationCombiDriver_template.any
  Tools/ModelUtilities/Mocap/PlateFootConnection.any
Due: other_tests, Application_tests, test_docs

nodes added on thoracic vertebrae
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
Due: other_tests, Application_tests

Added longissimus thoracis insertions of T1-T10 and reorganize the ES muscle listing
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
Due: other_tests, Application_tests

fix: Enhance link check step with retry mechanism in documentation workflow
  .github/workflows/ammr-doc.yaml
Due: none

Adding missing longissimus thoracis muscles: LTptT11Sacrum and LTptT12Sacrum. Muscle models
  Body/AAUHuman/Trunk/TrunkData1.1/TrunkModelMuscleParameters.any
  Body/AAUHuman/Trunk/muscle-models-trunk-simple.any
  Body/AAUHuman/Trunk/muscle-models-trunk.any
Due: other_tests, Application_tests

Adding missing longissimus thoracis muscles: LTptT11Sacrum and LTptT12Sacrum. Nodes and muscles
  Body/AAUHuman/Trunk/Abdominal/LayerMuscleNodes.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

fix: Enhance link check step with retry mechanism in documentation workflow (#1060)
  .github/workflows/ammr-doc.yaml
Due: none

fix bug for buckle mode
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

bug fix: extra node removed
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
Due: other_tests, Application_tests

feat: Enabled sloped forceplate surfaces and force baseline offsets (#95)
  CHANGELOG.md
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
  Tools/AnyMocap/ForcePlates/ForcePlateTypes.any
Due: other_tests, Application_tests

chore: run test with AMS 8.2 beta3
  pixi.lock
  pixi.toml
Due: none

Add python_pth file to ensure AnyBody can use the it is beeing used with
  pixi.lock
  pixi.toml
Due: none

Use python 13
  pixi.lock
  pixi.toml
Due: none

Separate longissimus nodes. New insertions for vertebral connections
  Body/AAUHuman/Trunk/Abdominal/LayerMuscleNodes.any
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
  Body/AAUHuman/Trunk/RibCageMuscleNodes.any
  Body/AAUHuman/Trunk/SegmentsLumbar.any
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
  Body/AAUHuman/Trunk/TrunkData1.1/ThoracicNodes.any
Due: other_tests, Application_tests

ViaNodes on vertebra except the ones close to the rib insertions define statement made to be able to use the previous version
  Body/AAUHuman/Trunk/MusclesLeft.any
  Body/AAUHuman/Trunk/MusclesRight.any
  Body/AAUHuman/Trunk/NodesForThoracicMuscles.any
Due: other_tests, Application_tests

Guard PelvisPosOffset feature in MoCap models with a switch.
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

feat: Option to save all itermediate mocap driver values/names from marker trakcing and invers dynamics
  Tests/AnyMocap/Test_JointAngleInputOutput.any
  Tools/AnyMocap/ClassTemplates.any
  Tools/AnyMocap/CollectDriverValuesTemplate.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

Add guard for older versions of AMS
  Tests/AnyMocap/Test_JointAngleInputOutput.any
Due: other_tests, Application_tests

fix(docs): fix link check
  CHANGELOG.md
Due: none

feat(mocap): option to save all intermediate mocap driver values/names from MarkerTracking or InverseDynamics (#1063)
  Tests/AnyMocap/Test_JointAngleInputOutput.any
  Tools/AnyMocap/ClassTemplates.any
  Tools/AnyMocap/CollectDriverValuesTemplate.any
  Tools/AnyMocap/JointAngleOutputs.any
  Tools/AnyMocap/JointsAndDriversOptimized.any
Due: other_tests, Application_tests

fix(docs): fix link check (#1064)
  CHANGELOG.md
Due: none

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations (#1065)
  Tests/.test_durations
Due: other_tests, Application_tests

Improve subscapularis momentarms, by correcting the subscapularis insertions
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

docs(links): Fixed redirected link
  CHANGELOG.md
Due: none

Roll back to use 8.1.1 for testing
  pixi.lock
  pixi.toml
Due: none

feat: Refactor code to allow overwriting global frame in Interface PelvisRotVec measure
  Body/AAUHuman/Trunk/Interface.any
Due: other_tests, Application_tests

Add changelog
  CHANGELOG.md
Due: none

feat: Refactor to allow for overwritting PelvisRotVec global frame (#1069)
  Body/AAUHuman/Trunk/Interface.any
  CHANGELOG.md
Due: other_tests, Application_tests

test: don't overwrite upper bound
  Tests/tools.any
Due: other_tests, Application_tests

test: don't overwrite upper bound (#1070)
  Tests/tools.any
Due: other_tests, Application_tests

test: don't overwrite upper bound (#99)
  Tests/tools.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
