Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Typo fixes
  Docs/Applications/Mocap/plot_ADL_Gait.py
  Docs/Applications/Mocap/plot_BVH.py
  Docs/Applications/Mocap/plot_Plug-in-gait_Simple_FullBody_GRFPrediction.py
  Docs/Applications/Validation/plot_EvaluateMomentArms.py
  Docs/anymocap/index.rst
Due: test_docs

Update version info
  AMMR.version.any
  CHANGELOG.txt
  Docs/conf.py
Due: test_docs

Only run python check for read-only files if we suspect user is using install dir AMMR
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.defaults.preprocess.any
Due: other_tests, Application_tests

Update documentation
  Docs/body/thoracic_model.rst
Due: test_docs

Fix typos and spelling in changelog
  CHANGELOG.txt
Due: test_docs

Update changelog
  CHANGELOG.txt
Due: test_docs

update unrelease body part documentation with MD's comments
  Docs/body/glasgow_maastricht_foot_model.rst
  Docs/body/regensburg_ulm_hand_model.rst
  Docs/body/thoracic_model.rst
Due: test_docs

Update glasgow_maastricht_foot_model.rst
  Docs/body/glasgow_maastricht_foot_model.rst
Due: test_docs

Increase mesh for subscapularis muscle
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Update bm tests to include RUHM hand
  Tests/BM combinations/test_bm_bodypart.any
  Tests/BM combinations/test_bm_bodypart_upper.any
  Tests/BM combinations/test_ruhm.any
Due: other_tests, Application_tests

Move changes to Humerus wrapping changes to ArmData1.2
  Body/AAUHuman/Arm/ArmData1.2/HumerusMuscleGeometry.any
Due: other_tests, Application_tests

Fix RUHM load problem with Scaling None
  Body/AAUHuman/Scaling/ScalingHandNone.any
Due: other_tests, Application_tests

Fix typo in class template merge
  Body/AAUHuman/BodyModels/GenericBodyModel/AnyMan.ClassTemplates.any
Due: other_tests, Application_tests

Move scapularis wrapping arm data 1.2
  Body/AAUHuman/Arm/ArmData1.2/HumerusMuscleGeometry.any
Due: other_tests, Application_tests

tmp
  Tests/BM combinations/test_bm_bodypart_upper.any
  Tests/BM combinations/test_ruhm.any
Due: other_tests, Application_tests

Subscapularis, update initial wrapping guess
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Increase string mesh on muscles
  Application/Examples/KneeSimulator/Model/Ligaments.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Update subscapularis wrapping surface
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Move hand via point slightly to avoid wrapping collision
  Body/AAUHuman/Arm/ArmData1.1/ArmModelParameters.any
Due: other_tests, Application_tests

Update glueteus maximus wrapping surface
  Body/AAUHuman/LegTLEM/GluteusMaximumsWrappingSurfaces.any
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Update scapula subscapularis wrapping torus
  Body/AAUHuman/Arm/ScapulaMuscleGeometry.any
Due: other_tests, Application_tests

Moved TOE & TOE2 markers
  CHANGELOG.txt
  Tools/AnyMocap/Protocols/XsensBVH.any
Due: other_tests, Application_tests, test_docs

Improve infraspinatus wrapping for high arm positions
  Body/AAUHuman/Arm/HumerusMuscleGeometry.any
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Increase wrapping meshpoints for Triceps
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Increase wrapping mesh
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Add wrapping ellipsoid latissimus dorsi on humerus
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
  Body/AAUHuman/Arm/Muscle.any
  Body/AAUHuman/Arm/ShoulderArmModel.root.any
Due: other_tests, Application_tests

Ensure latissimus wrap segments r0 comes from humerus
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Update muscle meshpoints
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix missing segment due to new latissimus dorsi wrapping
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
Due: other_tests, Application_tests

Add latissimus dorsi 5 to calibration.
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
Due: other_tests, Application_tests

Include latissimus wrapping correctly in calibration studies
  Body/AAUHuman/Arm/Calibration/ArmCal3.any
  Body/AAUHuman/Arm/Calibration/ArmCal5.any
Due: other_tests, Application_tests

Tweak latissimus wrapping to avoid collision
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Increase mesh points for latissimus dorsi
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Hide debug visualizations
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Fix weird symmetry test failure in the shoulder
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Fix typo in deltoid wrapping segment driver
  Body/AAUHuman/Arm/DeltoidWrap.any
Due: other_tests, Application_tests

Improve kinematic stability
  Body/AAUHuman/Arm/DeltoidWrap.any
  Body/AAUHuman/Arm/LatissimusDorsiWrap.any
Due: other_tests, Application_tests

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
