Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Revert "remove bodyweight from foot and talus"
  Application/Validation/GaitVaughan/Model/AnyMan.any
Due: other_tests, Application_tests

remove bodymass from foot and talus
  Application/Validation/GaitVaughan/Model/AnyMan.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.txt
Due: test_docs

Integrate changelog modifications
  CHANGELOG.txt
Due: test_docs

TLEM1. Ensure Satorius branches follow the same line of action.
  Body/AAUHuman/LegTLEM/Mus.any
Due: other_tests, Application_tests

Fix Satorius muscle volume.
  Body/AAUHuman/LegTLEM/TLEM1.2/ModelMuscleParameters.any
  Body/AAUHuman/LegTLEM/TLEM2.1/ModelMuscleParameters.any
Due: other_tests, Application_tests

typo + new data download link
  Application/MocapExamples/ADL_Gait_[beta]/LabSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.txt
Due: test_docs

Update documentation comments in MusMdlSimple_1/2.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_1.any
  Body/AAUHuman/LegTLEM/MusMdlSimple_2.any
Due: other_tests, Application_tests

fix typo
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2015026/2015026_ST/TrialSpecificData.any
Due: other_tests, Application_tests

ADL gait: Fix syntax error in trial exception
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2015037/2015037_ST/TrialSpecificData.any
Due: other_tests, Application_tests

ADL gait: ignore errors from missing markers when loading data
  Application/MocapExamples/ADL_Gait_[beta]/batchprocess.py
Due: other_tests, Application_tests

ADL gait: Remove duplicate elbow marker exclude
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014051/2014051_ST/TrialSpecificData.any
Due: other_tests, Application_tests

Update CHANGELOG.txt
  CHANGELOG.txt
Due: test_docs

Remove unsued reference to FORCE_PLATFORM.ZERO
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
Due: other_tests, Application_tests

ADL gait: add CV7 exclude to correct file
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014030/2014030_C2_02/TrialSpecificData.any
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2014030/2014030_C4_02/TrialSpecificData.any
Due: other_tests, Application_tests

Remove AMMR DOC issue
  Tools/conditional_paths.any
Due: other_tests, Application_tests

Add option to manually start ammr tests
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Use released version for test + cache + mamba
  .github/workflows/test.yml
Due: none

fix yaml syntax
  .github/workflows/test.yml
Due: none

Temp fix to test failures caused by DEV-1447
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

Run workflow from fork PR
  .github/workflows/test.yml
Due: none

update ci files [skip ci]
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Only run tests on new wrapping
  .github/workflows/test.yml
Due: none

Fix test failure due to new warning in calibration
  Tests/test_calibration_upperbody.any
Due: other_tests, Application_tests

New init-wrap vector for teres minor
  Body/AAUHuman/Arm/Muscle.any
Due: other_tests, Application_tests

Fix GHRot warning causing test failure in ADL gait nightly test
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Fix wrong text for 'ignore_errors' in test files
  Tests/AnyMocap/Test_ADL_Gait.any
Due: other_tests, Application_tests

Guard trunk width design var in OptimizeAnthropometricsOnOff
  Tools/AnyMocap/OptimizeAnthropometricsOnOff.any
Due: other_tests, Application_tests

Zero metab mdl for artificial AnyGeneralMuscle
  Application/Examples/PedalDemoConditional/Model/JointsAndDrivers.any
  Application/Examples/PushUp/Model/JointsAndDrivers.any
  Application/Examples/WheelChairRancho/Model/SupportMuscle.any
  Body/AAUHuman/Arm/GHReactions.any
  Body/AAUHuman/Arm/GloveMuscle.any
  Body/AAUHuman/Trunk/Buckle.any
  Body/Mandible/NormalMandible_AAU/Jnt.any
  Body/Mandible/SymmetricMandible_AU/Jnt.any
  Tools/GRFPrediction/ContactSurfaceDistanceAndVelocityDepLinPush.any
  Tools/GRFPrediction/WeakResiduals.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle2.any
  Tools/ModelUtilities/Diagnostics/DiagnosticMuscle3.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactLinPull.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactLinPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRot.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRotPull.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactRotPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactSurfaceLinPush.any
  Tools/ModelUtilities/FrictionContactMuscles/ContactSurfaceLinPushTrigger.any
  Tools/ModelUtilities/Mocap/ArtificialMuscleConnection.any
  Tools/ModelUtilities/Reactions/SupportMuscle.any
  Tools/ModelUtilities/Reactions/SupportMuscleRot.any
  Tools/ModelUtilities/ZeroMetabolicMdl.any
Due: other_tests, Application_tests

Switched off Pmet in artificial AnyMuscleViaPoint
  Body/AAUHuman/Arm/Jnt.any
Due: other_tests, Application_tests

Fix missing marker excludes for 2015032_C3_04 trail in ADL gait [skip ci]
  Application/MocapExamples/ADL_Gait_[beta]/Subjects/2015032/2015032_C3_04/TrialSpecificData.any
Due: other_tests, Application_tests

Update nightly test test with new 3 state wrappping solver
  .github/workflows/nighly-tests.yml
Due: none

Only run nightly test for new wrapping
  .github/workflows/nighly-tests.yml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
