Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Release prep for AMMR 2.4 (#657)
  AMMR.version.any
  CHANGELOG.md
  Docs/conf.py
  Docs/environment.yaml
Due: test_docs

add ammr 2.4 relase note anchor in docs
  CHANGELOG.md
Due: none

Trunk exoskeleton concept example from PEG
  Application/Examples/ExoskeletonTrunk/ExoConceptTrunk_BoxLift.main.any
  Application/Examples/ExoskeletonTrunk/Output/.gitkeep
Due: other_tests, Application_tests

Add test model for trunk exo concept
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
Due: other_tests, Application_tests

Add documentation of trunk exo concept model. (Small fix: Hide drawing of one reference frame in the model)
  Application/Examples/ExoskeletonTrunk/ExoConceptTrunk_BoxLift.main.any
  Docs/Applications/Other/plot_ExoConceptTrunk_BoxLift.py
  Docs/Applications/images/ExoskeletonConceptTrunk_BoxLift.jpg
Due: other_tests, Application_tests, test_docs

Update AMMR Changelog
  CHANGELOG.md
Due: none

Exo example peg (#658)
  Application/Examples/ExoskeletonTrunk/ExoConceptTrunk_BoxLift.main.any
  Application/Examples/ExoskeletonTrunk/Output/.gitkeep
  CHANGELOG.md
  Docs/Applications/Other/plot_ExoConceptTrunk_BoxLift.py
  Docs/Applications/images/ExoskeletonConceptTrunk_BoxLift.jpg
  Tests/Applications/test_ExoConceptTrunk_BoxLift.any
Due: other_tests, Application_tests, test_docs

Split news into examples and features
  CHANGELOG.md
Due: none

Fix links in new example models. Delete repetitive model entries from new section. Fix link to TLEM 2 in femoral torsion tool page.
  CHANGELOG.md
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
Due: test_docs

Split news into examples and features (#659)
  CHANGELOG.md
  Docs/Applications/Orthopedics_and_rehab/plot_FemoralTorsionTool.py
Due: test_docs

Simplify selected output for arms.
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/LeftArmNoMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmNoMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
Due: other_tests, Application_tests

Fix a wrong sign for wrist joint flexion
  Body/AAUHuman/Arm/InitialPositions.any
  Body/AAUHuman/Arm/Interface.any
Due: other_tests, Application_tests

Update changelog
  CHANGELOG.md
Due: none

Swap sign on previous incorrect wrist flexion variables
  Application/Examples/AirlinePassenger/Model/Mannequin.any
  Application/Examples/FreePosture/Model/Mannequin.any
  Application/Examples/PushUp/Model/Mannequin.any
  Application/Examples/SeatedHuman/Model/Mannequin.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Mannequin.any
  Application/Examples/Squat/Model/Mannequin.any
  Application/Examples/StandingLift/Model/Mannequin.any
  Application/Examples/WheelChairRancho/Model/Mannequin.any
  Application/Examples/WheelTurn/Model/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/Mannequin.any
  Tests/Symmetry/DynamicTest/Model/MannequinInterpolation.any
  Tools/ModelUtilities/KinematicLimits/RangeOfMotionLimits_template.any
Due: other_tests, Application_tests

Remove the use of deprecated muscle class names
  Body/AAUHuman/Trunk/ErectorSpinaeLeft.any
  Body/AAUHuman/Trunk/ErectorSpinaeRight.any
  Body/AAUHuman/Trunk/IntercostalisLeft.any
  Body/AAUHuman/Trunk/IntercostalisRight.any
  Body/AAUHuman/Trunk/LevatorCostarumLeft.any
  Body/AAUHuman/Trunk/LevatorCostarumRight.any
  Body/AAUHuman/Trunk/LongissimusCapitisLeft.any
  Body/AAUHuman/Trunk/LongissimusCapitisRight.any
  Body/AAUHuman/Trunk/LongissimusCervicisLeft.any
  Body/AAUHuman/Trunk/LongissimusCervicisRight.any
  Body/AAUHuman/Trunk/LongusCapitisLeft.any
  Body/AAUHuman/Trunk/LongusCapitisRight.any
  Body/AAUHuman/Trunk/LongusColliLeft.any
  Body/AAUHuman/Trunk/LongusColliRight.any
  Body/AAUHuman/Trunk/MultifidusCervicisLeft.any
  Body/AAUHuman/Trunk/MultifidusCervicisRight.any
  Body/AAUHuman/Trunk/RectusAbdominis.any
  Body/AAUHuman/Trunk/ScalenusAndHyoidLeft.any
  Body/AAUHuman/Trunk/ScalenusAndHyoidRight.any
  Body/AAUHuman/Trunk/SemispinalisCapitisLeft.any
  Body/AAUHuman/Trunk/SemispinalisCapitisRight.any
  Body/AAUHuman/Trunk/SemispinalisCervicisLeft.any
  Body/AAUHuman/Trunk/SemispinalisCervicisRight.any
  Body/AAUHuman/Trunk/Spinalis.any
  Body/AAUHuman/Trunk/SpleniusCapitisLeft.any
  Body/AAUHuman/Trunk/SpleniusCapitisRight.any
  Body/AAUHuman/Trunk/SpleniusCervicisLeft.any
  Body/AAUHuman/Trunk/SpleniusCervicisRight.any
  Body/AAUHuman/Trunk/SubcostalisLeft.any
  Body/AAUHuman/Trunk/SubcostalisRight.any
  Body/AAUHuman/Trunk/ThoracicMultifidiLeft.any
  Body/AAUHuman/Trunk/ThoracicMultifidiRigth.any
  Body/AAUHuman/Trunk/TransversusThoracisLeft.any
  Body/AAUHuman/Trunk/TransversusThoracisRight.any
Due: other_tests, Application_tests

Remove the use of deprecated Ligament class name
  Application/Examples/BikeSpring/Model/BikeFrameAndWheels.any
  Body/AAUHuman/Trunk/L1L2Ligaments.any
  Body/AAUHuman/Trunk/L2L3Ligaments.any
  Body/AAUHuman/Trunk/L3L4Ligaments.any
  Body/AAUHuman/Trunk/L4L5Ligaments.any
  Body/AAUHuman/Trunk/L5SacrumLigaments.any
  Body/AAUHuman/Trunk/LigamentsSpineMiddle.any
  Body/AAUHuman/Trunk/SILigaments.any
  Body/AAUHuman/Trunk/T12L1Ligaments.any
  Body/Mandible/NormalMandible_AAU/PassiveElementLeft.any
  Body/Mandible/NormalMandible_AAU/PassiveElementRight.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

Simplify selected output for arms. (#660)
  Body/AAUHuman/Arm/LeftArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/LeftArmNoMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmMusclesSelectedOutput.any
  Body/AAUHuman/Arm/RightArmNoMusclesSelectedOutput.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftArmModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightArmModel.any
Due: other_tests, Application_tests

Fix wrong sign for the wrist flexion variable given in mannequin files (#661)
  Application/Examples/AirlinePassenger/Model/Mannequin.any
  Application/Examples/FreePosture/Model/Mannequin.any
  Application/Examples/PushUp/Model/Mannequin.any
  Application/Examples/SeatedHuman/Model/Mannequin.any
  Application/Examples/SeatedHumanFullWithNeck/Model/Mannequin.any
  Application/Examples/Squat/Model/Mannequin.any
  Application/Examples/StandingLift/Model/Mannequin.any
  Application/Examples/WheelChairRancho/Model/Mannequin.any
  Application/Examples/WheelTurn/Model/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureLyingOnBack/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingRelaxed/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureSeatingStraitNoSupport/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftClose/Mannequin.any
  Application/Validation/WilkeSpinalDiscPressure/SpinePressureStandingLiftStretchedArms/Mannequin.any
  Body/AAUHuman/Arm/InitialPositions.any
  Body/AAUHuman/Arm/Interface.any
  CHANGELOG.md
  Tests/Symmetry/DynamicTest/Model/MannequinInterpolation.any
  Tools/ModelUtilities/KinematicLimits/RangeOfMotionLimits_template.any
Due: other_tests, Application_tests

Run tests on new 7.4
  .github/workflows/nighly-tests.yml
Due: none

Optimization improvement: Driving BVH stick figure points to the target points. This greatly improves the offset (linear and angular) that can be accepted in the optimization.
  Application/MocapExamples/BVH_Xsens/Changes.any
Due: other_tests, Application_tests

Remove debug drawing
  Body/AAUHuman/Trunk/SegmentsThorax.any
Due: other_tests, Application_tests

Ensure the VideoTool Create Video is visible in operation dropdown
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Add example of creating videos in half speed.
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
Due: other_tests, Application_tests

Simplify main libdef
  Tools/conditional_paths.any
  libdef.any
Due: other_tests, Application_tests

Update itermediate MoCap files
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
Due: other_tests, Application_tests

Small release prep (#663)
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S1_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_MultiTrial_StandingRef/Output/S2_StandingRef.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-left_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-right_arm_shoulder.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/GRF_FullBody_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-left_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-euler-right_leg_tlem.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1-rotvec-trunk-full.txt
  Application/MocapExamples/Plug-in-gait_Simple/Output/LowerExtremity_GaitNormal_1.anyset
  Application/MocapExamples/Plug-in-gait_Simple/Setup/CreateVideo.any
  Tools/ModelUtilities/Video/CameraClassTemplate.any
  Tools/conditional_paths.any
  libdef.any
Due: other_tests, Application_tests

Update release date
  CHANGELOG.md
Due: none

Fix load problem for knee simulator example
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Application/Examples/KneeSimulator/Model/ClassTemplates.any
Due: other_tests, Application_tests

Use overlay from assist folder if it exists
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Pin sphinx build packages
  Docs/environment.yaml
Due: test_docs

Fix paths
  Application/Examples/KneeSimulator/Model/ClassTemplates.any
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests

Fix load problem for knee simulator example (#665)
  Application/Examples/KneeSimulator/Model/AnyKneeSimulator.any
  Application/Examples/KneeSimulator/Model/ClassTemplates.any
  Docs/environment.yaml
  Tools/ModelUtilities/Video/CameraClassTemplate.any
Due: other_tests, Application_tests, test_docs

fix syntax in "contribute" docs
  Docs/contribute.md
Due: test_docs

Update BodyModelConfiguration.any
  Application/Examples/StatisticalScalingPlugin/BodyModelConfiguration.any
Due: other_tests, Application_tests

Attempt to Optimize origin using AnyKinMotion on a single node but including rotational measures as well
  Application/MocapExamples/BVH_Xsens/Changes.any
Due: other_tests, Application_tests

Class template for optimizing BVH origin. WIP
  Application/MocapExamples/BVH_Xsens/LabSpecificData.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/BVH_OptimizeOrigin.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/BVH_Xsens_OptimizeOrigin.Main.any
  Application/MocapExamples/BVH_Xsens_OptimizeOrigin/Output/.gitkeep
Due: other_tests, Application_tests

Activate 7.5 beta tests, exclude linux for now
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Activate 7.5 beta tests, exclude linux for now (#667)
  .github/workflows/nighly-tests.yml
  .github/workflows/test.yml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
