Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Update Docs/migration.md
  Docs/migration.md
Due: test_docs

Docs for 7.4-7.5 model migration (#816)
  Docs/index.md
  Docs/migration.md
Due: test_docs

Update versions in CI tests
  .github/workflows/ammr-doc.yaml
  .github/workflows/nighly-tests.yml
Due: none

Fix typo i ci file
  .github/workflows/nighly-tests.yml
Due: none

Update build ci
  .github/workflows/ammr-doc.yaml
Due: none

create BM statement options for foot models
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.constants.any
  Body/AAUHuman/Documentation/BodyModel.parameters.any
  Body/AAUHuman/Documentation/bm_constants.py
  Body/AAUHuman/bm-parameters.toml
  Docs/bm_config/bm_constants.md
  Docs/bm_config/bm_statements.md
Due: other_tests, Application_tests, test_docs

Rename file
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Add changelog entry
  CHANGELOG.md
Due: none

update BM FOOT MODEL statements in GM foot include. Add reference to Foot.Talus in Leg.Seg folder
  Body/AAUHuman/FootGM/GM_foot.root.any
Due: other_tests, Application_tests

Add more points for RBF, fix scaling None, create T0 function in Foot.Scale
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

include GM foot models using BM Foot statement
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftLegTDModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightLegTDModel.any
Due: other_tests, Application_tests

Clean up class template files
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

class template documentaiton
  Docs/conf.py
  Docs/index.md
  Docs/tools/class-template.md.jinja
  Docs/tools/class-templates/Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Video.VideoLookAtCamera.md
  Docs/tools/class-templates/class_templates_TOC.txt
  Docs/tools/class_template_TOC.txt.jinja
  Docs/tools/generate_class_template_docs.py
  Docs/tools/overview.md
Due: test_docs

Update template docs
  Tools/AnyMocap/ForcePlates/ForcePlateTypes.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Add AMMR_TOOLS path
  libdef.any
Due: none

Update scripts for building class template docs
  Docs/conf.py
  Docs/environment.yaml
  Docs/index.md
  Docs/tools/ModelUtils-toc.md
  Docs/tools/class-template.md.jinja
  Docs/tools/class-templates/AMMR_TOOLS_TOC.txt
  Docs/tools/class-templates/ModelUtils.Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Video.VideoLookAtCamera.md
  Docs/tools/class-templates/class_templates_TOC.txt
  Docs/tools/class_template_TOC.txt.jinja
  Docs/tools/generate_class_template_docs.py
  Docs/tools/group-toc.md.jinja
  Docs/tools/overview.md
Due: test_docs

Update dependencies
  Docs/environment.yaml
Due: test_docs

Update crate marker documentaiton
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests

Update generator scripts
  Docs/tools/ModelUtils-toc.md
  Docs/tools/class-template.md.jinja
  Docs/tools/class-templates/AMMR_TOOLS_TOC.txt
  Docs/tools/class-templates/ModelUtils.Rhythms.SimpleRhythms.md
  Docs/tools/generate_class_template_docs.py
  Docs/tools/group-toc.md.jinja
Due: test_docs

Update class template documentation
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests

Iter
  AMMR.version.any
  Docs/tools/class-template.md.jinja
  Tools/AnyMocap/CreateMarkerDriverClass.any
Due: other_tests, Application_tests, test_docs

Improve doc system
  Docs/tools/class-template.md.jinja
  Docs/tools/generate_class_template_docs.py
  Docs/tools/group-toc.md.jinja
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Updates
  Docs/tools/class-template.md.jinja
  Docs/tools/generate_class_template_docs.py
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Move TLEM subtalar and ankle joint definitions outside of the foot segment so it can be used in GM foot
  Body/AAUHuman/LegTLEM/Seg.any
Due: other_tests, Application_tests

Remove GM Foot Mixin class template and implement changes into AMMR directly
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.StandardParameters.any
  Body/AAUHuman/BodyModels/GenericBodyModel/BodyModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/GMFoot.ClassTemplates.any
  Body/AAUHuman/BodyModels/GenericBodyModel/LeftLegTDModel.any
  Body/AAUHuman/BodyModels/GenericBodyModel/MannequinDefault.any
  Body/AAUHuman/BodyModels/GenericBodyModel/RightLegTDModel.any
  Body/AAUHuman/FootGM/GM_Foot_ModelParameters.any
  Body/AAUHuman/FootGM/GM_foot.root.any
  Body/AAUHuman/FootGM/InitialPositions.any
  Body/AAUHuman/FootGM/InitialPositionsRigidToeFlex.any
  Body/AAUHuman/FootGM/StandardParameters.any
  Body/AAUHuman/FootGM/StandardParametersExt.any
  Body/AAUHuman/HumanModel.defs.any
Due: other_tests, Application_tests

WIP: Update scaling implementation: Interface morphing + Geom Scaling
  Body/AAUHuman/FootGM/Scaling.any
Due: other_tests, Application_tests

Remove GM foot ankle and subtalar joint, add anatomical frame and stdpar references.
  Body/AAUHuman/FootGM/SegNodes.any
Due: other_tests, Application_tests

Add setup-micromamba to ammr2.4
  .github/actions/setup-micromamba/action.yml
Due: none

Ignore auto generated files
  Docs/tools/.gitignore
Due: test_docs

Remove unused file
  Body/AAUHuman/Arm/Muscle-parameters-shoulder2.any
Due: other_tests, Application_tests

Remove DEFAULT_PARAMETER_FOLDER template
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  CHANGELOG.md
  Tests/test_helper_templates.any
Due: other_tests, Application_tests

Update documentation for rhyhtm drivers
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests

Rename rhythm driver to TwoWay->BiLinear
  Tests/ModelUtilities/test_rhythmclass.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests

update
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Docs/index.md
  Docs/tools/class-template.md.jinja
  Docs/tools/class-templates.md
  Docs/tools/generate_class_template_docs.py
  Docs/tools/group-toc.md.jinja
  Tools/AnyMocap/CreateMarkerDriverClass.any
  Tools/Lib/classtools/MultipleSubTemplates.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
  Tools/ModelUtilities/Video/VideoLookAtCamera.any
Due: other_tests, Application_tests, test_docs

Updates
  Docs/tools/class-template.md.jinja
  Docs/tools/generate_class_template_docs.py
  Tools/AnyMocap/CreateMarkerDriverClass.any
  Tools/AnyMocap/ForcePlates/ForcePlateAutoDetection.any
  Tools/GRFPrediction/FootPlateConditionalContact.any
  Tools/ModelUtilities/Rhythms/SimpleRhythms.any
Due: other_tests, Application_tests, test_docs

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
