Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

.gitlab-ci.yml:

variables:
  GIT_STRATEGY: fetch
  NUM_PROC: 4  


.job_template: &AMMR_test_definition  # Hidden key that defines an anchor named 'job_definition'
  stage: test
  only: 
    changes:
      - Application/**/*
      - Body/**/*
      - Tests/**/*
      - Tools/**/*
  except:
    refs:
      - tags@anybody/beta/ammr
      - master@anybody/github-mirror/ammr
  tags:
    - ams


other_tests:
  <<: *AMMR_test_definition
  script:
    - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  <<: *AMMR_test_definition
  script:
    - pytest Tests/Applications -n %NUM_PROC%


test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
    - mkdir -p "/conda-cache"
    - export CONDA_PKGS_DIRS="/conda-cache"
    - conda config --set always_yes yes --set changeps1 no
    - conda info -a
    - conda install -q sphinx make
    - conda install -q -c conda-forge  cloud_sptheme pygments_anyscript matplotlib pillow
  script:
    - set -e
    - cd Docs
    - make html-dev
    - cd ..
    - mkdir -p public/beta
    - cp -rT Docs/_build/html public/beta
    - git checkout $(git describe --tags `git rev-list --tags --max-count=1`);
    - cd Docs
    - make clean
    - make html
    - cd ..
    - cp -rT Docs/_build/html public
  only:
    changes:
      - .gitlab-ci.yml
      - CHANGELOG.txt
      - Docs/**/*
  cache:
    paths:
      - /conda-cache
  artifacts:
    paths:
    - public
    expire_in: 10 hours



deploy_docs:
  stage: deploy
  environment:
    name: staging
    url: https://anyscript.org/ammr-doc/
  before_script:
    - gem install dpl
  only:
    refs:
      - master@anybody/beta/ammr
      - tags@anybody/beta/ammr
  script:
    - touch public/.nojekyll
    - ls public
    - apt-get update
    - apt-get install -y rsync
    - dpl --provider=pages --repo="AnyBody/ammr-doc" --target-branch=master --local-dir="public" --skip_cleanup --github-token=$GITHUB_TOKEN 
  #when: manual
  tags:
    - docker
    - ruby

Update Body/AAUHuman/Arm/GloveMuscle.any
  Body/AAUHuman/Arm/GloveMuscle.any
Due: other_tests, Application_tests

Update Tools/AnyMocap/RotationAxisAngles.any
  Tools/AnyMocap/RotationAxisAngles.any
Due: other_tests, Application_tests

Update Tools/GRFPrediction/WeakResiduals.any
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

Remove all bilateral recruited actutators (Fixes 10x slowdown of MoCap Models) (#751)
  Body/AAUHuman/Arm/GloveMuscle.any
  Tools/AnyMocap/RotationAxisAngles.any
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

hot fix for regression in WeakResiduals
  Tools/GRFPrediction/WeakResiduals.any
Due: other_tests, Application_tests

Add helper template for Name-Value output
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
Due: other_tests, Application_tests

Add helper template for Name-Value output (#752)
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
Due: other_tests, Application_tests

Ensure the NameValueMap classtemplate handles multiple dimensions
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

Use output-var variable to ensure output is evaluated correctly
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
Due: other_tests, Application_tests

Improve the buckle recruited support reactions.
  Body/AAUHuman/Trunk/BuckleSupport.any
Due: other_tests, Application_tests

add changelog entry
  CHANGELOG.md
Due: none

Adjust PSIS markers after pelvis tilt change
  Application/MocapExamples/Plug-in-gait_Simple/Setup/MarkerProtocol.any
Due: other_tests, Application_tests

Update the Name-Value-Map class template to support multiple dimensions (#753)
  Body/AAUHuman/BodyModels/GenericBodyModel/Helper.ClassTemplates.any
  Tests/AnyMocap/Test_Plug-in-gait_simple_fullbody.any
Due: other_tests, Application_tests

Buckle support (#754)
  Body/AAUHuman/Trunk/BuckleSupport.any
  CHANGELOG.md
Due: other_tests, Application_tests

Update version in changelog
  CHANGELOG.md
Due: none

Update environment
  Docs/environment.yaml
Due: test_docs

Update versions and changelog
  AMMR.version.any
  CHANGELOG.md
  Docs/about.md
  Docs/conf.py
Due: test_docs

Update size
  Docs/body/thoracic_model.md
Due: test_docs

Minor typos in changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix build error with new numpy
  Docs/exts/gallery.py
Due: test_docs

Update build environment to prevent sphinx from updating
  Docs/environment.yaml
Due: test_docs

Add small script to recreate MOCAP intermediate files
  Tests/recreate_mocap_intermediate_files.py
Due: other_tests, Application_tests

Update script for generating intermediate files
  Tests/recreate_mocap_intermediate_files.py
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs

Update LICENSE.txt
  LICENSE.txt
Due: none

Update README.md (#758)
  Docs/README.md
  LICENSE.txt
Due: test_docs
