Repository AnyBody/ammr: changes, and which GitLab CI jobs are due for each by the changed paths.
All: other_tests, Application_tests, test_docs

other_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest "--ignore=Tests/Applications" -n %NUM_PROC%

Application_tests:
  stage: test
  tags:
  - ams
  script:
  - pytest Tests/Applications -n %NUM_PROC%

test_docs:
  image:
    name: continuumio/miniconda3
  before_script:
  - mkdir -p "/conda-cache"
  - export CONDA_PKGS_DIRS="/conda-cache"
  - conda config --set always_yes yes --set changeps1 no
  - conda info -a
  - conda install -q sphinx make
  ...

Fix duration artefacts not beeing stored (#853)
  .github/workflows/nightly-tests.yml
  Tests/.test_durations
Due: other_tests, Application_tests

Update test durations
  Tests/.test_durations
  test-durations-1/.test_durations
  test-durations-10/.test_durations
  test-durations-2/.test_durations
  test-durations-3/.test_durations
  test-durations-4/.test_durations
  test-durations-5/.test_durations
  test-durations-6/.test_durations
  test-durations-7/.test_durations
  test-durations-8/.test_durations
  test-durations-9/.test_durations
Due: other_tests, Application_tests

Fix glob syntax
  .github/workflows/nightly-tests.yml
Due: none

Update durations bot (#855)
  .github/workflows/nightly-tests.yml
Due: none

Update test durations
  Tests/.test_durations
Due: other_tests, Application_tests

Enable test from forks
  .github/workflows/test.yml
Due: none

Update message in duration PR
  .github/workflows/nightly-tests.yml
Due: none

Add workflow for self-hosted testing on ammr-internal
  .github/workflows/test-self-hosted.yml
Due: none

Separate workflow for forks
  .github/workflows/test-forks.yml
  .github/workflows/test.yml
Due: none

fix syntax
  .github/workflows/test.yml
Due: none

Tweak pull request GitHub action setup (#857)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
Due: none

Update check for repository owner
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
Due: none

Update
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Prevent test from canceling each other
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Further configs to Pull Request setup (#858)
  .github/workflows/nightly-tests.yml
  .github/workflows/test-forks.yml
  .github/workflows/test-self-hosted.yml
  .github/workflows/test.yml
Due: none

Update test durations (#859)
  Tests/.test_durations
Due: other_tests, Application_tests

Add workflow to update internal ammr
  .github/workflows/update-ammr-internal.yml
Due: none

New way of using the video class template (#847)
  Docs/conf.py
  Docs/tools/class-templates/Rhythms.SimpleRhythms.md
  Docs/tools/class-templates/Video.VideoLookAtCamera.md
  Docs/tools/class-templates/class_templates_TOC.txt
  Docs/tools/class_template_TOC.txt.jinja
  Docs/tools/overview.md
Due: test_docs

Prepare public AMMR (#845)
  Docs/README.md
  Docs/about.md
Due: test_docs

Update pull request workflow 2 (#860)
  .github/workflows/update-ammr-internal.yml
Due: none

Update update workflow
  .github/workflows/update-ammr-internal.yml
Due: none

Update update workflow (#861)
  .github/workflows/update-ammr-internal.yml
Due: none

Issue trigger when AMMR updates
  .github/workflows/update-ammr-internal.yml
Due: none

Issue trigger when AMMR updates (#862)
  .github/workflows/update-ammr-internal.yml
Due: none

Rename dispatch workflow
  .github/workflows/dispatch-ammr-update-triggers.yml
Due: none

Make link to rendered changelog
  CHANGELOG.md
Due: none

Make link to rendered changelog (#863)
  CHANGELOG.md
Due: none

Add new parameters for nodes
  Body/AAUHuman/Trunk/TrunkData1.1/LumbarNodes.any
Due: other_tests, Application_tests

Update README.md
  Docs/README.md
Due: test_docs

Update README.md (#864)
  Docs/README.md
Due: test_docs

Make new anterior and posterior nodes on bone surfaces
  Body/AAUHuman/Trunk/SegmentsLumbar.any
Due: other_tests, Application_tests

Add direct ammr docs deploy steps
  .github/workflows/ammr-doc.yaml
Due: none

Add direct ammr docs deploy steps (#865)
  .github/workflows/ammr-doc.yaml
Due: none

Add force moment measure for lumbar JRF to transform the reaction force to new nodes aligned with the vertebral body.
  Body/AAUHuman/Trunk/JointsLumbar.any
Due: other_tests, Application_tests

Fix all links to previous ammr-doc links
  .github/workflows/ammr-doc.yaml
  CHANGELOG.md
  Docs/README.md
  Docs/conf.py
Due: test_docs

Update selected outputs to pick lumbar reaction force transformed to the reference nodes aligned with the vertebral body
  Body/AAUHuman/Trunk/SelectedOutput/TrunkSelectedOutput.any
Due: other_tests, Application_tests

fix ammr docs links
  .github/workflows/ammr-doc.yaml
  Docs/README.md
  Docs/conf.py
Due: test_docs

Add changelog entry for updated lumbar JRF.
  CHANGELOG.md
Due: none

Drop old deploy method
  .github/workflows/ammr-doc.yaml
Due: none

Path conditions:
  other_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  Application_tests: any of: Application/**/*, Body/**/*, Tests/**/*, Tools/**/*
  test_docs: any of: .gitlab-ci.yml, CHANGELOG.txt, Docs/**/*
